<div class="row">
  <div class="col-sm-12">
    <h1 class="font-weight-bold pull-right">
      <span class="text-blue">USER </span>&nbsp;<span class="text-green">REGISTRATION</span>
    </h1>
    <input type="file" (change)="onFileChange($event)" multiple="false"/>
    <table border="1">
      <tbody>
        <tr *ngFor="let row of data">
          <td *ngFor="let cell of row">
            {{cell}}
          </td>

        </tr>
      </tbody>
    </table> 
  </div>
  <div class="col-sm-12">
    <a class="btn btn-sm btn-primary btn-round pull-right" [routerLink]="['add']">New Registration</a>
    <!--
    <button class="btn btn-sm btn-primary btn-round pull-right" (click)="newRegistration(tmpNewRegistration)">New
      Registration</button>
    -->
  </div>
</div>
<div class="pt-3"></div>



<p-tabView>
  <p-tabPanel header="By Screening Plan">
    <div *ngIf="loading" >
      <i class="spinner-border spinner-border-sm text-primary"></i> Loading data...
      <div class="pt-3"></div>
    </div>
    <p-table #dt [value]="dataRegistration" [responsive]="true" [paginator]="true" [rows]="10"
      [globalFilterFields]="['name','ic_no','town','state','reg_no','date_registered']" *ngIf="!loading">
      <ng-template pTemplate="caption">
        <div style="text-align: right">
          <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
          <input type="text" pInputText size="50" placeholder="Global Filter"
            (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th width="5%">#</th>
          <th>Main User Account details</th>
          <th>Screening Plan</th>
          <th>Registration</th>
          <th>Payment</th>
          <th width="10%">Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-reg let-rowIndex="rowIndex">
        <tr>
          <td width="5%" style="vertical-align:top">
            <div class="ui-column-title text-green">#</div>
            <div>{{rowIndex+1}}</div>
          </td>
          <td style="vertical-align:top">
            <div class="ui-column-title text-green">MAIN USER ACCOUNT DETAILS </div>
            <div *ngIf="reg.company"><b>{{reg.company.name}}</b> ({{reg.company.co_reg_no}})</div>
            <div *ngIf="reg.screening_plan.category_code=='CORPORATE'&&!reg.company"><i>Company details not
                available</i>
            </div>
            <div>
              <hr *ngIf="reg.screening_plan.category_code=='CORPORATE'">
              <div *ngFor="let regPerson of reg.registration_persons;" class="small">
                <div *ngIf="regPerson.admin_type=='MAU'">
                  <b>{{regPerson.person.name}}</b> ({{regPerson.person.ic_no}})<br>
                  Username: {{regPerson.user_account?regPerson.user_account.username:'N/A'}}
                </div>
              </div>
            </div>
          </td>
          <td style="vertical-align:top">
            <div class="ui-column-title  text-green">SCREENING PLAN</div>
            <div>
              <span class="badge badge-info">{{reg.screening_plan.category_code}}</span>
              <div valign="top">
                (<b>{{reg.screening_plan.package_code}}</b>) {{reg.screening_plan.single_package}}
              </div>
            </div>
          </td>
          <td style="vertical-align:top">
            <div class="ui-column-title text-green">REGISTRATION</div>
            <div>
              <span class="badge"
                [ngClass]="{'badge-success':reg.status=='APPROVED','badge-secondary':reg.status=='PRE-ACCOUNT','badge-warning':reg.status=='PENDING-APPROVAL','badge-danger':reg.status=='BLOCKED'}">
                {{reg.status}}</span>
            </div>
            <div class="small">
              <span class="text-muted">Date registered:</span> <b>{{reg.date_registered}}</b>
            </div>
            <div class="small" *ngIf="reg.date_submission">
              <span class="text-muted">Date submission:</span> <b>{{reg.date_submission}}</b>
            </div>
            <div class="small" *ngIf="reg.date_expired">
              <span class="text-muted">Date expired:</span> <b>{{reg.date_expired}}</b>
            </div>
            <div class="small">
              <span class="text-muted">Reg. No: </span><b>{{reg.reg_no}}</b>
            </div>
          </td>
          <td style="vertical-align:top">
            <div class="ui-column-title text-green">PAYMENT</div>
            <div>
              <div *ngIf="reg.payment_method">
                <span class="badge badge-success">{{reg.payment_method}}</span>
                <div class="small">
                  <span class="text-muted">Payment Date: </span><b>{{reg.payment_date}} </b>
                </div>
                <div class="small">
                  <span class="text-muted">Total paid: </span><b>RM{{reg.amount_paid}} </b>
                </div>
                <div class="small">
                  <span class="text-muted ">Ref. No: </span><b>{{reg.payment_no}} </b>
                </div>
              </div>
              <i class="small" *ngIf="!reg.payment_method">No payment details</i>
            </div>
          </td>
          <td width="10%" style="vertical-align:top">
            <div class="text-right">
              <button class="btn btn-sm btn-round btn-primary" (click)="manageRegistration(tmpRegistration,reg)">
                View details
              </button>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        {{dataRegistration?.length}} total records
      </ng-template>
    </p-table>
  </p-tabPanel>
  <p-tabPanel header="Search Person/Patient">

    <div class="row">
      <div class="col-sm-6">
        <form (submit)="searchPerson()">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search by IC No / Name / Town / State" [(ngModel)]="keyword" [ngModelOptions]="{standalone: true}">
            <div class="input-group-append">
              <button class="btn btn-success" type="submit" (click)="searchPerson()">Go</button>
            </div>
        </div>
        </form>
      </div>
    </div>

 

    <p-table #dt [value]="dataPerson" [responsive]="true" [paginator]="true" [rows]="10"
      [globalFilterFields]="['name','ic_no','town','state','reg_no','date_registered']" *ngIf="dataPerson&&!isSearching">
      <ng-template pTemplate="caption">
        <div style="text-align: right">
          
          <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
          <input type="text" pInputText size="50" placeholder="Global Filter"
            (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th width="5%">#</th>
          <th>Name</th>
          <th>Contact</th>
          <th>Package Registration</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-person let-rowIndex="rowIndex">
        <tr>
          <td  style="vertical-align:top">{{rowIndex+1}}</td>
          <td  style="vertical-align:top">{{person.name}}<br>{{person.ic_no}}</td>
          <td  style="vertical-align:top">
            
            <span *ngIf="person.address">{{person.address}}<br></span>
            <span *ngIf="person.town">{{person.town}}<br></span> 
            <span *ngIf="person.district">{{person.district}}<br></span>
            <span *ngIf="person.state">{{person.state}}<br></span>
            <span *ngIf="person.mobile_no">+60{{person.mobile_no}}<br></span>
            <span *ngIf="person.email">{{person.email}}<br></span>
          </td>
          <td class="small">
            <ng-container *ngIf ="person.registration_persons?.length>0">
              <div *ngFor="let reg of person.registration_persons; let last=last">
                <div *ngIf="reg.registration">
                  Reg. No: {{reg.reg_no}}
                  <br>Package: {{reg.registration.package_code}}  
                  <br>Status: {{reg.registration.status}}  
                  <br>Date registered: {{reg.registration.date_registered}}
                  <br>
                  <span *ngIf="reg.person_type_code" class="font-weight-bold">{{reg.person_type_code=='PATIENT'?reg.person_type_code:'NON-PATIENT'}} </span>
                  <span *ngIf = "reg.user_account">
                    <br>
                    <br>Account: {{reg.user_account.acc_type_code}}  
                    <br>Username: {{reg.user_account.username}}
                    <br>Status: {{reg.user_account.acc_status_code}}
                    
                  </span>
                  <hr *ngIf="!last">
                </div>
              </div>
            </ng-container>
            <div *ngIf ="person.registration_persons?.length==0">
              This person is not registered to any package plan anymore
            </div>

          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        {{dataPerson?.length}} total records
      </ng-template>
    </p-table>

    <div *ngIf="!isSearching&&!dataPerson">
      <i>No record found</i>
    </div>

    <div *ngIf="isSearching" >
      <i class="spinner-border spinner-border-sm text-primary"></i> Searching data...
    </div>

  </p-tabPanel>
</p-tabView>




<ng-template #tmpRegistration let-modal>
  <div class="modal-content">
    <div class="modal-header bg-primary">
      Registration for {{dataUserReg.name}} ( {{dataUserReg.reg_no}})
      <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">X</span>
      </button>
    </div>
    <div class="modal-body">

      <div class="row">
        <div class="col-sm-5">

          <h2 class="font-weight-bold text-green">Registration Info - {{dataUserReg.screening_plan.category_code}}</h2>
          <div class="row">
            <div class="col-sm-6" style="padding-bottom: 15px;">
              <div class="small">Screening Plan</div>
              <b>({{dataUserReg.screening_plan.package_code}}) {{dataUserReg.screening_plan.single_package}} </b>
            </div>
            <div class="col-sm-6" style="padding-bottom: 15px;">
              <div class="small">Date registered</div>
              <b>{{dataUserReg.date_registered}} </b>
            </div>
            <div class="col-sm-6" style="padding-bottom: 15px;">
              <div class="small">Registration no</div>
              <b>{{dataUserReg.reg_no}} </b>
            </div>
            <div class="col-sm-6" style="padding-bottom: 15px;">
              <div class="small">Registration status</div>
              <b>{{dataUserReg.status}} </b>
              <div>
                <button class="btn btn-sm btn-round btn-primary" style="margin-right: 5px;"
                  (click)="approveApplication()" tooltip="Approve this application"
                  *ngIf="dataUserReg.status=='PENDING-APPROVAL' || dataUserReg.status=='PRE-ACCOUNT'">Approve</button>
                <button class="btn btn-sm btn-round btn-primary" (click)="resetApplication()" style="margin-right: 5px;"
                  *ngIf="dataUserReg.status!='PRE-ACCOUNT'" tooltip="Reset application status">Reset</button>
                <button class="btn btn-sm btn-round btn-danger" (click)="blockApplication()" style="margin-right: 5px;"
                  tooltip="Block this application" *ngIf="dataUserReg.status!='BLOCKED'">Block</button>
                <button class="btn btn-sm btn-round btn-danger" (click)="deleteApplication()"
                  tooltip="Delete this application">Delete</button>
              </div>
              <div *ngIf="dataUserReg.status=='PRE-ACCOUNT'">
                <i>No submission</i>
              </div>
            </div>
          </div>
          <hr>

          <app-dsh-company-details [data-registration]="dataUserReg"
            *ngIf="dataUserReg.screening_plan.category_code=='CORPORATE'"></app-dsh-company-details>

          <!-- <div *ngIf="dataUserReg.screening_plan.category_code=='CORPORATE'">
            <hr>
            <h4 class="font-weight-bold text-green">COMPANY INFO</h4>
              <div [formGroup]="dataCompanyForm" *ngIf="dataCompanyForm">
                <div class="row">
                  <div class="col-sm-4">
                    <label class="small">Company Registration No</label>
                  </div>
                  <div class="col-sm-8">
                    <input type="text" placeholder="Enter Company Reg. No" id="name" formControlName="co_reg_no">
                    <div *ngIf="isSubmittedCo && dataCompanyForm.get('co_reg_no').invalid"
                      class="field-validation-error small">
                      <div class="text-danger">Company Registration No is required</div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4">
                    <label class="small">Company Name</label>
                  </div>
                  <div class="col-sm-8">
                    <input type="text" placeholder="Enter company name" id="name" formControlName="name" size="38px">
                    <div *ngIf="isSubmittedCo && dataCompanyForm.get('name').invalid"
                      class="field-validation-error small">
                      <div class="text-danger">Company Name is required</div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4">
                    <label class="small">Address</label>
                  </div>
                  <div class="col-sm-8">
                    <input type="text" placeholder="Enter address" id="address" formControlName="address" size="38px">
                    <div *ngIf="isSubmittedCo && dataCompanyForm.get('address').invalid"
                      class="field-validation-error small">
                      <div class="text-danger">Address Name is required</div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4">
                    <label class="small">Town</label>
                  </div>
                  <div class="col-sm-8">
                    <input type="text" placeholder="Enter town" id="town" formControlName="town">
                    <div *ngIf="isSubmittedCo && dataCompanyForm.get('town').invalid"
                      class="field-validation-error small">
                      <div class="text-danger">Town is required</div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4">
                    <label class="small">District</label><br>
                  </div>
                  <div class="col-sm-8">
                    <input type="text" placeholder="Enter district" id="district" formControlName="district">
                    <div *ngIf="isSubmittedCo && dataCompanyForm.get('district').invalid"
                      class="field-validation-error small">
                      <div class="text-danger">District is required</div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4">
                    <label class="small">State</label><br>
                  </div>
                  <div class="col-sm-8">
                    <select formControlName="state" width="20px" placeholder="Select state">
                      <option [value]="state.state_name" *ngFor="let state of states">{{state.state_name}}</option>
                    </select>
                    <div *ngIf="isSubmittedCo && dataCompanyForm.get('state').invalid"
                      class="field-validation-error small">
                      <div class="text-danger">State is required</div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4">
                    <label class="small">Contact No</label>
                  </div>
                  <div class="col-sm-8">
                      <input type="text" placeholder="Enter Contact No" id="contact_no" formControlName="contact_no"
                        size="15px">
                      <div *ngIf="isSubmittedCo && dataCompanyForm.get('contact_no').invalid"
                        class="field-validation-error small">
                        <div class="text-danger">Contact No is required</div>
                      </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4">
                      <label class="small">Email</label>
                  </div>
                  <div class="col-sm-8">
                    <input type="text" placeholder="Enter email" id="email" formControlName="email" size="35px">
                    <div *ngIf="isSubmittedCo && dataCompanyForm.get('email').invalid"
                      class="field-validation-error small">
                      <div class="text-danger">Email is required</div>
                    </div>
                  </div>
                </div>
              </div>
            <div *ngIf="!dataUserReg.company"><i>Company details not available</i> </div>
            <div class="row">
              <div class="col-sm-12 text-right">
                <button type="button" class="btn btn-sm btn-round btn-primary" *ngIf="modeCompany=='VIEW'" (click)="updateCompanyInfo()">Update company info</button>
                <button type="button" class="btn btn-sm btn-round btn-primary" *ngIf="modeCompany=='EDIT'">Save company info</button>
                <button type="button" class="btn btn-sm btn-round btn-secondary" *ngIf="modeCompany=='EDIT'" (click)="cancelCompanyInfo()">Cancel</button>
              </div>
            </div>
          </div> -->


          <h2 class="font-weight-bold text-green">Payment Info</h2>
          <div class="row" *ngIf="dataUserReg.payment_method">
            <div class="col-sm-6" style="padding-bottom: 15px;">
              Total Payment: <br><b>RM{{dataUserReg.amount_paid}} </b>
            </div>
            <div class="col-sm-6" style="padding-bottom: 15px;">
              Payment Method: <br><b>{{dataUserReg.payment_method}} </b>
            </div>
            <div class="col-sm-6" style="padding-bottom: 15px;">
              Payment Date: <br><b>{{dataUserReg.payment_date}} </b>
            </div>
            <div class="col-sm-6" style="padding-bottom: 15px;">
              Reference: <br><b>{{dataUserReg.payment_no}} </b>
            </div>
          </div>
          <div *ngIf="!dataUserReg.payment_method"><i>No payment details</i></div>
        </div>

        <div class="col-sm-7" style="border-left: solid 1px lightgray;">
          <!-- <h4 class="font-weight-bold text-green">USER ACCOUNT INFO</h4> -->
          <app-dsh-patient-details [data-registration]="dataUserReg" *ngIf="dataUserReg"></app-dsh-patient-details>

          <!-- <mat-tab-group>
            <mat-tab *ngFor="let user of  dataUserReg.registration_persons" [label]="user.person.name">
              <div *ngIf="user.person.ic_no">
                <div class="row">
                  <div class="col-sm-4" *ngIf="user.user_account">
                    <div class="card">
                      <div class="card-body">
                        <span class="small">Account:</span><b> <span class="badge"
                            [ngClass]="{'badge-warning':user.user_account.acc_type_code!='MAU','badge-danger':user.user_account.acc_type_code=='MAU'}">{{user.user_account.acc_type_code}}</span></b><br>
                        <span class="small">Username:</span><b> {{user.user_account.username}}</b><br>
                        <button type="button" class="btn btn-sm btn-round btn-primary"
                          (click)="resetPassword(user)">Reset
                          password</button>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-8">
                    <div class="row">
                      <div class="col-sm-3"> <span class="small">Name:</span></div>
                      <div class="col-sm-9"><b>{{user.person.name}}</b></div>
                    </div>
                    <div class="row">
                      <div class="col-sm-3"><span class="small">IC No:</span></div>
                      <div class="col-sm-9"><b> {{user.person.ic_no}}</b> </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-3"><span class="small">Age:</span></div>
                      <div class="col-sm-9"><input type="text" size="3"></div>
                    </div>
                    <div class="row">
                      <div class="col-sm-3"><span class="small">Patient Type:</span> </div>
                      <div class="col-sm-9"><b>{{user.patient_type_code?user.patient_type_code:'NONE'}}</b></div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-8">
                    <div class="row">
                      <div class="col-sm-3"> <span class="small">Address:</span> </div>
                      <div class="col-sm-9"> <input type="text" size="40"> </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-3"> <span class="small">District:</span> </div>
                      <div class="col-sm-9"> <input type="text"> </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-3"> <span class="small">Town:</span></div>
                      <div class="col-sm-9"><input type="text"></div>
                    </div>
                    <div class="row">
                      <div class="col-sm-3"><span class="small">Postcode:</span></div>
                      <div class="col-sm-9"><input type="text" size="10"></div>
                    </div>
                    <div class="row">
                      <div class="col-sm-3"><span class="small">State:</span></div>
                      <div class="col-sm-9"><input type="text"></div>
                    </div>
                    <div class="row">
                      <div class="col-sm-3"><span class="small">Email:</span></div>
                      <div class="col-sm-9"><input type="text" size="30"></div>
                    </div>
                    <div class="row">
                      <div class="col-sm-3"><span class="small">Mobile no:</span></div>
                      <div class="col-sm-9">+60<input type="text" size="10"></div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="small">Supporting document(s):</div>
                    <div *ngFor="let doc of user.person.documents" class="small">
                      <button class="btn btn-sm text-primary" tooltip="View Print" (click)="printDoc(doc.filename)"><i
                          class="fa fa-print"></i></button>
                      {{doc.ori_filename}}
                    </div>
                    <div *ngIf="user.person.documents.length==0">
                      <i>Not uploaded</i>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 text-right">
                    <button type="button" class="btn btn-sm btn-round btn-primary" *ngIf="modeUser=='VIEW'" (click)="updateUserInfo(user)">Update user info</button>
                    <button type="button" class="btn btn-sm btn-round btn-primary" *ngIf="modeUser=='EDIT'">Save user info</button>
                    <button type="button" class="btn btn-sm btn-round btn-secondary" *ngIf="modeUser=='EDIT'" (click)="cancelUserInfo()">Cancel</button>
                  </div>
                </div>
              </div>
              <div *ngIf="!user.person.ic_no"><i>Invalid user information</i></div>
            </mat-tab>
          </mat-tab-group> -->
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-sm btn-secondary btn-round pull-right" (click)="modalRef.hide()">Close</button>
    </div>
  </div>
</ng-template>


<ng-template #tmpNewRegistration let-modal>
  <div class="modal-content">
    <div class="modal-header bg-primary">
      New Registration
      <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">X</span>
      </button>
    </div>
    <div class="modal-body" [formGroup]="formDetails">

      <div class="row" *ngIf="screeningPlans">
        <div class="col-sm-6">
          Legend: <span class="badge badge-success">COMMERCIAL</span><span class="badge badge-danger">NON-COMMERCIAL (customized)</span>
          <div class="pt-2"></div>
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let item of screeningPlans ">
              <b>{{item.category}}</b>
              <div class="form-check" *ngFor="let plan of item.plans"
                [ngClass]="{'bg-primary':plan.package_code==formDetails.get('package_code').value}">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" [value]="plan.package_code" name="optPackageCode"
                    (change)="optChange($event)">
                  <span class="badge" [ngClass]="{'badge-success':plan.commercial=='YES', 'badge-danger':plan.commercial=='NO'}">{{plan.package_code}}</span>
                  <span [ngClass]="{'font-weight-bold':plan.package_code==formDetails.get('package_code').value}">
                    {{plan.single_package}} (MYR{{plan.price}})</span>
                </label>
              </div>
            </li>
          </ul>
          <div *ngIf="isSubmitted && formDetails.get('package_code').invalid" class="field-validation-error small">
            <div class="text-danger">Package plan is required</div>
          </div>
        </div>
        <div class="col-sm-6 " style="border-left: solid 1px lightgray;">
          <div class="row">
            <div class="col-sm-12">
              <b class="text-green">MAIN USER ACCOUNT DETAILS</b>
              <div class="pt-3"></div>
            </div>

            <div class="col-sm-12">
              <div class="form-group">
                <label for="usr">Full Name:</label>
                <input type="text" class="form-control" formControlName="name" maxlength="100">
                <div *ngIf="isSubmitted && formDetails.get('name').invalid" class="field-validation-error small">
                  <div class="text-danger">Name is required</div>
                </div>
              </div>
            </div>

            <div class="col-sm-6 ">
              <div class="form-group">
                <label for="usr">IC Card (MYKAD) Number without dash:</label>
                <input type="text" class="form-control" formControlName="ic_no" maxlength="12">
                <div *ngIf="isSubmitted && formDetails.get('ic_no').invalid" class="field-validation-error small">
                  <div class="text-danger">IC No is required</div>
                </div>
              </div>
            </div>

            <div class="col-sm-6 ">
              <div class="form-group">
                <label for="usr">Email:</label>
                <input type="text" class="form-control" formControlName="email">
                <div *ngIf="isSubmitted && formDetails.get('email').invalid" class="field-validation-error small">
                  <div class="text-danger">Email is required</div>
                </div>
              </div>
            </div>

            <div class="col-sm-8 ">
              <div class="form-group">
                <label for="usr">Mobile no:</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend ">
                    <span class="input-group-text bg-white text-dark">+60</span>
                  </div>
                  <input type="text" class="form-control" formControlName="mobile_no">
                </div>
                <div *ngIf="isSubmitted && formDetails.get('mobile_no').invalid" class="field-validation-error small">
                  <div class="text-danger">Mobile No is required</div>
                </div>
              </div>
            </div>

            <div class="col-sm-12">
              <b class="text-green">PAYMENT DETAILS</b>
              <div class="pt-3"></div>
            </div>

            <div class="col-sm-4">
              <div class="form-group">
                <label for="usr">Total Payment(MYR):</label>
                <input type="number" class="form-control" formControlName="amount_paid">
                <div *ngIf="isSubmitted && formDetails.get('amount_paid').invalid" class="field-validation-error small">
                  <div class="text-danger">Total payment is required</div>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="form-group">
                <label for="usr">Reference no:</label>
                <input type="text" class="form-control" formControlName="payment_no">
                <div *ngIf="isSubmitted && formDetails.get('payment_no').invalid" class="field-validation-error small">
                  <div class="text-danger">Reference no is required</div>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="form-group">
                <label for="usr">Payment Method:</label>
                <!-- <input type="text" class="form-control" id="usr"> -->
                <select class="form-control" formControlName="payment_method">
                  <option value="CASH" *ngFor="let pm of paymentMethods" [value]="pm.code">{{pm.code}}</option>
                </select>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="form-group">
                <label for="usr">Date of payment:</label>
                <!-- <input type="text" class="form-control" formControlName="payment_date"> -->
                <p-calendar formControlName="payment_date" dateFormat="yy-mm-dd"></p-calendar>
                <div *ngIf="isSubmitted && formDetails.get('payment_date').invalid"
                  class="field-validation-error small">
                  <div class="text-danger">Payment date is required</div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <button class="btn btn-sm btn-primary btn-round pull-right" (click)="registerNewUser()">Register</button>
      <button class="btn btn-sm btn-secondary btn-round pull-right" (click)="modalRef.hide()">Close</button>
    </div>
  </div>
</ng-template>