<div class="row">
  <div class="col-sm-12">
    <h1 class="font-weight-bold pull-right">
      <span class="text-blue">MANAGE</span>&nbsp;<span class="text-green">TEST PANEL & TEST MARKER</span>
    </h1>
  </div>
  <div class="col-sm-12 bg-white">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <th colspan="2">Test Panel</th>
        </thead>
        <tbody>
          <tr *ngFor="let panel of dataTestPanel">
            <td>
              <span class="badge badge-warning">{{panel.test_panel_code}} </span><br>
              <b>{{panel.name}}</b><button class="btn btn-sm text-primary pull-right"
                (click)="editTestPanel(tmpInputTestPanel,panel)" [tooltip]="'Edit test panel for ' + panel.name"
                placement="right"><i class="fa fa-pencil"></i></button>
              <br><span class="small">Input by: {{panel.input_type}}</span>
            </td>
            <td>
              <button class="btn btn-sm btn-round btn-primary pull-right" tooltip="Add new"
                (click)="newTestMarker(tmpInputNewTestMarker,panel)" placement="left"><i class="fa fa-plus"></i> New
                Test Marker</button>
              <table class="table-bordered table-striped table-sm" width="100%"
                *ngIf="panel.test_markers.length>0; else tpNoTestMarker">
                <thead>
                  <tr>
                    <th rowspan=2>Test Marker </th>
                    <th rowspan=2 width="10%" class="text-center">Unit</th>
                    <th width="10%" [attr.colspan]="testMarkerRef.length" class="text-center">Reference Range</th>
                    <th width="10%" class="text-center">#</th>
                  </tr>
                  <tr>
                    <th width="10%" class="text-center" *ngFor="let level of testMarkerRef">{{level.code}}</th>
                    <th class="text-center">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let marker of panel.test_markers">
                    <td>
                      <span class="badge badge-warning">{{marker.code}} </span> <br>{{marker.name}}
                      <button class="btn btn-sm text-primary pull-right"
                        (click)="editTestMarker(tmpInputNewTestMarker,marker,panel)"
                        [tooltip]="'Edit test marker for '+ marker.name" placement="bottom"><i
                          class="fa fa-pencil"></i></button>
                    </td>
                    <td class="text-center">
                      <span class="textvalignmiddle">{{marker.unit}}</span>
                    </td>
                    <td *ngFor="let level of testMarkerRef" class="text-center">
                      <ng-container *ngFor="let range of marker.test_reference_range | find:'code':level.code">
                        <span *ngIf="range.min" class="textvalignmiddle">{{range.min}} - {{range.max}}</span>
                      </ng-container>
                    </td>
                    <td class="text-center"><span class="textvalignmiddle"><button class="btn btn-sm text-primary"
                          (click)="editRefRange(tmpInputRefRange, marker)"
                          [tooltip]="'Edit reference range for '+ marker.name" placement="left"><i
                            class="fa fa-pencil"></i></button></span></td>
                  </tr>
                </tbody>
              </table>
              <ng-template #tpNoTestMarker>
                <i>No test markers available</i>
              </ng-template>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template #tmpInputTestPanel let-modal>
  <div class="modal-content">
    <div class="modal-header bg-primary">
      {{mode}} TEST PANEL
      <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">X</span>
      </button>
    </div>
    <div class="modal-body">
      <div [formGroup]="dataFormPanel" *ngIf="dataFormPanel">
        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <!-- <pre>{{dataTestPanel|json}}</pre> -->
              <div class="form-group col-sm-4">
                <label for="code">Test Panel Code <br>
                  <span class="badge badge-warning badge-md"> {{dataFormPanel.get('test_panel_code').value}} </span><br>
                </label>
              </div>
              <!-- <div class="form-group col-sm-4">
                <label for="code">Test Panel<br>
                  <b>{{dataFormPanel.get('name').value}}</b></label>
              </div>
              
            <hr> -->
            </div><br>
            <div class="row">
              <div class="form-group col-sm-6">
                <label for="name">Test Panel Name</label>
                <b><input type="text" class="form-control" placeholder="Enter name" id="name"
                    formControlName="name"></b>
                <div *ngIf="isSubmitted && dataFormPanel.get('name').invalid" class="field-validation-error small">
                  <div class="text-danger">Name is required</div>
                </div>
              </div>
              <div class="form-group col-sm-6">
                <label for="input_type">Input Type</label>
                <b><input type="text" class="form-control mr-sm-2" placeholder="Enter description" id="input_type"
                    formControlName="input_type"></b>
                <div *ngIf="isSubmitted && dataFormPanel.get('input_type').invalid"
                  class="field-validation-error small">
                  <div class="text-danger">Input type is required</div>
                </div>
              </div>
              <div class="form-group col-sm-12">
                <label for="description">Description</label>
                <b><input type="text" class="form-control mr-sm-2" placeholder="Enter description" id="description"
                    formControlName="description"></b>
                <!-- <div *ngIf="isSubmitted && dataFormPanel.get('description').invalid"
                  class="field-validation-error small">
                  <div class="text-danger">Description is required</div> -->
                <!-- </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pull-right">
        <button type="button" class="btn btn-sm btn-round btn-primary" (click)="savePanel()">
          Save</button>
        <button type="button" class="btn btn-sm btn-round btn-secondary" (click)="modalRef.hide()"> Close</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #tmpInputNewTestMarker let-modal>
  <div class="modal-content">
    <div class="modal-header bg-primary">
      {{mode}} TEST MARKER
      <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">X</span>
      </button>
    </div>
    <div class="modal-body">
      <div [formGroup]="dataFormMarker" *ngIf="dataFormMarker">
        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <!-- <pre>{{dataFormPanel|json}}</pre> -->
              <div class="form-group col-sm-6">
                <label for="code">Test Panel</label><br>
                <span class="badge badge-md badge-warning">{{selectedTestPanel.name}}</span>
              </div>
              <div class="form-group col-sm-6">
                <label for="code">Test Marker Code</label><br>
                <!-- <b><span class="badge badge-warning badge-md">{{dataFormMarker.get('code').value}}</span></b> -->
                <input type="text" class="form-control" placeholder="Enter code" *ngIf="mode=='NEW'" id="code"
                  formControlName="code">
                <b *ngIf="mode=='EDIT'"><span
                    class="badge badge-warning badge-md">{{dataFormMarker.get('code').value}}</span></b>
              </div>
              <div class="form-group col-sm-12">
                <label for="name">Test Marker Name</label>
                <b><input type="text" class="form-control" placeholder="Enter name" id="name"
                    formControlName="name"></b>
                <div *ngIf="isSubmitted && dataFormMarker.get('name').invalid" class="field-validation-error small">
                  <div class="text-danger">Name is required</div>
                </div>
              </div>
              <div class="form-group col-sm-12">
                <label for="description">Description</label>
                <textarea class="form-control" rows="5" formControlName="description" id="description"></textarea>
                <div *ngIf="isSubmitted && dataFormMarker.get('description').invalid"
                  class="field-validation-error small">
                  <div class="text-danger">Description is required</div>
                </div>
              </div>
              <div class="form-group col-sm-3">
                <label for="unit">Unit</label>
                <b><input type="text" class="form-control mr-sm-2 " placeholder="Enter unit" id="unit"
                    formControlName="unit"></b>
                <div *ngIf="isSubmitted && dataFormMarker.get('unit').invalid" class="field-validation-error small">
                  <div class="text-danger">Unit is required</div>
                </div>
              </div>
              <div class="col-sm-5">
                <label for="format">Format</label>
                <select class="form-control" formControlName="data_format">
                  <option value="0">No decimal point</option>
                  <option value="1">1 decimal point</option>
                  <option value="2">2 decimal point</option>
                </select>
                <div *ngIf="isSubmitted && dataFormMarker.get('data_format').invalid"
                  class="field-validation-error small">
                  <div class="text-danger">Format is required</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pull-right">
        <button type="button" class="btn btn-sm btn-round btn-primary" (click)="saveMarker()">
          Save</button>
        <button type="button" class="btn btn-sm btn-round btn-secondary" (click)="modalRef.hide()"> Close</button>
      </div>

    </div>
  </div>
</ng-template>


<ng-template #tmpInputRefRange let-modal>
  <div class="modal-content">
    <div class="modal-header bg-primary">
      UPDATE REFERENCE RANGE
      <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">X</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-12">
          <!-- <pre>{{selectedMarkerRefRange|json}}</pre> -->
          <div class="row">
            <div class="form-group col-sm-5">
              <label>Test Marker </label><br>
              <span class="badge badge-md badge-warning">{{selectedMarkerRefRange.code}}</span> -
              <b>{{selectedMarkerRefRange.name}}</b>
            </div>
            <div class="form-group col-sm-5">
              <label>Format </label><br>
              <b>{{selectedMarkerRefRange.data_format==0?'No':selectedMarkerRefRange.data_format}} decimal point</b>
            </div>
            <div class="form-group col-sm-2">
              <div class="pull-right">
                <button class="btn btn-sm btn-round btn-primary pull-right" tooltip="Add new" (click)="newRange()"
                  placement="bottom"><i class="fa fa-plus"></i> New Reference Range</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table class="table-striped table-bordered">
            <thead class="bg-grey">
              <th width="15%">Code</th>
              <th width="15%">Min</th>
              <th width="15%">Max</th>
              <th width="29%">Summary</th>
              <th width="6%">Action</th>
            </thead>
            <tbody>
              <tr *ngFor="let range of selectedMarkerRefRange.test_reference_range">
                <td><span>{{range.code}}</span></td>
                <td><span class="text-center">{{range.min}}</span></td>
                <td><span class="text-center">{{range.max}}</span></td>
                <td>{{range.summary}}</td>
                <td><span class="textvalignmiddle"><button class="btn btn-sm text-primary" placement="bottom"
                      [tooltip]="'Edit' + range.code" (click)="editRange(range)"><i class="fa fa-pencil"></i></button>
                    <button class="btn btn-sm text-primary" placement="bottom" [tooltip]="'Delete '+ range.code"
                      (click)="deleteRange(range)"> <i class="fa fa-trash"></i></button></span>
                </td>
              </tr>
            </tbody>
          </table>
          <div *ngIf="selectedMarkerRefRange.test_reference_range.length==0">
            <i>No data to display</i>
          </div>
          <hr>
          <div [formGroup]="formEditRefRange" *ngIf="modeRange">
            <div class="card-body">
              <div class="row">
                <!-- {{testMarkerRef|json}} -->
                <div class="col-sm-12">
                  <span class="font-weight-bold">{{modeRange}} Reference Range</span>
                </div>
                <hr>
                <div class="col-sm-4">
                  Reference Range Code
                  <select class="form-control" formControlName="code">
                    <option *ngFor="let level of testMarkerRef" [value]="level.code">
                      {{level.code}}
                    </option>
                  </select>
                </div>
                <div class="col-sm-4">
                  Minimum Range <input type="text" class="form-control" placeholder="Enter min" id="min"
                    formControlName="min">
                  <div *ngIf="isSubmitted && formEditRefRange.get('min').invalid" class="field-validation-error small">
                    <div class="text-danger">Minimum range is required</div>
                  </div>
                  <div
                    *ngIf="isSubmitted && formEditRefRange.get('min').valid && !isValidDecimalPlaces(formEditRefRange.get('min').value)"
                    class="field-validation-error small">
                    <div class="text-danger">Invalid format</div>
                  </div>
                </div>
                <div class="col-sm-4">
                  Maximum Range <input type="text" class="form-control" placeholder="Enter max" id="max"
                    formControlName="max">
                  <div *ngIf="isSubmitted && formEditRefRange.get('max').invalid" class="field-validation-error small">
                    <div class="text-danger">Maximum range is required</div>
                  </div>
                  <div *ngIf="isSubmitted && formEditRefRange.get('max').valid&& !isValidDecimalPlaces(formEditRefRange.get('max').value)" class="field-validation-error small">
                    <div class="text-danger">Invalid format</div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <br>
                  <div>Input the summary text attributed to this reading</div>
                  <textarea class="form-control" placeholder="Enter summary" rows="5"
                    formControlName="summary"></textarea>
                  <div *ngIf="isSubmitted && formEditRefRange.get('summary').invalid"
                    class="field-validation-error small">
                    <div class="text-danger">Summary is required</div>
                  </div>
                  <div class="small">
                    The summary will be displayed at the patient module for this for all readings
                  </div>
                </div>
              </div>
              <div>
   
                <button type="button" class="btn btn-sm btn-round btn-primary pull-right" (click)="saveRefRange()">
                  Save</button>
              </div>

            </div>

          </div>
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <div class="pull-right">
        <button type="button" class="btn btn-sm btn-round btn-secondary" (click)="modalRef.hide()"> Close</button>
      </div>
    </div>
  </div>
</ng-template>