<div class="row">
  <div class="col-sm-12">
    <h1 class="font-weight-bold pull-right">
      <span class="text-blue">MY</span>&nbsp;<span class="text-green">BIODATA</span>
    </h1>
  </div>
</div>

<div *ngIf="loading">
  <i class="spinner-border spinner-border-sm text-primary"></i> Loading biodata info...
</div>


<div class="row" *ngIf="!loading">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <h3 class="font-weight-bold text-green">
    
          <img [src]="photoUrl" (error)="setDefaultPic($event)" class="pull-right"
                    width="80px">

          BIODATA</h3>
        <span>Note: If you need to change any particular in this profile, please contact our Admin through MY INBOX message</span>
      </div>
      <div class="card-body">
        <div *ngIf="user">
          <div class="row">
            <div class="col-sm-6">
              <div class="row">
                <div class="form-group col-sm-9">
                  <label for="name" class="small muted">Name</label>
                  <div class="font-weight-bold">{{user.person.name}}</div>
                  <!-- <input type="text" class="form-control" placeholder="Enter name" id="name" formControlName="name"> -->
                  <!-- <div *ngIf="isSubmitted && dataForm.get('name').invalid" class="field-validation-error small">
                <div class="text-danger">Name is required</div>
              </div> -->
                </div>
                <div class="form-group col-sm-3">
                  <label for="age"  class="small muted">Gender</label>
                  <div class="font-weight-bold">{{user.person.gender}}</div>
                  <!-- <select formControlName="gender" class="form-control">
                    <option value="F">Female</option>
                    <option value="M">Male</option>
                  </select>
                  <div *ngIf="isSubmitted && dataForm.get('gender').invalid" class="field-validation-error small">
                    <div class="text-danger">Gender is required</div>
                  </div> -->
                </div>
                <div class="form-group col-sm-6">
                  <label for="ic_no"  class="small muted">IC No</label>
                  <div class="font-weight-bold">{{user.person.ic_no}}</div>
                  <!-- <input type="text" class="form-control mr-sm-2 " placeholder="Enter IC no without dash '-'" id="ic_no"
                formControlName="ic_no" maxlength="12" *ngIf="mode=='NEW'"> -->
                  <div *ngIf="isSubmitted && dataForm.get('ic_no').invalid" class="field-validation-error small">
                    <div class="text-danger">IC No is required</div>
                  </div>
                </div>
                <div class="form-group col-sm-3">
                  <label for="age"  class="small muted">Age</label>
                  <div class="font-weight-bold">{{user.person.age}}</div>
                  <!-- <input type="number" class="form-control mr-sm-2 " placeholder="Enter age" id="age"
                    formControlName="age">
                  <div *ngIf="isSubmitted && dataForm.get('age').invalid" class="field-validation-error small">
                    <div class="text-danger">Age is required</div>
                  </div> -->
                </div>
                <div class="form-group col-sm-3">
                </div>
                <div class="form-group col-sm-6">
                  <label for="mobile_no"  class="small muted">Mobile No</label>
                  <div class="font-weight-bold">+60{{user.person.mobile_no}}</div>
                  <!-- <div class="input-group mb-3">
                    <div class="input-group-prepend ">
                      <span class="input-group-text bg-white text-dark">+60</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Enter Mobile No" id="mobile_no" maxlength="15"
                      formControlName="mobile_no">
                  </div> -->
                  <!-- <div *ngIf="isSubmitted && dataForm.get('mobile_no').invalid" class="field-validation-error small">
                    <div class="text-danger">Mobile No is required</div>
                  </div> -->
                </div>
                <div class="form-group col-sm-6">
                  <label for="email"  class="small muted">Email</label>
                  <div class="font-weight-bold">{{user.person.email}}</div>
                  <!-- <input type="text" class="form-control mr-sm-2 " placeholder="Enter email" id="email"
                    formControlName="email">
                  <div *ngIf="isSubmitted && dataForm.get('email').invalid" class="field-validation-error small">
                    <div class="text-danger">Email is required</div>
                  </div> -->
                </div>
              </div>
            </div>
            <div class="col-sm-6" style="border-left: solid 1px lightgray;">
              <div class="row">
                <div class="form-group col-sm-12">
                  <label for="address"  class="small muted">Address</label>
                  <div class="font-weight-bold">{{user.person.address}}</div>
                  <!-- <input type="text" class="form-control mr-sm-2 " placeholder="Enter Address" id="address"
                    formControlName="address">
                  <div *ngIf="isSubmitted && dataForm.get('address').invalid" class="field-validation-error small">
                    <div class="text-danger">Address is required</div>
                  </div> -->
                </div>
                <div class="form-group col-sm-6">
                  <label for="town"  class="small muted">Town</label>
                  <div class="font-weight-bold">{{user.person.town}}</div>
                  <!-- <input type="text" class="form-control mr-sm-2 " placeholder="Enter town" id="town"
                    formControlName="town">
                  <div *ngIf="isSubmitted && dataForm.get('town').invalid" class="field-validation-error small">
                    <div class="text-danger">Town is required</div>
                  </div> -->
                </div>
                <div class="form-group col-sm-6">
                  <label for="district"  class="small muted">District</label>
                  <div class="font-weight-bold">{{user.person.district}}</div>
                  <!-- <input type="text" class="form-control mr-sm-2 " placeholder="Enter District" id="district"
                    formControlName="district">
                  <div *ngIf="isSubmitted && dataForm.get('district').invalid" class="field-validation-error small">
                    <div class="text-danger">District is required</div>
                  </div> -->
                </div>
                <div class="form-group col-sm-4">
                  <label for="postcode"  class="small muted">Postcode</label>
                  <div class="font-weight-bold">{{user.person.postcode}}</div>
                  <!-- <input type="text" class="form-control mr-sm-2 " placeholder="Enter Postcode" id="postcode"
                    maxlength="6" formControlName="postcode">
                  <div *ngIf="isSubmitted && dataForm.get('postcode').invalid" class="field-validation-error small">
                    <div class="text-danger">Postcode is required</div>
                  </div> -->
                </div>
                <div class="form-group col-sm-6">
                  <label for="state"  class="small muted">State</label>
                  <div class="font-weight-bold">{{user.person.state}}</div>
                  <!-- <select class="form-control" formControlName="state">
                    <option [value]="state.state_name" *ngFor="let state of states">{{state.state_name}}</option>
                  </select> -->
                  <!-- <div *ngIf="isSubmitted && dataForm.get('state').invalid" class="field-validation-error small">
                    <div class="text-danger">State is required</div>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="pull-right">
            <button type="button" class="btn btn-sm btn-round btn-primary" (click)="saveBiodata()">
              Save Biodata</button>
          </div> -->

        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <h3 class="font-weight-bold text-green">CHANGE NEW PASSWORD</h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-3">
            <div class="form-group">
              <label>Current Password</label>
              <input type="password" class="form-control" [(ngModel)]="cpass" maxlength="8">
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label>New Password</label>
              <input type="password" class="form-control" [(ngModel)]="npass" maxlength="8">
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label>Re-type New Password</label>
              <input type="password" class="form-control" [(ngModel)]="rpass" maxlength="8">
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-sm btn-round btn-primary pull-right" (click)="changePassword()">
          Save password</button>
      </div>
    </div>
  </div>
</div>