<section class="login p-fixed d-flex text-center bg-primary common-img-bg">
  <div class="auth-fluid">
    <div class="row">
      <div class="col-sm-12">
        <img  src="assets/images/logo-myhc.png" width="271" height="100">
      </div>
    </div>

    <div class="pt-3"></div>

    <div class="row">
      <div class="col-sm-12">
        <div class="myhc-login-card card-body auth-body">
          <h3 class="text-center txt-primary">Sign In </h3>

          <div class="row" *ngIf="error">
            <div class="col-sm-12 m-b-10">
              <div class="small text-danger">{{error}}</div>
            </div>
            <div class="pt-3"></div>
          </div>

          <form [formGroup]="formLogin">
            
            <div class="Icon-inside">
              <input type="text" class="login-form-control" placeholder="Email" formControlName="email"(change)="resetErrMsg()">
              <i class="fa fa-user fa-2x"></i>
            </div>

            <div class="Icon-inside">
              <input type="password" class="login-form-control" placeholder="Password" formControlName="password" (change)="resetErrMsg()">
              <i class="fa fa-lock fa-2x"></i>
            </div>
          
            <div class="row">
              <div class="col-md-12 text-right">
                <button class="login-btn login-btn-success btn-md btn-block waves-effect text-center" (click)="login()">LOGIN</button>
              </div>
            </div>

            <div class="pt-3"></div>

            <div class="row ">
              <div class="col-sm-8 col-xs-8">
                <div class="text-left pt-1">
                  <input type="checkbox" value="lsRememberMe" id="rememberMe"> <label for="rememberMe">&nbsp;&nbsp;<span class="register">Remember me</span></label>
                </div>
              </div>

              <div class="col-sm-4 col-xs-4">
                <div class="text-right">
                  <button class="btn" (click)="forgotPassword(tmpForgotPassword)"> <span class="register">Need help?</span></button>
                </div>
              </div>
             
            </div>

          </form>

        </div>

        <div class="row">
          <div class="col-sm-12">
            <span class="register pull-right">Create an account <i class="fa fa-arrow-right"></i></span>
          </div>
        </div>

        <div class="row" style="padding-top: 50px;">
          <div class="col-sm-12">
            <div [innerHTML]="footer"></div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<ng-template #tmpForgotPassword let-modal>
  <div class="modal-content">
    <div class="modal-header bg-primary">
      Forgot password
      <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">X</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label for="username">Please enter your registered username</label>
        <input type="text" class="form-control" placeholder="Enter username" id="username">
      </div>
      <button class="btn btn-sm btn-secondary pull-right" (click)="modalRef.hide()">Cancel</button>
      <button class="btn btn-sm btn-success pull-right" (click)="reset()">Reset my password</button>

    </div>
  </div>
</ng-template>