<div class="row">
  <h1 class="font-weight-bold">
  {{ 'booking.breadcrumb.title' | translate | uppercase }}
  </h1>
  <div class="row">
    <div class="col-md-12">
      <div class="breadcrumb-text">{{ 'booking.breadcrumb.text' | translate }}</div>
    </div>
  </div>
</div>

<div class="pt-3"></div>

<div class="row">
  <div class="welcome-label">Hello <b>{{user.person.name.toUpperCase()}}</b></div>
</div>

<div class="pt-3"></div>
<span class="myhc-card-title">
  <b>{{ 'booking.title_book' | translate | uppercase }}</b>
</span>

<div class="pt-3"></div>


<div class="row">
  <div class="col-md-9">
    <div class="myhc-card" *ngIf="step == 1">
      <h2>{{ 'booking.step.title_1' | translate | uppercase }}</h2>
      {{ 'booking.step.title_1_desc' | translate | uppercase }}.
      <div class="pt-3"></div>

      <p-table #dt styleClass="p-datatable-striped" [value]="registrationPersons" [responsive]="true" [paginator]="true" [rows]="10"  [globalFilterFields]="['']">
      <ng-template pTemplate="header">
        <tr>
          <th>{{ 'booking.table.step1.title_no' | translate | uppercase }}</th>
          <th>{{ 'booking.table.step1.title_name' | translate | uppercase }}</th>
          <th>{{ 'booking.table.step1.title_nric' | translate | uppercase }}</th>
          <th>{{ 'booking.table.step1.title_age' | translate | uppercase }}</th>
          <th>{{ 'booking.table.step1.title_gender' | translate | uppercase }}</th>
          <th>{{ 'booking.table.step1.title_choose' | translate | uppercase }}</th>
          <th>{{ 'booking.table.step1.title_choose' | translate | uppercase }}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-patient let-rowIndex="rowIndex">
        <tr>
          <td width="5%" style="vertical-align:top">
            <div class="ui-column-title text-green">#</div>
            <div>{{rowIndex+1}}</div>
          </td>
          <td>{{patient.person.name}}</td>
          <td>{{patient.person.ic_no}}</td>
          <td>{{patient.person.age}}</td>
          <td>{{patient.person.gender == 'M' ? 'Male' : 'Female'}}</td>
          <td>
            <input type="checkbox" class="checkbox-green" [(ngModel)]="dataBookingPayment.patients[rowIndex]" [value]="patient.person.name">
          </td>
          <td>
            <select class="form-control" [(ngModel)]="dataBookingPayment.products[rowIndex]">
              <option *ngFor="let item of planTestItems" [ngValue]="item">{{item.test_group.group_name | uppercase}}</option>
            </select>
           
          </td>
        </tr>
      </ng-template>
    </p-table>

      
      <input type="checkbox" class="checkbox-green" [(ngModel)]="confirmation"> I confirm that the names collected are correct.
      <button type="button" class="btn myhc-btn-fill pull-right"  (click)="goToStepNo(2)">NEXT <i class="fa fa-arrow-right"></i></button>
      <div class="pt-5"></div>
      <div class="pt-3"></div>
    </div>    
  </div>

  <div class="col-md-3">
    <div class="myhc-card" style="height: 1000px;">
      <h2>{{ 'booking.title_process' | translate | uppercase }}</h2>
      <div class="pt-3"></div>
      <div *ngIf="step == 1 || step == 2">
        <div class="row">
          <div class="col-md-8">
            <span class="step-label-title">{{ 'booking.process.title_step1' | translate | uppercase }}:</span><br />
            <span class="step-label">{{ 'booking.process.title_step1_desc' | translate | uppercase }}</span>
          </div>
          <div class="col-md-4">
            <img src="assets/images/step-tick.png">
          </div>
        </div>        
      </div>
      <div *ngIf="step == 2">
        <div class="pt-3"></div>
        <div class="row">
          <div class="col-md-8">
            <span class="step-label-title">{{ 'booking.process.title_step2' | translate | uppercase }}:</span><br />
            <span class="step-label">{{ 'booking.process.title_step2_desc' | translate | uppercase }}</span>
          </div>
          <div class="col-md-4">
            <img src="assets/images/step-tick.png">
          </div>
        </div>
      </div>
    </div>    
  </div>
</div>

