<div class="row">
  <div class="col-sm-12">
    <h1 class="font-weight-bold pull-right">
      <span class="text-blue">SCREENING</span>&nbsp;<span class="text-green">PACKAGE</span>
    </h1>
  </div>

  <div class="col-sm-12 bg-white">
    <button class="btn btn-sm btn-round btn-primary pull-right" tooltip="Add new"
      (click)="newScreeningPlan(tmpScreenPlan)" placement="bottom"><i class="fa fa-plus"></i> New Screening
      Package</button>
    <div class="table-responsive">
      <table class="table table-sm table-striped">
        <thead>
          <th>Package Plan</th>
          <!-- <th>Price (MYR)</th> -->
          <th width="15%"></th>
          <th width="30%"></th>
        </thead>
        <!-- <pre>{{dataSPlan|json}}</pre> -->
        <tbody>
          <tr *ngFor="let plan of dataSPlan">
            <td>

              <button class="btn btn-sm text-primary pull-right" [tooltip]="'Delete ' + plan.package_code"
                (click)="deleteScreenPlan(plan)" placement="bottom"><i class="fa fa-trash"></i></button>
              <button class="btn btn-sm text-primary pull-right" [tooltip]="'Edit ' + plan.package_code"
                (click)="editScreenPlan(tmpScreenPlan, plan)" placement="bottom"><i class="fa fa-pencil"></i></button>
              <span class="badge badge-warning">{{plan.package_code}}</span>
              <span class="badge"
                [ngClass]="{'badge-success':plan.commercial=='YES', 'badge-danger':plan.commercial=='NO'}">{{plan.commercial=='YES'?'COMMERCIAL':'NON-COMMERCIAL
                (customized)'}}</span>
              <h2 class="font-weight-bold">{{plan.single_package}}</h2>
              <div [innerHTML]="plan.description" *ngIf="plan.description"></div>
              <br>
              <!-- <img [src]="plan.picture_path"> -->
              <img [src]="photoPath + plan.picture_path" (error)="setDefaultPic($event)"  width="100%">

              <div class="pt-3"></div>
              
              <div [innerHTML]="plan.note" *ngIf="plan.note"></div>

            </td>
            <!-- <td>
            {{plan.price}}
          </td> -->
            <td>
              <span>Patient(s)</span>
              <div *ngIf="plan.package_patients.length==0" class="text-danger small">No patient type specified</div>
              <div *ngFor="let patient of plan.package_patients; let last = last">
                <b>{{patient.total_patient}} x {{patient.patient_type_code}}</b>
 
              </div>
              <div class="pt-3"></div>
              <div>Price(MYR)</div>
              <b>{{plan.price}}</b>
            </td>
            <td>
              <span>Add-on Purchase</span>
              <ul class="list-group">
                <li class="list-group-item">
                  <b>Plan Test Item<button class="btn btn-sm text-primary" tooltip="Add"
                      (click)="newAddOnPackage(tmpAddOnPackage,plan)" placement="bottom"><i
                        class="fa fa-plus"></i></button></b>
                  <div *ngFor="let panel of plan.package_test_groups; let i=index; let last=last">
                    <span class="small" style="padding-left: 16px;"> {{i+1}}. ({{panel.test_group_code}})
                      {{panel.test_group.group_name}} </span><button class="btn btn-sm text-primary"
                      (click)='deleteAddOnPackage(panel)' tooltip="Delete" placement="bottom"><i
                        class="fa fa-trash"></i></button><br>
                    <!-- <span class="small" style="padding-left: 16px;"><i class="fa fa-check-circle-o"></i>
                    {{panel.total_test_conducted}} test(s) x
                    {{panel.test_location}}
                  </span> -->
                    <hr *ngIf="!last">
                  </div>
                  <div *ngIf="plan.package_test_groups?.length==0">
                    <i class="text-muted">Not available</i>
                  </div>
                </li>
                <li class="list-group-item">
                  <b>Plan Services<button class="btn btn-sm text-primary"
                      (click)="newAddOnService(tmpAddOnService,plan)" tooltip="Add" placement="bottom"><i
                        class="fa fa-plus"></i></button></b>
                  <div *ngFor="let addOn of plan.package_add_ons; let i=index; let last=last">
                    <span class="small" style="padding-left: 16px;">{{i+1}}. ({{addOn.add_on.add_on_code}}) {{addOn.add_on.name}}</span> <button
                      class="btn btn-sm text-primary" tooltip="Delete" (click)="deleteAddOnService(addOn)"
                      placement="bottom"><i class="fa fa-trash"></i></button><br>
                    <!-- <span class="small" style="padding-left: 16px;"><i class="fa fa-check-circle-o"></i>
                    {{addOn.total_test_conducted}} test(s) x {{addOn.patient_type_code}} x
                    {{addOn.test_location_name}} ({{addOn.test_location_code}})</span> -->
                    <hr *ngIf="!last">
                  </div>
                  <div *ngIf="plan.package_add_ons?.length==0">
                    <i class="text-muted">Not available</i>
                  </div>
                </li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<ng-template #tmpScreenPlan let-modal>
  <div class="modal-content">
    <div class="modal-header bg-primary">
      {{mode}} SCREENING PLAN
      <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">X</span>
      </button>
    </div>
    <div class="modal-body">
      <div [formGroup]="dataFormSPlan" *ngIf="dataFormSPlan">
        <div class="card-body">
          <h4><b>Screening Plan Info</b></h4>
          <div class="container">
            <div class="row">
              <div class="col-4">
                Code<br>
                <input type="text" class="form-control" placeholder="Enter code" *ngIf="mode=='NEW'" id="package_code"
                  formControlName="package_code">
                <b *ngIf="mode=='EDIT'"><span
                    class="badge badge-warning badge-md">{{dataFormSPlan.get('package_code').value}}</span></b>
              </div>
              <div class="col-8">
                Package Name
                <input type="text" class="form-control" placeholder="Enter Name" id="single_package"
                  formControlName="single_package">
                <div *ngIf="isSubmitted && dataFormSPlan.get('single_package').invalid"
                  class="field-validation-error small">
                  <div class="text-danger">Package Name is required</div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                Package description
                <p-editor formControlName="description" [style]="{'height':'100px'}"></p-editor>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-4">
                Category
                <select class="form-control" formControlName="category_code" id="category_code">
                  <option [value]="null">Please choose</option>
                  <option *ngFor="let cateCode of categoryCodeList" [value]="cateCode.category_code">
                    {{cateCode.category_code}}
                  </option>
                </select>
                <div *ngIf="isSubmitted && dataFormSPlan.get('category_code').invalid"
                  class="field-validation-error small">
                  <div class="text-danger">Code is required</div>
                </div>
              </div>
              <div class="col-4">
                Price (MYR)
                <input type="text" class="form-control mr-sm-2" placeholder="Enter Price" id="price"
                  formControlName="price">
                <div *ngIf="isSubmitted && dataFormSPlan.get('price').invalid" class="field-validation-error small">
                  <div class="text-danger">Price is required</div>
                </div>
              </div>
              <div class="col-4">
                Commercial
                <!-- <input type="text" class="form-control mr-sm-2" placeholder="Enter Price" id="commercial"
                  formControlName="commercial"> -->
                <select formControlName="commercial" class="form-control">
                  <option value="YES">Yes, open for all</option>
                  <option value="NO">Non-commercial (customized)</option>
                </select>
                <div *ngIf="isSubmitted && dataFormSPlan.get('commercial').invalid" class="field-validation-error small">
                  <div class="text-danger">Commercial Status is required</div>
                </div>
              </div>
              <div class="col-12">
                <br>
                Note
                <p-editor formControlName="note" [style]="{'height':'100px'}"></p-editor>
                <!-- <input type="text" class="form-control mr-sm-2" placeholder="Enter Note"
                  id="note" formControlName="note"> -->
                <!-- <div *ngIf="isSubmitted && dataFormSPlan.get('license_validity_year').invalid"
                  class="field-validation-error small">
                  <div class="text-danger">License validity is required</div>
                </div> -->
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-12">
                Test Included
                <textarea type="text" class="form-control" placeholder="Enter Test Included" rows="5"
                  formControlName="test_included"></textarea>
                <div *ngIf="isSubmitted && dataFormSPlan.get('test_included').invalid"
                  class="field-validation-error small">
                  <div class="text-danger">Test included is required</div>
                </div>
              </div>
            </div>
            <br>
            <!-- <div class="row">
              <div class="col-12">
                Note
                <textarea type="text" class="form-control" placeholder="Enter note" rows="5"
                  formControlName="note"></textarea>
              </div>
            </div> -->
            <br>
            <div class="row">
              <div class="col-12" *ngIf="this.mode =='EDIT'">
                Picture Path: <span class="font-weight-bold">
                  {{dataFormSPlan.get('picture_path').value?dataFormSPlan.get('picture_path').value:'Not available'}}
                </span>
                <!-- <input type="text" class="form-control mr-sm-2" placeholder="Enter path" id="picture_path"
                  formControlName="picture_path"> -->
                  <br>

                    <p-fileUpload [files]="tmpPhotoFile" #pPhoto mode="basic" name="photo[]" [customUpload]="true" (uploadHandler)="uploadPhotoNow($event,pPhoto)" accept="image/*" maxFileSize="1000000"   [auto]="true" chooseLabel="Browse"></p-fileUpload>

                <div *ngIf="isSubmitted && dataFormSPlan.get('picture_path').invalid"
                  class="field-validation-error small">
                  <div class="text-danger">Path is required</div>
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col">
                <div class="pull-right">
                  <button type="button" class="btn btn-sm btn-round btn-primary" (click)="saveScreenPlan()">
                    Save Screening Plan</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <!-- ONLY APPEAR WHEN EDIT -->
        <div *ngIf="mode=='EDIT'">
          <div class="container">
            <div class="row">
              <!-- <div class="card-deck"> -->
              <div class="card col-md-12">
                <div class="card-body">
                  <h5 class="card-title">PATIENT PACKAGE LIST <button class="btn btn-sm btn-round btn-primary"
                      (click)="newPackagePatient(dataFormSPlan.get('package_code').value)"><i class="fa fa-plus"></i>
                      New Patient Package</button></h5>
                  <div *ngIf="selectedPackagePlan?.package_patients.length==0">
                    No record to display
                  </div><br><br>
                  <table class="table table-sm table-bordered" *ngIf="selectedPackagePlan?.package_patients.length>0">
                    <tr>
                      <td width="30%">Patient Type</td>
                      <td>Total Patient</td>
                      <!-- <td>Document(s) required</td> -->
                      <td>Action</td>
                    </tr>
                    <tr *ngFor="let patient of selectedPackagePlan.package_patients">
                      <td>{{patient.patient_type_code}}</td>
                      <td>{{patient.total_patient}}</td>
                      <!-- <td>
                        <div [innerHTML]="patient.doc_required"></div>
                      </td> -->
                      <td>
                        <button class="btn btn-sm text-primary" placement="bottom"
                          (click)="editPackagePatient(patient)"><i class="fa fa-pencil"></i></button>
                        <button class="btn btn-sm text-primary" placement="bottom"
                          (click)="deletePackagePatient(patient)">
                          <i class="fa fa-trash"></i></button>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>

              <div class="card col-md-12" *ngIf="(modePatient=='EDIT'||modePatient=='NEW') && dataFormPP"
                [formGroup]="dataFormPP">
                <div class="card-body">
                  <h5 class="card-title">{{modePatient}} PATIENT PACKAGE</h5><br><br>
                  <table class="table table-sm table-bordered">
                    <tr>
                      <td >Patient Type</td>
                      <td width="30%">Total Patient</td>
                      <!-- <td>Document(s) required</td> -->
                      <td>Action</td>
                    </tr>
                    <tr>
                      <td>
                        <select class="form-control" formControlName="patient_type_code" id="patient_type_code">
                          <option [value]="null">Please choose</option>
                          <option *ngFor="let lookupPT of patientTypes" [value]="lookupPT.patient_type_code">
                            {{lookupPT.patient_type_code}}
                          </option>
                        </select>
                      </td>
                      <td><input type="number" class="form-control" placeholder="" id="total_patient"
                          formControlName="total_patient"></td>
                      <!-- <td>
                        <textarea class="form-control" placeholder="" id="doc_required"
                          formControlName="doc_required"></textarea>
                      </td> -->
                      <td>
                        <button type="button" class="btn btn-sm text-primary" (click)="savePackagePatient()">
                          <i class="fa fa-save"></i></button>
                        <button type="button" class="btn btn-sm text-primary" (click)="cancelPackagePatient()">
                          X</button>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>

              <!-- </div> -->
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer bg-white">
        <div class="pull-right">
          <button type="button" class="btn btn-sm btn-round btn-secondary" (click)="closeScreeningPlan()">
            Close</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #tmpAddOnPackage let-modal>
  <div class="modal-content">
    <div class="modal-header bg-primary">
      {{mode}} SCREENING TEST
    </div>
    <div class="modal-body">
      <div [formGroup]="dataFormAOPackage" *ngIf="dataFormAOPackage">
        <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="col">
                Package Plan Code <br>
                <span class="badge badge-warning badge-md">{{selectedPackagePlan.package_code}}</span>&nbsp;
                <b>{{selectedPackagePlan.single_package}}</b>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col">
                Screening Test
                <select class="form-control" formControlName="test_group_code" aria-placeholder="Screening test"
                  id="test_group_code">
                  <option [value]="null">Please choose</option>
                  <option *ngFor="let lookupTestGroup of testGroupTypes" [value]="lookupTestGroup.test_group_code">
                    {{lookupTestGroup.group_name}}
                  </option>
                </select>
              </div>
              <div class="col">
                Location
                <select class="form-control" aria-placeholder="Location" formControlName="test_location"
                  id="test_location">
                  <option [value]="null">Please choose</option>
                  <option *ngFor="let lookupLocation of locationTypes" [value]="lookupLocation.code">
                    {{lookupLocation.name}}
                  </option>
                </select>
              </div>
              <!-- <div class="col">
                Total Test Conducted
                <input type="number" class="form-control mr-sm-2" placeholder="Test Conducted" id="total_test_conducted"
                  formControlName="total_test_conducted">
                <div *ngIf="isSubmitted && dataFormAOPackage.get('total_test_conducted').invalid"
                  class="field-validation-error small">
                  <div class="text-danger">Test Conducted is required</div>
                </div>
              </div> -->
            </div>
            <br>
            <div class="row">
              <div class="col">
                Remark
                <textarea class="form-control" placeholder="Remark" formControlName="remark"></textarea>
                <div *ngIf="isSubmitted && dataFormAOPackage.get('remark').invalid"
                  class="field-validation-error small">
                  <div class="text-danger">Remark is required</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer bg-white">
          <div class="pull-right">
            <button type="button" class="btn btn-sm btn-round btn-primary" (click)="saveAddOnPackage()">
              Save</button>
            <button type="button" class="btn btn-sm btn-round btn-secondary" (click)="modalRef.hide()">
              Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>


<ng-template #tmpAddOnService let-modal>
  <div class="modal-content">
    <div class="modal-header bg-primary">
      {{mode}} PLAN SERVICES
    </div>
    <div class="modal-body">
      <div [formGroup]="dataFormAOService" *ngIf="dataFormAOService">
        <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="col">
                Package Plan <br>
                <span class="badge badge-warning badge-md">{{selectedPackagePlan.package_code}}</span><br>
                <b>{{selectedPackagePlan.single_package}}</b>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col">
                Plan Service
                <select class="form-control" formControlName="add_on_code" id="add_on_code">
                  <option [value]="null">Please choose</option>
                  <option *ngFor="let lookupAddOn of addOnTypes" [value]="lookupAddOn.add_on_code">
                    {{lookupAddOn.name}} ({{lookupAddOn.add_on_code}})
                  </option>
                </select>
              </div>
              <div class="col">
                Location
                <select class="form-control" formControlName="test_location_code" id="test_location_code">
                  <option [value]="null">Please choose</option>
                  <option *ngFor="let lookupLocation of locationTypes" [value]="lookupLocation.code">
                    {{lookupLocation.name}}
                  </option>
                </select>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col">
                Patient Type
                <select class="form-control" formControlName="patient_type_code" id="patient_type_code">
                  <option [value]="null">Please choose</option>
                  <option *ngFor="let lookupPT of patientTypes" [value]="lookupPT.patient_type_code">
                    {{lookupPT.patient_type_code}}
                  </option>
                </select>
              </div>
              <!-- <div class="col">
                Total Test Conducted<input type="number" class="form-control mr-sm-2" placeholder="Enter test conducted"
                  id="total_test_conducted" formControlName="total_test_conducted">
                <div *ngIf="isSubmitted && dataFormAOService.get('total_test_conducted').invalid"
                  class="field-validation-error small">
                  <div class="text-danger">Total Test Conducted is required</div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
        <div class="card-footer bg-white">
          <div class="pull-right">
            <button type="button" class="btn btn-sm btn-round btn-primary" (click)="saveAddOnService()">
              Save</button>
            <button type="button" class="btn btn-sm btn-round btn-secondary" (click)="modalRef.hide()">
              Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
 