<div class="row">
  <div class="col-sm-12">
    <h1 class="font-weight-bold pull-right">
      <span class="text-blue">MY</span>&nbsp;<span class="text-green">INBOX</span>
    </h1>
    <br>

  </div>
  <div class="col-sm-12">
    <button class="btn btn-sm btn-round btn-primary pull-right" (click)="newMessage(tmpNewMessage)"><i
        class="fa fa-plus"></i> New message</button>

  </div>
</div>

<div class="pt-3"></div>
<div *ngIf="loading" class="pull-right">
  <i class="spinner-border spinner-border-sm text-primary"></i> Loading messages...
</div>

<div class="row">
  <div class="col-sm-12" *ngIf="dataInboxMessages?.length>0">

    <p-table #dt [value]="dataInboxMessages" [paginator]="true" [rows]="10"
      [globalFilterFields]="['sender_name','receiver_name','subject']">
      <ng-template pTemplate="caption">
        <div style="text-align: right">
          <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
          <input type="text" pInputText size="50" placeholder="Global Filter"
            (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th width="5%"></th>
          <th width="20%">From</th>
          <th width="20%">To</th>
          <th>Subject</th>
          <th width="20%">Date</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-msg let-rowIndex="rowIndex">
        <tr>
          <td>
            <button class="btn btn-sm text-primary" tooltip="Read message" (click)="openMessage(tmpOpenMessage,msg)"><i
                class="fa fa-envelope-o"></i></button>
          </td>
          <td>
            <span class="small text-muted">({{msg.sender}})</span><br>{{msg.sender_name}}
          </td>
          <td>
            <span class="small text-muted">({{msg.receiver}})</span><br>{{msg.receiver_name}}
          </td>
          <td>
            <div class="small text-muted">{{msg.message_type_code}}</div>
            {{msg.headers}} {{msg.subject}}
            <span *ngIf="msg.history?.length>1" class="small text-muted"> ({{msg.history.length}})</span>
          </td>
          <td>
            {{msg.date_sent}} <br>
            <div class="badge badge-success" *ngIf="msg.sender==user.username">SENT</div>
            <div class="badge badge-danger" *ngIf="msg.sender!=user.username">RECEIVED</div>
          </td>
        </tr>
      </ng-template>
    </p-table>

  </div>

  <div class="col-sm-12 text-center text-muted" *ngIf="dataInboxMessages?.length==0">
    <div class="fa fa-envelope-o" style="font-size: 40px;"></div> <br>
    You do not have any inbox messages at this moment.
  </div>

</div>


<ng-template #tmpOpenMessage let-modal>
  <div class="modal-content">
    <div class="modal-header bg-primary">
      Subject : <b>&nbsp;{{selectedMessage.subject}}</b>
      <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">X</span>
      </button>
    </div>
    <div class="modal-body">
      <div *ngFor="let rmessage of selectedMessage.history; let last =last">
        <div>
          <div><b>To:</b> <span class="small">({{rmessage.sender}})</span> {{rmessage.sender_name}} <br>
            <b>From:</b> <span class="small">({{rmessage.receiver}})</span> {{rmessage.receiver_name}}
          </div>
          <span class="pull-right">Date : <b>{{rmessage.date_sent}}</b></span>
        </div>

        <div class="pt-3"></div>

        <div style="border: 1px solid rgb(199, 197, 197); width: 100%; min-height:50px; padding:5px" class="text-muted">
          {{rmessage.content}}
        </div>
        <div>
          Attachment: {{rmessage.attachment}}
          <button class="btn btn-sm text-primary" [tooltip]="'View Print'"
            (click)="printDoc(rmessage.attachment)" *ngIf="rmessage.attachment"><i class="fa fa-print"></i></button>
            <span class="small text-secondary" *ngIf="!rmessage.attachment">None</span>
        </div>
        <hr>
      </div>

      <button class="btn btn-sm text-primary pull-right" *ngIf="!isReplyMode" (click)="reply()"><i
          class="fa fa-mail-reply"></i> Reply</button>


      <div *ngIf="isReplyMode">
        <div>
          <i class="fa fa-mail-reply"></i> <b>Reply message:</b>
        </div>
        <textarea class="form-control" rows="5" [(ngModel)]="contentMessage"></textarea>
        <div>
          Attachment:
          <input id="file" type="file" multiple class="form-control" (change)="onFileChange($event)">
        </div>
        <div>
          <button class="btn btn-sm btn-round text-primary pull-right" (click)="cancelReply()"><i
              class="fa fa-remove"></i>Cancel</button>
          <button class="btn btn-sm btn-round text-primary pull-right" style="margin-right: 10px;"
            (click)="sendMessage()"><i class="fa fa-send-o"></i>Send</button>
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <button class="btn btn-sm btn-round btn-secondary pull-right" (click)="modalRef.hide()">Close</button>
    </div>
  </div>
</ng-template>

<ng-template #tmpNewMessage let-modal>
  <div class="modal-content">
    <div class="modal-header bg-primary">
      New message
      <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">X</span>
      </button>
    </div>
    <div class="modal-body">

      <div class="row" [formGroup]="messageForm" *ngIf="messageForm">
        <div class="col-sm-12">
          Subject
          <input type="text" class="form-control" formControlName="subject">
          <div *ngIf="isSubmitted && !messageForm.get('subject').valid" class="field-validation-error small">
            <div class="text-danger">Subject is required</div>
          </div>
          <div class="pt-3"></div>
        </div>
        <div class="col-sm-12">
          To
          <p-autoComplete *ngIf="user.acc_type_code=='ADMIN'" [(ngModel)]="receiver" [suggestions]="results"
            (completeMethod)="search($event)" field="name" [ngModelOptions]="{standalone: true}"></p-autoComplete>
          <select *ngIf="user.acc_type_code!='ADMIN'" class="form-control" formControlName="receiver">
            <option [value]="person.username" *ngFor="let person of sentToList">({{person.username}}) {{person.name}}
            </option>
          </select>
          <div *ngIf="isSubmitted && !messageForm.get('receiver').valid" class="field-validation-error small">
            <div class="text-danger">Receiver is required</div>
          </div>
          <div class="pt-3"></div>

        </div>
        <div class="col-sm-12">
          Message
          <textarea class="form-control" rows="5" formControlName="content"></textarea>
          <div *ngIf="isSubmitted && !messageForm.get('content').valid" class="field-validation-error small">
            <div class="text-danger">Message is required</div>
          </div>
          <div class="pt-3"></div>
        </div>
        <div class="col-sm-12">
          Attachment:
          <input formControlName="attachment" id="file" type="file" multiple class="form-control"
            (change)="onFileChange($event)">
        </div>
      </div>



    </div>
    <div class="modal-footer">
      <button class="btn btn-sm btn-round btn-primary pull-right" style="margin-right: 5px;"
        (click)="sendMessage()">Send</button>
      <button class="btn btn-sm btn-round btn-secondary pull-right" (click)="modalRef.hide()">Close</button>
    </div>
  </div>
</ng-template>