<div class="pcoded" [attr.nav-type]="navType" [attr.theme-layout]="themeLayout" [attr.layout-type]="layoutType"
  [attr.vertical-placement]="verticalPlacement" [attr.vertical-layout]="verticalLayout"
  [attr.pcoded-device-type]="deviceType" [attr.vertical-nav-type]="verticalNavType"
  [attr.vertical-effect]="verticalEffect" [attr.vnavigation-view]="vNavigationView" (window:resize)="onResize($event)">
  <div class="pcoded-overlay-box"></div>
  <div class="pcoded-container navbar-wrapper">
    
    <div class="pcoded-main-container">
      <div class="pcoded-wrapper">
        
        <nav id="main_navbar" class="pcoded-navbar " (clickOutside)="onClickedOutside($event)"
          [exclude]="'#mobile-collapse'" [attr.pcoded-header-position]="pcodedHeaderPosition"
          [attr.navbar-theme]="navBarTheme" [attr.active-item-theme]="activeItemTheme" sub-item-theme="theme2"
          active-item-style="style0" [attr.pcoded-navbar-position]="pcodedSidebarPosition">
          
          <div class="sidebar_toggle"><a href="javascript:;"><i class="text-dark icon-close icons"></i></a></div>
          <div class="pcoded-inner-navbar main-menu border-right-line" appAccordion *ngIf="user">
          
            <div class="pt-5"></div>
            
            <div class="container text-center">
              
              <img class="img-fluid" src="assets/images/logo-myhc.png" alt="MyHealth" width="150" />
            </div>
            <div class="pt-5"></div>
            <div class="pt-5"></div>
      
            <a class="mobile-menu icons-collapse" id="mobile-collapse" href="javascript:;" (click)="toggleOpened()"
            [exclude]="'#main_navbar'" (clickOutside)="onClickedOutside($event)">
            <i class="fa fa-angle-down"></i>
            </a>

            
            
            <perfect-scrollbar [style.max-width]="'100%'" [style.max-height]="'calc(100vh - 0px)'" [config]="config">
              <div class="row">
                <ng-container *ngFor="let menu of menuItems">
                  
                  <div class="col-sm-12" [routerLinkActive]="['active']" style="margin-left: 15px;" *ngFor="let item of menu.items">
                    <div class="submenu">
                      <i class="text-dark {{item.ficon}}"></i> &nbsp;<a [routerLink]="[item.path, item.page]" target="_self" *ngIf="item.enabled==1"  >{{item.name}} </a>
                      <span class="text-muted" *ngIf="item.enabled==0">{{item.name}}  </span>
                    </div>
                  </div>
                  <div class="col-sm-12" style="padding-top: 20px;"></div>
                  
                </ng-container>
                <div class="col-sm-12" style="margin-left: 15px;">
                  <div class="submenu">
                     <a [routerLink]="['/']" target="_self" (click)="logout()">Logout </a>
                  </div>
                </div>

                <div class="col-sm-12" style="padding-top: 60px; padding-left: 50px">
                  <div class="chatbox-card"></div>
                </div>
                
              </div>
            </perfect-scrollbar>
            
          </div>
        </nav>
        <div class="pcoded-content">
          <div class="pcoded-inner-content">

            <div *ngIf="verticalNavType != 'expanded'">
              <a class="mobile-menu icons-expand" id="mobile-collapse" href="javascript:;" (click)="toggleOpened()"
              [exclude]="'#main_navbar'" (clickOutside)="onClickedOutside($event)">
              <i class="fa fa-angle-right"></i>
              </a>
            </div>
  
            <div class="main-body">
              <div class="row pull-right">
       
                <div class="col-md-12">
                    <div class="social">
                      <div class="row">
                      
                            <button style="background: transparent !important; border: 0px !important; padding: 0 3px !important;" (click)="changeLanguage('en')">
                              <img src="./assets/images/flags/en.png" width="25" height="25">
                            </button>
                            <button style="background: transparent !important; border: 0px !important; padding: 0 3px !important;" (click)="changeLanguage('bm')">
                              <img src="./assets/images/flags/bm.png" width="25" height="25">
                            </button>
                            <a class="pr-2" href=""><img src="assets/icon/facebook.png" width="25" height="25"></a>
                            <a class="pr-2" href=""><img src="assets/icon/instagram.png" width="25" height="25"></a>
                         
                            <form>
                              <div class="search">
                                <input type="text" name="search" class="round" />
                                <input type="submit" class="corner" value="" />
                              </div>
                            </form> 
                            
                            
                      </div>
                      <div class="row">
                        <h2 class="pt-3" style="margin-left: 80px">Your Health Is Our Priority</h2>
                      </div>
                      <div class="row">
                        <div class="myhc-card-bold">
                          <div class="col-md-12">
                            <div class="row">
                              <div class="col-md-3">
                                <img class="text-center" src="assets/images/Cloud Storage.png" width="45" height="35">
                              </div>
                              <div class="col-md-9">
                                <div class="row">
                                  <span class="myhc-card-bold-title">MY CLOUD STORAGE</span>
                                </div>
                                <div class="row">
                                  <span class="myhc-card-bold-title">0MB USED / 300MB CAPACITY</span>
                                </div>
                              </div>
                            </div>
                          </div>         
                        </div> 
                      </div>
                  </div>
                </div>
              </div>

              <div class="pt-5"></div>
              
              <router-outlet>
                <app-spinner></app-spinner>
              </router-outlet>
              
            </div>
            
            <div class="pt-3"></div>
            <div [innerHTML]="footer"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>