.menu{
    color: #a1c146;
    font-family: Arial, Helvetica, sans-serif;
}

.submenu{
    padding: 6px 0;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.submenu a {
    color: #1f808b;
    font-family: Arial, Helvetica, sans-serif;
}

.bg-blue{
    background-color:#0773b4;
    color:white
}

.submenu-inactive{
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
}

a.navList{text-decoration: none; color: gray;}

.active{ background-color: #1f808b; color:white !important}

.active a { color:white !important}


.border-right-line{
    border-right:2px solid #8d8d8d;
}

.icons-collapse {
    font-size: 18px;
    position: absolute;
    top: 150px;
    right: 20px;
    transform: translate(-40%, 0);
    z-index: 99;
    color: #8d8d8d; 
}

.icons-expand {
    font-size: 18px;
    position: absolute;
    top: 150px;
    left: 20px;
    transform: translate(-40%, 0);
    z-index: 99;
    color: #8d8d8d; 
}
