<div class="row">

  <div class="col-sm-12">
    <h1 class="font-weight-bold pull-right">
      <span class="text-blue">TEST</span>&nbsp;<span class="text-green"> RESULT</span>
    </h1>
  </div>

  <div class="col-sm-12" *ngIf="dataRegistration.status=='PRE-ACCOUNT'; else tmpPostAcc">
    New Registration - Information Not Available.
  </div>


  <ng-template #tmpPostAcc>
    <div class="col-sm-12" *ngIf="dataPatients?.length>0; else tmpNoRecord">
      <mat-tab-group (selectedTabChange)="tabClick($event)">
        <mat-tab *ngFor="let patient of dataPatients" [label]="patient.person.name">
          <br>

          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-2">
                <div class="card">
                  <div class="card-body">
                    <div class="text-center" style="padding-bottom: 7px;">
                      <img [src]="photoPath + patient.person.photo_path" (error)="setDefaultPic($event)" width="80px">
                    </div>
                    <div style="padding-bottom: 7px;"><span class="small">Name </span><br><b>{{patient.person.name}}</b>
                    </div>
                    <div style="padding-bottom: 7px;" style="white-space: nowrap;">
                      <span class="small">IC No</span><br>
                      <b>{{patient.person.ic_no}}</b>
                    </div>
                    <div style="padding-bottom: 7px;"><span class="small">Age </span><br><b>{{patient.person.age}}</b>
                    </div>
                    <div style="padding-bottom: 7px;"><span class="small">Gender
                      </span><br><b>{{patient.person.gender=='F'?'Female':'Male'}}</b></div>
                    <div style="padding-bottom: 7px;"><span class="small" *ngIf="patient.patient_type_code">Account
                      </span><br><b>{{patient.patient_type_code}}</b></div>
                    <!-- <hr class="line-blue">
                    <nav class="navbar bg-light">
                      <ul class="navbar-nav">
                        <li class="nav-item">
                          <a class="nav-link nav-active small" href="javascript:;">Latest Test</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link small" href="javascript:;">Average</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link small" href="javascript:;">Health History</a>
                        </li>
                      </ul>
                    </nav> -->

                  </div>
                </div>

                <div class="card">
                  <div class="card-body">
                    <b>Legend:</b>
                    <hr>
                    <div class="d-inline-flex p-1 bg-white text-white" *ngFor="let ref of refRangeColor">
                      <div class="p-1" [ngClass]="ref.colorClass" style="width: 30px;"></div>
                      <div class="p-1 font-weight-bold small text-dark" style="white-space: nowrap;">{{ref.code}}</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-10">
                <div class="col-sm-12" *ngIf="loading">
                  <i class="spinner-border spinner-border-sm text-primary"></i> Loading test result...
                </div>

                <div class="card" *ngIf="!dataPatientLatestResult&&!loading">
                  <div class="card-body">
                    <div *ngIf="!dataPatientLatestResult">
                      <i>No test result available</i>
                    </div>
                  </div>
                </div>


                <div *ngIf="dataPatientLatestResult">
                  <div *ngFor="let testPanel of dataPatientLatestResult">

                    <!-- <div *ngFor="let test of testDate.value | keyvalue; let last = last"> -->
                    <!-- *ngIf="test.key.indexOf('test_panel_id#')!=-1" -->
                    <div class="card">
                      <div class="card-body">

                        <div class="row">
                          <div class="col-sm-12">
                          </div>
                          <div class="col-sm-3">
                            <h2 class="text-green font-weight-bold"><i class="fa fa-th-large text-blue"></i>
                              {{testPanel.test_panel_name}}
                            </h2>
                            <span class="small">Last test date</span><br><b>{{testPanel.test_date}}</b>
                            <div class="pt-2"></div>
                            <button class="btn btn-sm btn-round btn-primary"
                              (click)="showSpecificTest(patient.person,testPanel.test_panel_code,testPanel.test_panel_name)"><i
                                class="fa fa-file-text-o"></i> Specific
                              Test</button>
                          </div>
                          <div class="col-sm-9">
                            <div class="row">

                              <div class="col-sm-4" style="margin-top: 13px;"
                                *ngFor="let marker of testPanel.test_markers">

                                <div class="text-center pull-right font-weight-bold"
                                  [ngClass]="{'test-element-white':marker.ref_value==null,'test-element-light-blue':marker.ref_value=='Low','test-element-green':marker.ref_value=='Normal','test-element-yellow':marker.ref_value=='Borderline','test-element-orange':marker.ref_value=='High','test-element-red':marker.ref_value=='Very High'}">
                                  {{marker.test_value}}
                                </div>
                                <i class="fa fa-caret-right"></i> <span>&nbsp;{{marker.test_marker_name}}</span>
                                <span class="small"
                                  *ngIf="marker.test_unit&&marker.test_unit!='-'"><br>({{marker.test_unit}})</span>

                              </div>

                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                    <!-- </div> -->
                  </div>
                </div>

                <!-- <div *ngIf="dataPatientLatestResult">
                  <div *ngFor="let testDate of dataPatientLatestResult  | keyvalue; let i = index">
                    <div *ngFor="let test of testDate.value | keyvalue; let last = last">
                      <div class="card" *ngIf="test.key.indexOf('test_panel_id#')!=-1">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-sm-3">
                              <h2 class="text-green font-weight-bold"><i class="fa fa-th-large text-blue"></i>
                                {{test.value.test_panel_name}}
                              </h2>
                              <span class="small">Test date</span><br><b>{{testDate.value.test_date}}</b>
                              <div class="pt-2"></div>
                              <button class="btn btn-sm btn-round btn-primary"
                                (click)="showSpecificTest(patient.person,test.value.test_panel_code,test.value.test_panel_name)"><i
                                  class="fa fa-file-text-o"></i> Specific
                                Test</button>
                            </div>
                            <div class="col-sm-9">
                              <div class="row">
  
                                <div class="col-sm-4" style="margin-top: 13px;"
                                  *ngFor="let resMarker of test.value.test_markers">
                                  <div class="text-center pull-right font-weight-bold"
                                    [ngClass]="{'test-element-white':resMarker.ref_value==null,'test-element-light-blue':resMarker.ref_value=='Low','test-element-green':resMarker.ref_value=='Normal','test-element-yellow':resMarker.ref_value=='Borderline','test-element-orange':resMarker.ref_value=='High','test-element-red':resMarker.ref_value=='Very High'}">
                                    {{resMarker.test_value}}
                                  </div>
                                  <i class="fa fa-caret-right"></i> <span>&nbsp;{{resMarker.test_marker_name}}</span>
                                  <span class="small"
                                    *ngIf="resMarker.test_unit&&resMarker.test_unit!='-'"><br>({{resMarker.test_unit}})</span>
                                </div>
  
                              </div>
                            </div>
                          </div>
  
                        </div>
                      </div>
                    </div>
                  </div>
                </div> -->

              </div>
            </div>
          </div>

        </mat-tab>
      </mat-tab-group>
    </div>
  </ng-template>


  <ng-template #tmpNoRecord>
    <div class="col-sm-12" *ngIf="staffPatient">
      <i>No {{staffPatient}} registered. Please go to Dashboard and add new {{staffPatient}} registration.</i>
    </div>
  </ng-template>


</div>


<p-sidebar [(visible)]="panelSpecificTest" [fullScreen]="true" *ngIf="specificPanel.name" [baseZIndex]="10000"
  [style]="{'background-color':'#F5F5F5'}" [blockScroll]="true">

  <div class="row">
    <div class="col-sm-4 ">
      <h2 class="text-blue font-weight-bold">SPECIFIC TEST - {{specificPanel.name?.toUpperCase()}} </h2>
      <div class="input-group mb-3 input-group-sm">
        <div class="input-group-prepend">
          <span class="input-group-text">Display latest</span>
        </div>
        <select class="form-control" style="width: 30px;">
          <option value="3mon">3 months</option>
          <option value="6mon">6 months</option>
          <option value="9mon">9 months</option>
          <option value="12mon">12 months</option>
        </select>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="d-inline-flex p-1 ">
        <div class="p-1 ">
          <img [src]="photoPath + specificPanel.person.photo_path" (error)="setDefaultPic($event)" width="80px">
        </div>
        <div class="p-1 ">
          <div style="padding-bottom: 7px;">
            <span class="small">Name </span>: <b>{{specificPanel.person.name}}</b>
          </div>
          <div style="padding-bottom: 7px;">
            <span class="small">IC No</span> :
            <b>{{specificPanel.person.ic_no}}</b>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr class="line-blue">

  <div class="col-sm-12" *ngIf="loadingSpecificResult">
    <i class="spinner-border spinner-border-sm text-primary"></i> Loading specific test result...
  </div>

  <p-scrollPanel [style]="{width: '100%', height: 'calc(100% - (140px))'}" *ngIf="!loadingSpecificResult">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <h3 class="font-weight-bold">{{specificPanel.name}}

              <div class="small pull-right">
                <div class="d-inline-flex  bg-white text-white " *ngFor="let ref of refRangeColor">
                  <div [ngClass]="ref.colorClass" style="height:25px; width: 50px; white-space: nowrap;">
                    <span style="font-size: x-small !important;">{{ref.code}}</span>
                  </div>
                </div>
              </div>
            </h3>

            <div class="table-responsive">
              <table class="table table-sm table-hover" style="width:'100%'">
                <thead class="small">
                  <th>Test Maker</th>
                  <th width="6%" class="text-center">Unit</th>
                  <ng-container *ngFor="let ref of refRangeColor">
                    <th width="6%" *ngIf="ref.code =='Normal'" class="text-center">
                      {{ref.code}}
                    </th>
                  </ng-container>
                  <th *ngFor="let data of dataSpecificPanel" width="8%" class="bg-secondary text-white text-center"
                    style="white-space: nowrap;">
                    {{data.test_date}}
                  </th>
                </thead>
                <tbody class="small">
                  <tr *ngFor="let marker of dataTestMarkers">
                    <td>{{marker.name}}</td>
                    <td class="text-center">{{marker.unit}}</td>
                    <ng-container *ngFor="let ref of refRangeColor">
                      <td *ngIf="ref.code =='Normal'" class="text-center">
                        <ng-container *ngFor="let range of marker.test_reference_range">
                          <div *ngIf="range.code==ref.code" class="small">
                            <span *ngIf="range.min==0 && range.max!=999">
                              < {{range.max}}</span>
                                <span *ngIf="range.min!=0 && range.max!=999">{{range.min}} - {{range.max}}</span>
                                <span *ngIf="range.min!=0 && range.max==999">> {{range.min}}</span>
                          </div>
                        </ng-container>
                      </td>
                    </ng-container>
                    <td class="text-center" *ngFor="let data of dataSpecificPanel">
                      <ng-container *ngFor="let vmarker of data.test_markers">
                        <div *ngIf="vmarker.test_marker_code==marker.code">
                          <span class=" font-weight-bold"
                            [ngStyle]="{'background-color':refRangeTableColorCode[vmarker.ref_value]}">&nbsp;{{vmarker.test_value}}&nbsp;</span>
                          <!-- <span *ngIf="vmarker.ref_value" class="small" [ngStyle]="{'background-color':refRangeTableColorCode[vmarker.ref_value]}">
                            <br>&nbsp;{{vmarker.ref_value}}&nbsp;</span> -->
                        </div>
                      </ng-container>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
        </div>
      </div>
      <div class="col-sm-4" *ngIf="false">
        <div class="card">
          <div class="card-body">
            <h3 class="font-weight-bold">Summary of result</h3>
            <div class="alert alert-primary" *ngIf="false">

              All liver panel marker readings are within the normal range of the test result.
              <br><br>
              The total protein, albumin and globulin readings are within the normal range of the test result.
              <br><br>
              The total and direct bilirubin readings are within the normal range of the test result.
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-sm-6" *ngFor="let chartOpt of dataChartMarkerOptions;let i=index">
        <div class="card">
          <div class="card-body">
            <app-apex-chart #chartSummary [chartID]="'chartSummary'+i" [chartConfig]="chartOpt">
            </app-apex-chart>
          </div>
        </div>
      </div>
    </div>
  </p-scrollPanel>

</p-sidebar>