.test-element{
    font-size: large ;
    font-weight: bold;
}

.test-element-green {
    background-color: #B9F6CA;
    color:black !important;
    width: 50px;
    border: 1px solid black;
    padding: 2px;
    margin: 2px;
  }

  .test-element-red {
    background-color: #EF5350;
    color:black !important;
    width: 50px;
    border: 1px solid black;
    padding: 2px;
    margin: 2px;
  }

  .test-element-yellow {
    background-color: #FFF59D;
    color:black !important;
    width: 50px;
    border: 1px solid black;
    padding: 2px;
    margin: 2px;
  }

  .test-element-white {
    background-color: white;
    color:black !important;
    width: 50px;
    border: 1px solid black;
    padding: 2px;
    margin: 2px;
  }

  .test-element-light-blue {
    background-color: #B2EBF2;
    color:black !important;
    width: 50px;
    border: 1px solid black;
    padding: 2px;
    margin: 2px;
  }

  .test-element-orange {
    background-color: #FFAB40;
    color:black !important;
    width: 50px;
    border: 1px solid black;
    padding: 2px;
    margin: 2px;
  }


.table-small{
      border-collapse: collapse;
  }

.table-small, th, td {
    border: 1px solid black;
    padding:3px
  }

  .td-result{
    background-color:#f7e0b5;
    font-weight: bold;
  }

  #rcorners2 {
    border-radius: 25px;
    border: 2px solid #ffff;
  }