<div class="row">
  <div class="col-sm-12">
    <h1 class="font-weight-bold pull-right">
      <span class="text-blue">MANAGE</span>&nbsp;<span class="text-green">SCREENING TEST</span>
    </h1>

  </div>
  <div class="col-sm-12 bg-white">
    <button type="button" class="btn btn-sm btn-round btn-primary pull-right" tooltip="Add new"
      (click)="newAddOnPackage(tmpAddOnPackage)" placement="bottom"><i class="fa fa-plus"></i>New Plan
      Test Item</button>
  </div>
  <div class="col-sm-12 bg-white">
    <div class="table-responsive">
      <!-- <pre>{{dataAddOnP|json}}</pre> -->
      <table class="table">
        <thead>
          <th>Test Item Code</th>
          <th>Test Panel(s) Included</th>
          <th>Price (MYR)</th>
          <th>Patient Type</th>
          <!-- <th>Package Category</th> -->
          <th>Enabled</th>
        </thead>
        <tbody>
          <tr *ngFor="let addOnP of dataAddOnP">
            <td>
              <span class="badge badge-warning"> {{addOnP.test_group_code}} </span><br>
              <b>{{addOnP.group_name}} </b>
              <button class="btn btn-sm text-danger pull-right" [tooltip]="'Delete test item ' + addOnP.test_group_code"
                (click)="deleteAddOnPackage(addOnP)" placement="bottom"><i class="fa fa-trash"></i></button>
              <button type="button" class="btn btn-sm text-primary pull-right"
                (click)="editAddOnPackage(tmpAddOnPackage,addOnP)" [tooltip]="'Edit test item ' + addOnP.test_group_code"><i class="fa fa-pencil"></i></button>
            </td>
            <td>
              <div class="small text-muted" *ngIf="addOnP.test_panels.length==0"><i
                  class="fa fa-exclamation-circle"></i> <i>No test panel specified</i></div>
              <table class="table table-bordered table-sm" width="100%">
                <tbody>
                  <tr *ngFor="let tps of addOnP.test_panels; let i=index;">
                    <td style="font-size: 12px;">{{i+1}}. {{tps.name}}</td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td>{{addOnP.price}} </td>
            <td>{{addOnP.patient_type}} </td>
            <!-- <td>{{addOnP.package_category}} </td> -->
            <td>{{addOnP.enabled}} </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template #tmpAddOnPackage let-modal>
  <div class="modal-content">
    <div class="modal-header bg-primary">
      {{mode}} PLAN TEST ITEM
      <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">X</span>
      </button>
    </div>
    <div class="modal-body">
      <div [formGroup]="dataFormAddOnP" *ngIf="dataFormAddOnP">
        <div class="card-body">
          <div class="container">
            <div class="row" *ngIf="mode=='EDIT'">
              <div class="col-3">
                Test Item Code<br>
                <b  ><span
                    class="badge badge-warning badge-md">{{dataFormAddOnP.get('test_group_code').value}}</span></b>
              </div>
            </div>
            <!-- <div class="col-9"> -->
            <!-- Package Category
                <select class="form-control" formControlName="package_category" id="package_category">
                  <option *ngFor="let lookupPackageCat of packageCategoryTypes"
                    [value]="lookupPackageCat.category_code">
                    {{lookupPackageCat.description}}
                  </option>
                </select> -->
            <!-- </div> -->
            <!-- </div> -->
            <br>
            <div class="row">
              <div class="col-12">
                Test Item Name
                <input type="text" class="form-control" placeholder="Enter package name" id="group_name"
                  formControlName="group_name">
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-4">
                Patient Type
                <select class="form-control" formControlName="patient_type" id="patient_type">
                  <option [value]="null">Please choose</option>
                  <option *ngFor="let lookupPT of patientTypes" [value]="lookupPT.patient_type_code">
                    {{lookupPT.patient_type_code}} ({{lookupPT.name}})
                  </option>
                </select>
              </div>
              <div class="col-4">
                Enabled<br>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" formControlName="enabled" id="enabled" value="YES"
                    checked>
                  <label class="form-check-label" for="enabled">
                    YES
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" formControlName="enabled" id="enabled" value="NO">
                  <label class="form-check-label" for="enabled">
                    NO
                  </label>
                </div>
              </div>
              <div class="col-4">
                Price (MYR)
                <input type="text" class="form-control" placeholder="MYR xx.xx" id="price" formControlName="price">
              </div>
            </div>
            <div class="card-body">
              <div class="pull-right">
                <button type="button" class="btn btn-sm btn-round btn-primary" (click)="saveAddOnPackage()">
                  Save</button>
                <!-- <button type="button" class="btn btn-sm btn-round btn-secondary" (click)="modalRef.hide()">
                    Close</button> -->
              </div>
            </div>
          </div>
        </div>
        <hr>
        <!-- ONLY APPEAR WHEN EDIT -->
        <!-- <hr>---- -->
        <div *ngIf="mode=='EDIT'">
          <div class="container">
            <div class="row">
              <div class="card-deck">
                <div class="card col-md-12">
                  <div class="card-body">
                    <h5 class="card-title">List of Test Included <button class="btn btn-sm btn-round btn-primary"
                        (click)="newTestPanel(dataFormAddOnP.get('test_group_code').value)"><i class="fa fa-plus"></i>
                        Add Test Panel</button></h5><br><br>
                    <div *ngIf="selectedPackage.test_panels.length==0">
                      <div class="text-muted small"><i class="fa fa-exclamation-circle"></i> <i>No test panel
                          included</i></div>
                    </div>
                    <table class="table table-sm table-bordered" *ngIf="selectedPackage.test_panels.length>0">
                      <tr *ngFor="let tp of selectedPackage.test_panels; let i=index;">
                        <td>
                          {{i+1}}.
                        </td>
                        <td>
                          {{tp.name}}
                        </td>
                        <td>
                          <button class="btn btn-sm text-primary" (click)="deleteTestPanel(tp)"><i
                              tooltip="Remove test panel" class="fa fa-trash"></i>
                          </button>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>

                <div class="card col-md-12" *ngIf="(modeTPanel=='EDIT'||modeTPanel=='NEW') && dataFormTestPanel"
                  [formGroup]="dataFormTestPanel">
                  <div class="card-body">
                    <h5 class="card-title">Select Test Panel from list:</h5>
                    <table class="table table-sm table-bordered">
                      <tr>
                        <td>
                          <select class="form-control" formControlName="test_panel_code" id="test_panel_code">
                            <option [value]="null">Choose test panel</option>
                            <option *ngFor="let lsTestPanel of testPanelTypes" [value]="lsTestPanel.test_panel_code">
                              {{lsTestPanel.name}}
                            </option>
                          </select>
                        </td>
                        <td>
                          <div class="pull-right">
                            <button class="btn btn-sm text-primary" (click)="addTestPanel()" tooltip="Add test panel to list of test included"><i class="fa fa-save"></i>
                            </button>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="body-footer">
        <div class="pull-right">
          <button type="button" class="btn btn-sm btn-round btn-secondary" (click)="cancel()">
            Close</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>