<div class="row">
  <div class="col-sm-12">
    <h1 class="font-weight-bold pull-right">
      <span class="text-blue">BOOKING</span>&nbsp;<span class="text-green">MANAGEMENT</span>
    </h1>
  </div>
</div>

<div class="pt-3"></div>


<div class="card">
  <div class="card-body">
    <h2 class="font-weight-bold card-title">
      <i class="fa fa-th-large text-blue" style="font-size:18px"></i>&nbsp;
      <span class="text-blue">SEARCH</span>&nbsp;<span class="text-green">BOOKINGS</span>
    </h2>
    <div class="col-sm-12" style="text-align: right; ">
      <button class="btn btn-sm btn-primary btn-round mr-1" (click)="openScreening(tmpScreeningCenter)">
        <i class="fa fa-gear"></i> MANAGE SCREENING CENTRES
      </button>
      <button class="btn btn-sm btn-primary btn-round mr-1" (click)="openTimeSlots(tmpTimeSlots)"><i
          class="fa fa-gear"></i> MANAGE TIME SLOTS
      </button>
    </div>
    <p-tabView>
      <p-tabPanel header="PENDING">
        <div *ngIf="loading">
          <i class="spinner-border spinner-border-sm text-primary"></i> Loading data...
          <div class="pt-3"></div>
        </div>
        <p-table #dt [value]="dataBooking" [responsive]="true" [paginator]="true" [rows]="10"
          [globalFilterFields]="['screening_center.sc_name','screening_location','screening_date']" *ngIf="!loading">
          <ng-template pTemplate="caption">
            <div style="text-align: right">
              <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
              <input type="text" pInputText size="50" placeholder="Global Filter"
                (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
              <br>
              <span class="small">* Search keywords by Center, Home visit or date (yyyy-mm-dd)</span>
            </div>

          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th width="6%">No.</th>
              <th>User Account details</th>
              <th>Booking Details</th>
              <th width="18%">Status</th>
              <th width="16%">Action</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-booking let-rowIndex="rowIndex">
            <tr>
              <td width="5%" style="vertical-align:top">
                <div class="ui-column-title text-green">#</div>
                <div>{{rowIndex+1}}</div>
              </td>
              <td style="vertical-align:top">
                <div>
                  <b>{{booking.person.name}}</b> <br>
                  ACCOUNT ID: {{booking.account.username}}<br>
                  NRIC: {{booking.person.ic_no}}

                </div>
              </td>
              <td style="vertical-align:top">
                <div class="ui-column-title  text-green">BOOKING DETAILS</div>
                <div>
                  <div *ngFor="let product of booking.products">
                    {{product.name}}
                  </div>
                  <div class="font-weight-bold">{{booking.patients.length}} person{{booking.patients.length>1?'s':''}}
                  </div>
                  <span class="badge badge-secondary">{{booking.booking_no}}</span>

                  <div valign="top">
                    {{booking.screening_center.sc_name}}<br>
                    {{booking.screening_date}}, {{booking.screening_time}}
                  </div>
                </div>
              </td>
              <td style="vertical-align:top">
                <div class="ui-column-title text-green">STATUS</div>
                <div>
                  <span class="badge"
                    [ngClass]="{'badge-danger':booking.status=='CANCELLED','badge-success':booking.status=='PENDING' ,'badge-warning':booking.status=='PENDING-CANCELLATION'}">
                    {{booking.status}}</span>
                  <div *ngIf="booking.status=='CANCELLED'">
                    {{booking.remark}}
                  </div>
                </div>
              </td>
              <td width="10%" style="vertical-align:top">
                <div class="text-center">
                  <ng-container *ngFor="let payment of booking.payments">
                    <button style="margin-bottom: 1px;" class="btn btn-sm btn-block btn-round btn-primary"
                      (click)="printReceipt(payment)" [disabled]="loadingReceipt && selectedBooking.booking_no==booking.booking_no">
                      <i class="spinner-border spinner-border-sm text-black" *ngIf="loadingReceipt && receiptTransNo==payment.trans_no"
                       ></i>
                      VIEW RECEIPT {{payment.trans_no}}
                    </button>
                  </ng-container>
                  <button style="margin-bottom: 1px;" class="btn btn-sm btn-block btn-round btn-secondary" disabled
                    *ngIf="booking.payments.length==0">
                    Incomplete payment
                  </button>
                  <ng-container *ngIf="booking.payments.length>0">
                    <button style="margin-bottom: 1px;" class="btn btn-sm btn-block btn-round  btn-primary"
                      *ngIf="booking.status!='CANCELLED'" (click)="printTestForm(booking)" [disabled]="loadingTestForm && selectedBooking.booking_no==booking.booking_no">
                      <i class="spinner-border spinner-border-sm text-black" *ngIf="loadingTestForm && selectedBooking.booking_no==booking.booking_no"></i>
                      PRINT TEST FORM
                    </button>
                    <button style="margin-bottom: 1px;" class="btn btn-sm btn-block btn-round btn-primary"
                      *ngIf="booking.remark!='REFUND DONE'" (click)="completeBooking(booking)">
                      COMPLETE
                    </button>
                  </ng-container>

                  <button style="margin-bottom: 1px;" class="btn btn-sm btn-block btn-round btn-primary"
                    *ngIf="booking.status!='CANCELLED'" (click)="cancelBooking(booking)">
                    CANCEL
                  </button>
                </div>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="summary">
            {{dataBooking?.length}} total records
          </ng-template>
        </p-table>
      </p-tabPanel>

      <!--Complete tabPanel-->
      <p-tabPanel header="COMPLETED">

        <div class="row">
          <!-- <div class="col-sm-6">
            <select class="form-control form-control-sm" [(ngModel)] = "selectedBookingStatus">
              <option value="null">Choose booking status</option>
              <option value="COMPLETED">COMPLETED</option>
              <option value="CANCELLED">CANCELLED</option>
            </select>
          </div> -->
          <div class="col-sm-6">
            <form>
              <div class="input-group input-group-sm mb-3">
                <input type="text" class="form-control" placeholder="Search by Booking No / IC No" [(ngModel)]="keyword"
                  [ngModelOptions]="{standalone: true}">
                <div class="input-group-append">
                  <button class="btn btn-success" type="submit" (click)="searchBooking()">Go search</button>
                </div>
              </div>
            </form>
          </div>

        </div>

        <p-table #dt [value]="dataSearchBooking" [responsive]="true" [paginator]="true" [rows]="10"
          [globalFilterFields]="['screening_center.sc_name','screening_location','screening_date']"
          *ngIf="!isSearching&&dataSearchBooking?.length>0">
          <ng-template pTemplate="caption">
            <div style="text-align: right">
              <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
              <input type="text" pInputText size="50" placeholder="Global Filter"
                (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
              <br>
              <span class="small">* Search keywords by Center, Home visit or date (yyyy-mm-dd)</span>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th width="6%">No.</th>
              <th>User Account details</th>
              <th>Booking Details</th>
              <th width="16%">Status</th>
              <th width="20%">Action</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-booking let-rowIndex="rowIndex">
            <tr>
              <td width="5%" style="vertical-align:top">
                <div class="ui-column-title text-green">#</div>
                <div>{{rowIndex+1}}</div>
              </td>
              <td style="vertical-align:top">
                <div>
                  <b>{{booking.person?.name}}</b> <br>
                  ACCOUNT ID: {{booking.account?.username}}<br>
                  NRIC: {{booking.person?.ic_no}}

                </div>
              </td>
              <td style="vertical-align:top">
                <div class="ui-column-title  text-green">BOOKING DETAILS</div>
                <div>
                  <div *ngFor="let product of booking.products">
                    {{product.name}}
                  </div>
                  <div class="font-weight-bold">{{booking.patients.length}} person{{booking.patients.length>1?'s':''}}
                  </div>
                  <span class="badge badge-secondary">{{booking.booking_no}}</span>

                  <div valign="top">
                    {{booking.screening_center?.sc_name}}<br>
                    {{booking.screening_date}}, {{booking.screening_time}}
                  </div>
                </div>
              </td>
              <td style="vertical-align:top">
                <div class="ui-column-title text-green">STATUS</div>
                <div>
                  <span class="badge"
                    [ngClass]="{'badge-success':booking.status=='COMPLETED','badge-warning':booking.status=='PENDING' ,'badge-danger':booking.status=='CANCELLED'}">
                    {{booking.status}}</span>
                </div>
              </td>
              <td width="10%" style="vertical-align:top">
                <div class="text-center">
                  <ng-container *ngFor="let payment of booking.payments">
                    <!-- <button style="margin-bottom: 1px;" class="btn btn-sm btn-block btn-round btn-primary" (click)="printReceipt(payment)">
                      VIEW RECEIPT {{payment.trans_no}}
                    </button> -->
                    <button style="margin-bottom: 1px;" class="btn btn-sm btn-block btn-round btn-primary"
                      (click)="printReceipt(payment)" [disabled]="loadingReceipt && selectedBooking.booking_no==booking.booking_no">
                      <i class="spinner-border spinner-border-sm text-black" *ngIf="loadingReceipt && receiptTransNo==payment.trans_no"
                       ></i>
                      VIEW RECEIPT {{payment.trans_no}}
                    </button>
                  </ng-container>

                  <!-- <button style="margin-bottom: 1px;" class="btn btn-sm btn-block btn-round  btn-primary"
                    *ngIf="booking.status=='COMPLETED'">
                    PRINT TEST FORM
                  </button> -->
                  <button style="margin-bottom: 1px;" class="btn btn-sm btn-block btn-round  btn-primary"
                  *ngIf="booking.status!='CANCELLED'" (click)="printTestForm(booking)" [disabled]="loadingTestForm && selectedBooking.booking_no==booking.booking_no">
                  <i class="spinner-border spinner-border-sm text-black" *ngIf="loadingTestForm && selectedBooking.booking_no==booking.booking_no"></i>
                  PRINT TEST FORM
                </button>
                </div>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="summary">
            {{dataSearchBooking?.length}} total records
          </ng-template>
        </p-table>

        <div *ngIf="isSearching">
          <i class="spinner-border spinner-border-sm text-primary"></i> Searching data...
        </div>

        <div *ngIf="!isSearching&&dataSearchBooking?.length==0">No result found</div>


      </p-tabPanel>
    </p-tabView>
  </div>
</div>

<ng-template #tmpTimeSlots let-modal>
  <div class="modal-content">
    <div class="modal-header bg-primary">
      MANAGE TIME SLOTS
      <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">X</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-12">
          <div *ngIf="loadingTimeslot">
            <i class="spinner-border spinner-border-sm text-primary"></i> Loading data...
          </div>
          <div style="overflow-y:scroll; overflow-x:hidden; min-height:150px;max-height:250px;padding:15px"
            *ngIf="!loadingTimeslot">
            <table class="table table-sm">
              <thead>
                <th>Code</th>
                <th>Description</th>
                <th>Action</th>
              </thead>
              <tbody>
                <tr *ngFor="let timeSlot of dataTimeSlots">
                  <td>
                    {{timeSlot.ts_code}}
                  </td>
                  <td>
                    {{timeSlot.ts_description}}
                  </td>
                  <td>
                    <button class="btn btn-sm btn-round btn-primary" style="margin-left: 10px"
                      (click)="editTimeSlot(timeSlot)">Edit</button>
                    <button class="btn btn-sm btn-round btn-danger" style="margin-left: 10px"
                      (click)="deleteTimeSlot(timeSlot)">Delete</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
        <div class="col-sm-12" *ngIf="formTimeSlot">
          <hr>
          <b>{{mode}} : Please enter details for Time Slot</b>
          <div class="pt-2"></div>
          <form [formGroup]="formTimeSlot">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="usr">Code:</label>
                  <!-- <label for="usr" >Add your time: </label> -->
                  <input type="text" class="form-control" formControlName="ts_code">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="usr">Description :</label>
                  <!-- <label for="usr" >Add your description: </label>  -->
                  <input type="text" class="form-control" formControlName="ts_description">
                </div>
              </div>
              <div class="col-sm-12">
                <button class="btn btn-sm btn-primary btn-round pull-right" (click)="saveTimeSlot()">Save</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-sm btn-round btn-primary" style="margin-left: 10px" (click)="addTimeSlot()">Add New Time
        Slot</button>
      <button class="btn btn-sm btn-round btn-secondary" (click)="modalRef.hide()">Close</button>
    </div>
  </div>
</ng-template>

<ng-template #tmpScreeningCenter let-modal>
  <div class="modal-content">
    <div class="modal-header bg-primary">
      MANAGE SCREENING CENTRE
      <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">X</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-12">
          Please choose an existing screening centre or add a new one.
        </div>
        <div class="col-sm-8" style="margin-top: 20px;">
          <select class="form-control form-control-sm" [(ngModel)]="selectedScreeningCenter"
            (change)="editScreeningCentre($event)" [disabled]="chkNewCenter">
            <option [value]="null">CHOOSE A SCREENING CENTER</option>
            <option *ngFor="let centre of dataScreening" [value]="centre.sc_id">{{centre.sc_name}}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <br>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" value="add" (change)="addScreeningCentre($event)"
                [(ngModel)]="chkNewCenter">Add a
              new screening centre.
            </label>
          </div>
          <div class="pt-3"></div>
        </div>
      </div>
      <div *ngIf="formScreeningCentre">
        <div class="card">
          <div class="card-body" [formGroup]="formScreeningCentre">
            <div class="row">
              <div class="col-sm-12">
                <b>{{modeCenter}} SCREENING CENTER</b>
                <div class="pt-3"></div>
              </div>
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="usr">Name of center:</label>
                  <input type="text" class="form-control" formControlName="sc_name" maxlength="100">
                  <div *ngIf="isSubmitted && formScreeningCentre.get('sc_name').invalid"
                    class="field-validation-error small">
                    <div class="text-danger">Name is required</div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 ">
                <div class="form-group">
                  <label for="usr">Address:</label>
                  <textarea class="form-control" formControlName="sc_address"></textarea>
                  <div *ngIf="isSubmitted && formScreeningCentre.get('sc_address').invalid"
                    class="field-validation-error small">
                    <div class="text-danger">IC No is required</div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 ">
                <div class="form-group">
                  <label for="usr">Postcode:</label>
                  <input type="text" class="form-control" formControlName="sc_postcode">
                  <div *ngIf="isSubmitted && formScreeningCentre.get('sc_postcode').invalid"
                    class="field-validation-error small">
                    <div class="text-danger">Email is required</div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <label for="usr">State</label>
                <select class="form-control form-control-sm" formControlName="sc_state">
                  <option value="null">Choose state</option>
                  <option *ngFor="let state of dataState" [value]="state.state_name">{{state.state_name}}</option>
                </select>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="usr">Telephone (Fixed)</label>
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" formControlName="sc_telephone">
                  </div>
                  <div *ngIf="isSubmitted && formScreeningCentre.get('sc_telephone').invalid"
                    class="field-validation-error small">
                    <div class="text-danger">Mobile No is required</div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="usr">Person In-charge:</label>
                  <input type="text" class="form-control" formControlName="sc_person_in_charge" maxlength="100">
                  <div *ngIf="isSubmitted && formScreeningCentre.get('sc_person_in_charge').invalid"
                    class="field-validation-error small">
                    <div class="text-danger">This field is required</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <button class="btn btn-sm btn-danger btn-round pull-right" (click)="deleteScreeningCenter()"
              *ngIf="modeCenter=='EDIT'">Delete this Screening Centre</button>
            <button class="btn btn-sm btn-primary btn-round pull-right" (click)="saveScreeningCentre()">Save this
              Screening Centre</button>

            <div class="pt-3"></div>
            <hr>
            <div class="row" *ngIf="formScreeningCentre.get('sc_id').value!=0">
              <div class="col-sm-6">
                <b>Screening Time </b>
                <select class="form-control form-control-sm" (change)="addCenterTimeslot()"
                  [(ngModel)]="selectedAddTimeslot">
                  <option value="null">Choose timeslot to add to the list</option>
                  <option *ngFor="let time of dataTimeSlots">{{time.ts_code}}</option>
                </select>
                <div class="pt-2"></div>
                <ul class="list-group">
                  <li style="border-bottom: black 1px solid; "
                    class="list-group-item d-flex justify-content-between align-items-center"
                    *ngFor="let time of dataCenterTimeslot; let i = index">
                    {{time.ts_code}}
                    <button class="btn btn-sm btn-round btn-danger pull-right" (click)="deleteCenterTimeslot(time)"><i
                        class="fa fa-trash"></i>
                      Remove</button>
                  </li>
                </ul>
              </div>
              <div class="col-sm-6 text-center">
                <!-- <img [src]="photoUrl" (error)="setDefaultPic($event)"  
                width="300px"> -->

                <img [src]="photoPath" (error)="setDefaultPic($event)" width="300px">

                <p-fileUpload [files]="tmpPhotoFile" #pPhoto mode="basic" name="photo[]" [customUpload]="true"
                  (uploadHandler)="uploadPhotoNow($event,pPhoto)" accept="image/*" maxFileSize="1000000" [auto]="true"
                  chooseLabel="Browse"></p-fileUpload>

                <br>
                <!-- <button class="btn btn-sm btn-primary btn-round" (click)="uploadPicture()"><i
                    class="fa fa-upload"></i>Upload Photo</button> -->
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
    <div class="modal-footer">
      <button class="btn btn-sm btn-secondary btn-round pull-right" (click)="modalRef.hide()">Close</button>
    </div>
  </div>
</ng-template>

<ng-template #tmpReceipt let-modal>
  <div class="modal-content">
    <div class="modal-header bg-primary">
      PRINT RECEIPT
      <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">X</span>
      </button>
    </div>
    <div class="modal-body">
      <app-receipt [bookingNo]="receiptBookingNo" [transNo]="receiptTransNo"></app-receipt>
    </div>
  </div>
</ng-template>