 
 
.lefticon{
    font-size:18px;
    position:absolute;
    top:-8px;
    left:20px;
    transform:translate(-40%,0);
    z-index:99;
    background:white;
  }


  .righticon{
    font-size:120px;
    position:absolute;
    bottom:5px;
    right:-28px;
    transform:translate(-40%,0);
    z-index:99;
    background:white;
    opacity: 0.5;
  }

  .bg-light-blue{
    background-color: #0772b41f !important;
  }
