<div class="row">
    <h1 class="font-weight-bold">
      MARKETPLACE
    </h1>
</div>

<div class="pt-3"></div>

<div class="row">
  <div class="welcome-label">Hello <b>{{user.person.name.toUpperCase()}}</b></div>
</div>

<div class="pt-3"></div>

<div class="row" style="width: 60%; margin-left: auto; margin-right: auto;">
  <div class="col-md-12">
    <h2 class="myhc-subtitle"><span class="myhc-subtitle-u">FEATURED PACKAGES / PROMOTIONS</span></h2>
    <div class="row">
      <div class="col-md-10">
          You can view here the main features for this month including promotions that are available.
      </div>
      <div class="col-md-2 text-right">
        <a href="">View All ></a>
      </div>
    </div>
    <div class="pt-3"></div>
    <div class="row">
      <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
    <div ngxSlickItem *ngFor="let slide of slides" class="slide">
      <img class="slick-slider-img" src="{{slide}}" alt="" width="100%">
    </div>
  </ngx-slick-carousel>
    </div>
  </div>
</div>

<div class="row" style="width: 60%; margin-left: auto; margin-right: auto;">
  <div class="col-md-12">
    <h2 class="myhc-subtitle"><span class="myhc-subtitle-u">MYHEALTHCARD PACKAGES</span></h2>
    <div class="row">
      <div class="col-md-10">
          Here are the "MYHEALTHCARD" packages that are available for you to choose from.
      </div>
      <div class="col-md-2 text-right">
        <a href="">View All ></a>
      </div>
    </div>
    <div class="pt-3"></div>
    <div class="row">
      <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
    <div ngxSlickItem *ngFor="let slide of slides" class="slide">
      <img class="slick-slider-img" src="{{slide}}" alt="" width="100%">
    </div>
  </ngx-slick-carousel>
    </div>
  </div>
</div>  
