<div class="row">
  <div class="col-sm-12">
    <h1 class="font-weight-bold pull-right">
      <span class="text-blue">ADMIN </span>&nbsp;<span class="text-green">SETTINGS</span>
    </h1>
  </div>
  <div class="col-sm-12">
    <button class="btn btn-sm btn-primary btn-round pull-right" (click)="newAccount(tmpInputAccountInfo)">New
      admin account</button>
  </div>
</div>
<div class="pt-3"></div>



<p-tabView>
  <p-tabPanel header="Admin Account">
    <div *ngIf="loading">
      <i class="spinner-border spinner-border-sm text-primary"></i> Loading data...
      <div class="pt-3"></div>
    </div>
    <p-table #dt [value]="dataAdminPerson" [responsive]="true" [paginator]="true" [rows]="10"
      [globalFilterFields]="['name','ic_no','town','state','reg_no','date_registered']" *ngIf="!loading">
      <ng-template pTemplate="caption">
        <div style="text-align: right">
          <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
          <input type="text" pInputText size="50" placeholder="Global Filter"
            (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th width="5%">#</th>
          <th width="10%">Username</th>
          <th>Name /IC No</th>
          <th>Email</th>
          <th width="15%">Group</th>
          <th width="10%">Date updated</th>
          <th width="10%">Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-person let-rowIndex="rowIndex">
        <tr>
          <td width="5%" style="vertical-align:top">
            <div class="ui-column-title text-green">#</div>
            <div>{{rowIndex+1}}</div>
          </td>
          <td style="vertical-align:top">
            {{person.username}}
          </td>
          <td style="vertical-align:top">
            {{person.name}}<br>
            {{person.ic_no}}
          </td>
          <td style="vertical-align:top">
            {{person.email}}
          </td>
          <td style="vertical-align:top">
            {{person.menu_owner}}
          </td>

          <td style="vertical-align:top">
            {{person.date_updated}}
          </td>

          <td width="10%" style="vertical-align:top">
            <div class="text-right">
              <button class="btn btn-sm btn-round btn-primary" (click)="editAccount(tmpInputAccountInfo,person)">
                View details
              </button>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        {{dataAdminPerson?.length}} total records
      </ng-template>
    </p-table>
  </p-tabPanel>

  <p-tabPanel header="Group">
    <div *ngIf="loading">
      <i class="spinner-border spinner-border-sm text-primary"></i> Loading data...
      <div class="pt-3"></div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <button class="btn btn-sm btn-primary btn-round pull-right mb-3" (click)="newGroup(tmpInputGroupInfo)">New Group</button>
      </div>
    </div>
    <p-table #dt [value]="dataGroup" [responsive]="true" [paginator]="true" [rows]="10"
      [globalFilterFields]="['group']" *ngIf="!loading">
      <ng-template pTemplate="caption">
        <div style="text-align: right">
          <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
          <input type="text" pInputText size="50" placeholder="Global Filter"
            (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th width="5%">#</th>
          <th width="40%">Group</th>
          <th width="40%">Title</th>
          <th width="15%">Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-group let-rowIndex="rowIndex">
        <tr>
          <td width="5%" style="vertical-align:top">
            <div class="ui-column-title text-green">#</div>
            <div>{{rowIndex+1}}</div>
          </td>
          <td style="vertical-align:top">
            {{ group.owner }}
          </td>
          <td style="vertical-align:top">
            {{ group.title }}
          </td>
          <td width="10%" style="vertical-align:top">
            <div class="text-right">
              <button class="btn btn-sm btn-round btn-primary" (click)="editGroup(tmpInputGroupInfo,group)">
                View details
              </button>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        {{dataGroup?.length}} total records
      </ng-template>
    </p-table>
  </p-tabPanel>

  <p-tabPanel header="Group Menu">
    <div *ngFor="let mainMenu of dataMainMenu  | keyvalue; let i = index; let last = last">
      <!-- <pre>{{mainMenu.value | json}}</pre> -->
      <h3 class="font-weight-bold text-blue">GROUP : {{mainMenu.key}}</h3>

      <div class="row" *ngFor="let menu of mainMenu.value">
        <div class="col-sm-12">
          <hr>
        </div>
        <div class="col-sm-2 font-weight-bold">
          <div>{{menu.title}}</div>
          <button class="btn btn-sm btn-round btn-primary" (click)="openMenuItem(tmpAddMenuItem,menu)">Add menu item</button>
        </div>
        <div class="col-sm-10">
          <table class="table table-sm">
            <thead>
              <th width="5%">Seq. No</th>
              <th>Menu title</th>
              <th width="25%">Menu Path</th>
              <th width="25%">Menu Page</th>
              <th width="10%">Enabled </th>
              <th width="5%">Create </th>
              <th width="5%">Read</th>
              <th width="5%">Update </th>
              <th width="5%">Delete </th>
              <th width="10%"></th>
            </thead>
            <tbody>
              <tr *ngFor="let item of menu.items">
                <td>{{item.sort_id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.path}}</td>
                <td>{{item.page}}</td> 
                <td>{{item.enabled==1?'Yes':'No'}}</td>
                <td>{{item.permission.create==1?'Yes':'No'}}</td>
                <td>{{item.permission.read==1?'Yes':'No'}}</td>
                <td>{{item.permission.update==1?'Yes':'No'}}</td>
                <td>{{item.permission.delete==1?'Yes':'No'}}</td>
               
                <td>
                  <button class="btn btn-sm btn-round btn-info" (click)="editMenuItem(tmpEditMenuItem, item.item_id, menu.main_id)">Edit</button>
                  <button class="btn btn-sm btn-round btn-danger" (click)="deleteMenuItem(item.item_id, menu.main_id)">Delete</button> 
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <hr *ngIf="!last" class="line-blue">

    </div>
  </p-tabPanel>
</p-tabView>

<ng-template #tmpInputAccountInfo let-modal>
  <div class="modal-content">
    <div class="modal-header bg-primary">
      {{mode}} ACCOUNT INFO
      <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">X</span>
      </button>
    </div>
    <div class="modal-body bg-light-green">
      <h2 class="font-weight-bold text-green">USER  DETAILS</h2>
      <div [formGroup]="dataForm" *ngIf="dataForm">
        <div class="row">
          <div class="col-sm-6">
            <div class="row">
              <div class="form-group col-sm-9">
                <label for="name">Name </label>
                <input type="text" class="form-control" placeholder="Enter name" id="name" formControlName="name">
                <div *ngIf="isSubmitted && dataForm.get('name').invalid" class="field-validation-error small">
                  <div class="text-danger">Name is required</div>
                </div>
              </div>
              <!-- <div class="form-group col-sm-3">
                <label for="age">Gender</label>
                <select formControlName="gender" class="form-control">
                  <option [value]="null">Please choose</option>
                  <option value="F">Female</option>
                  <option value="M">Male</option>
                </select>
                <div *ngIf="isSubmitted && dataForm.get('gender').invalid" class="field-validation-error small">
                  <div class="text-danger">Gender is required</div>
                </div>
              </div> -->
              <div class="form-group col-sm-6">
                <label for="ic_no">IC No</label>
                <div *ngIf="mode=='EDIT'" class="font-weight-bold">{{dataForm.get('ic_no').value}}</div>
                <input type="text" class="form-control mr-sm-2 " placeholder="Enter IC no without dash '-'" id="ic_no"
                  formControlName="ic_no" maxlength="12" *ngIf="mode=='NEW'">
                <div *ngIf="isSubmitted && dataForm.get('ic_no').invalid" class="field-validation-error small">
                  <div class="text-danger">IC No is required</div>
                </div>
              </div>
              <!-- <div class="form-group col-sm-3">
                <label for="age">Age</label>
                <input type="number" class="form-control mr-sm-2 " placeholder="Enter age" id="age"
                  formControlName="age">
                <div *ngIf="isSubmitted && dataForm.get('age').invalid" class="field-validation-error small">
                  <div class="text-danger">Age is required</div>
                </div>
              </div> -->
              <div class="form-group col-sm-3">
              </div>

              <div class="form-group col-sm-6">
                <label for="mobile_no">Mobile No</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend ">
                    <span class="input-group-text bg-white text-dark">+60</span>
                  </div>
                  <input type="text" class="form-control" placeholder="Enter Mobile No" id="mobile_no" maxlength="15"
                    formControlName="mobile_no">
                </div>
                <div *ngIf="isSubmitted && dataForm.get('mobile_no').invalid" class="field-validation-error small">
                  <div class="text-danger">Mobile No is required</div>
                </div>
              </div>

              <div class="form-group col-sm-6">
                <label for="email">Email</label>
                <input type="text" class="form-control mr-sm-2 " placeholder="Enter email" id="email"
                  formControlName="email">
                <div *ngIf="isSubmitted && dataForm.get('email').errors" class="field-validation-error small">
                  <div *ngIf="dataForm.get('email').invalid" class="text-danger">Email is required</div>
                  <div *ngIf="dataForm.get('email').errors.email" class="text-danger">Email must be a valid email
                    address</div>
                </div>
              </div>

              <div class="form-group col-sm-6">
                <h2 class="font-weight-bold text-green">ACCOUNT</h2>
                <label for="email">User group</label><br>
                <select formControlName="user_group" class="form-control mr-sm-2 ">
                 


                  <option [value]="null">Please choose</option>
                  <option [value]="data.owner" *ngFor="let data of dataUniqueGroup">{{data.owner}}</option>
                
                </select>
              </div>
              <div class="form-group col-sm-6">
                <h2 class="font-weight-bold text-green">&nbsp;</h2>
                <label for="email">Username</label>
                <div class="font-weight-bold">{{dataForm.get('username').value?dataForm.get('username').value:'Not
                  created'}}
                  <button class="btn btn-sm text-primary" tooltip="Reset password" (click)="resetPassword()"
                  *ngIf="dataForm.get('username').value"><i class="fa fa-key"></i></button>
                </div>
               
              </div>
            </div>
          </div>
          <div class="col-sm-6" style="border-left: solid 1px lightgray;">
            <div class="row">
              <div class="form-group col-sm-12">
                <label for="address">Address</label>
                <input type="text" class="form-control mr-sm-2 " placeholder="Enter Address" id="address"
                  formControlName="address">
                <div *ngIf="isSubmitted && dataForm.get('address').invalid" class="field-validation-error small">
                  <div class="text-danger">Address is required</div>
                </div>
              </div>
              <div class="form-group col-sm-6">
                <label for="town">Town</label>
                <input type="text" class="form-control mr-sm-2 " placeholder="Enter town" id="town"
                  formControlName="town">
                <div *ngIf="isSubmitted && dataForm.get('town').invalid" class="field-validation-error small">
                  <div class="text-danger">Town is required</div>
                </div>
              </div>
              <div class="form-group col-sm-6">
                <label for="district">District</label>
                <input type="text" class="form-control mr-sm-2 " placeholder="Enter District" id="district"
                  formControlName="district">
                <div *ngIf="isSubmitted && dataForm.get('district').invalid" class="field-validation-error small">
                  <div class="text-danger">District is required</div>
                </div>
              </div>
              <div class="form-group col-sm-4">
                <label for="postcode">Postcode</label>
                <input type="text" class="form-control mr-sm-2 " placeholder="Enter Postcode" id="postcode"
                  maxlength="6" formControlName="postcode">
                <div *ngIf="isSubmitted && dataForm.get('postcode').invalid" class="field-validation-error small">
                  <div class="text-danger">Postcode is required</div>
                </div>
              </div>
              <div class="form-group col-sm-6">
                <label for="state">State</label>
                <select class="form-control" formControlName="state">
                  <option [value]="null">Please choose</option>
                  <option [value]="state.state_name" *ngFor="let state of states">{{state.state_name}}</option>
                </select>
                <div *ngIf="isSubmitted && dataForm.get('state').invalid" class="field-validation-error small">
                  <div class="text-danger">State is required</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer bg-light-green">
      <button type="button" class="btn btn-sm btn-round btn-primary" (click)="saveAccount()">
        Save</button>
      <button type="button" class="btn btn-sm btn-round btn-secondary" (click)="modalRef.hide()"
        style="margin-left: 5px;"> Close</button>
    </div>
  </div>
</ng-template>

<ng-template #tmpInputGroupInfo let-modal>
  <div class="modal-content">
    <div class="modal-header bg-primary">
      {{mode}} GROUP INFO
      <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">X</span>
      </button>
    </div>

    <div class="modal-body bg-light-green">
      <h2 class="font-weight-bold text-green">GROUP  DETAILS</h2>
      <div [formGroup]="dataGroupForm" *ngIf="dataGroupForm">
        <div class="row">
          <div class="col-sm-6">
            <div class="row">
              <div class="form-group col-sm-9">
                <label for="owner">Group Name </label>
                <input type="text" class="form-control" placeholder="Enter group name" id="owner" formControlName="owner">
                <div *ngIf="isSubmitted && dataGroupForm.get('owner').invalid" class="field-validation-error small">
                  <div class="text-danger">Group Name is required</div>
                </div>
              </div>

              <div class="form-group col-sm-9">
                <label for="owner">Title </label>
                <input type="text" class="form-control" placeholder="Enter title name" id="title" formControlName="title">
                <div *ngIf="isSubmitted && dataGroupForm.get('title').invalid" class="field-validation-error small">
                  <div class="text-danger">Title Name is required</div>
                </div>
              </div>

              <div class="form-group col-sm-9">
                <label for="owner">Title (BAHASA MELAYU)</label>
                <input type="text" class="form-control" placeholder="Enter title name (BAHASA MELAYU)" id="lang_bm" formControlName="lang_bm">
                <div *ngIf="isSubmitted && dataGroupForm.get('lang_bm').invalid" class="field-validation-error small">
                  <div class="text-danger">Title Name (BAHASA MELAYU) is required</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer bg-light-green">
      <button type="button" class="btn btn-sm btn-round btn-primary" (click)="saveGroup()">
        Save</button>
      <button type="button" class="btn btn-sm btn-round btn-secondary" (click)="modalRef.hide()"
        style="margin-left: 5px;"> Close</button>
    </div>
  </div>
</ng-template>


<ng-template #tmpAddMenuItem let-modal>
  <div class="modal-content">
    <div class="modal-header bg-primary">
      ADD MENU ITEM > {{selectedMainMenu.owner}} > {{selectedMainMenu.title}}
      <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">X</span>
      </button>
    </div>
    <div class="modal-body bg-light-green">
      <div style="overflow-y: scroll; height:400px;">
        <table class="table table-sm table-hover">
          <thead>
            <th width="5%">#</th>
            <th>Menu title</th>
            <th width="25%">Menu Path</th>
            <th width="25%">Menu Page</th>
            <th width="10%">Enabled</th>
            <th width="10%"></th>
          </thead>
          <tbody>
            <tr *ngFor="let item of menuItems; let i=index">
              <td>{{i+1}}</td>
              <td>{{item.name}}</td>
              <td>{{item.path}}</td>
              <td>{{item.page}}</td>
              <td>{{item.enabled==1?'Yes':'No'}}</td>
              <td><button class="btn btn-sm btn-round btn-primary" (click)="addMenuItem(item)">Add</button></td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-sm btn-round btn-secondary" (click)="modalRef.hide()"
      style="margin-left: 5px;"> Close</button>
    </div>
  </div>
</ng-template>

<ng-template #tmpEditMenuItem let-modal>
  <div class="modal-content">
    <div class="modal-header bg-primary">
      {{mode}} MENU ITEM
      <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">X</span>
      </button>
    </div>
    <div class="modal-body bg-light-green">
      <h2 class="font-weight-bold text-green">MENU  DETAILS</h2>
     
      <div [formGroup]="dataForm" *ngIf="dataForm">
        <div class="row">
          <div class="col-sm-6">
            <div class="row">
              <div class="form-group col-md-3">
                <label class="form-check-label">
                  <span>CREATE</span>
                  <input type="checkbox" class="form-check-input ml-2" formControlName="create" name="create">
                </label>
              </div>
              <div class="form-group col-md-3">
                <label class="form-check-label">
                  <span>READ</span>
                  <input type="checkbox" class="form-check-input ml-2" formControlName="read" name="read">
                </label>
              </div>
              <div class="form-group col-md-3">
                <label class="form-check-label">
                  <span>UPDATE</span>
                  <input type="checkbox" class="form-check-input ml-2" formControlName="update" name="update">
                </label>
              </div>
              <div class="form-group col-md-3">
                <label class="form-check-label">
                  <span>DELETE</span>
                  <input type="checkbox" class="form-check-input ml-2" formControlName="delete" name="delete">
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>

      
    </div>
    <div class="modal-footer bg-light-green">
      <button type="button" class="btn btn-sm btn-round btn-primary" (click)="saveMenuItem()">
        Save</button>
      <button type="button" class="btn btn-sm btn-round btn-secondary" (click)="modalRef.hide()"
        style="margin-left: 5px;"> Close</button>
    </div>
  </div>
</ng-template>
