<div class="row">
  <div class="col-md-9">
    <h1 class="font-weight-bold">
      QR CODE
    </h1>
    This screening QR code contains your screening appointment details. Please scan the QR code at the clinic which ou have make appointment with for registration upon your arrival.
  </div>
</div>

<div class="pt-3"></div>

<div class="row">
  <div class="col-md-12 text-center">
    Choose the QR code to view: 

    <div class="pt-3"></div>

    <div class="row" style="width: 60%; margin-left: auto; margin-right: auto;">
      <div class="col-md-12">
        <button class="myhc-btn {{tabClass1}}" (click)="tab(1)">IDENTITY QR CODE</button>
        <button class="myhc-btn {{tabClass2}}" (click)="tab(2)">SCREENING QR CODE</button>
      </div>
    </div>
    <div class="pt-5"></div>
    <div class="pt-5"></div>
    <div class="row" *ngIf="tabContent1" style="display: block; width: 40%; margin-left: auto; margin-right: auto;">
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
          <div ngxSlickItem *ngFor="let patient of dataPatients; let i = index" class="slide">

            <span *ngIf="qrActive == i">
              <img class="slick-slider-img" src="https://via.placeholder.com/80x90" alt="" width="100%" (click)="showProfile(i)">
            </span>
            <span *ngIf="qrActive != i">
              <img class="slick-slider-img" src="https://via.placeholder.com/90x100" alt="" width="100%" (click)="showProfile(i)">
            </span>
          
            <span>{{patient.person.name}}</span>
          </div>
          
        </ngx-slick-carousel>
        <div class="card-body text-center">
          <div class="font-weight-bold">{{ qrName }}</div>
          <qrcode [qrdata]="qrValue" [width]="300" [errorCorrectionLevel]="'M'"></qrcode>
        </div>
    </div>

    <div class="row" *ngIf="tabContent2" style="width: 60%; margin-left: auto; margin-right: auto;">
      Content 2
    </div>

  </div>
</div>


