<div class="row">
  <h1 class="font-weight-bold">
    MY DASHBOARD
  </h1>
  <div class="row">
    <div class="col-md-12">
      <div class="breadcrumb-text">This is your main dashboard where you can view your main account
        details as well as see the results of your most recent screening as well as any upcoming bookings for
        screenings.</div>
    </div>
  </div>
</div>

<div class="pt-3"></div>

<div class="row">
  <div class="welcome-label">Hello <b>{{user.person.name.toUpperCase()}}</b></div>
</div>

<div class="pt-3"></div>

<div class="row">
  <div class="col-md-7">
    <div class="myhc-card">
      <div class="row">
        <div class="col-md-8">
            <span class="myhc-card-title"><b>SUMMARY OF TEST RESULT</b></span>
            Last Screening: 1/02/2022
        </div>
        <div class="col-md-4">
          <select class="form-control" formControlName="payment_method">
            <option value="" [value]="">CHOOSE A PANEL TO VIEW</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div id="chart" style="margin-left: auto; margin-right: auto;">
          <apx-chart
            [series]="chartOptions.series"
            [chart]="chartOptions.chart"
            [plotOptions]="chartOptions.plotOptions"
            [labels]="chartOptions.labels"
          ></apx-chart>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="myhc-card">
      <div class="row">
        <div class="col-md-8">
            <span class="myhc-card-title"><b>NOTIFICATIONS</b></span>
        </div>
        <div class="col-md-4 text-right">
            <u>Read All (1)</u>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <ngb-tabset class="myhc-tab">
            <ngb-tab>
              <ng-template ngbTabTitle>All</ng-template>
              <ng-template ngbTabContent>
                <table class="table table-striped">
                  <tbody>
                    <tr>
                      <td width="80%">You have 1 upcoming</td>
                      <td width="20%">1d ago</td>
                    </tr>
                    <tr>
                      <td width="80%">Admin has upload a file</td>
                      <td width="20%">5d ago</td>
                    </tr>
                  </tbody>
                </table>
              </ng-template>
            </ngb-tab>
            <ngb-tab>
              <ng-template ngbTabTitle>Archived</ng-template>
              <ng-template ngbTabContent>
                <table class="table table-striped">
                  <tbody>
                    <tr>
                      <td width="80%">You have 1 upcoming</td>
                      <td width="20%">1d ago</td>
                    </tr>
                    <tr>
                      <td width="80%">Admin has upload a file</td>
                      <td width="20%">5d ago</td>
                    </tr>
                  </tbody>
                </table>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
        
      </div>
    </div>

    <div class="myhc-card">
      <div class="row">
        <div class="col-md-8">
            <span class="myhc-card-title"><b>BOOKINGS</b></span>
        </div>
        <div class="col-md-4 text-right">
          <ul class="header-dropdown">
            <li class="dropdown">
              <div ngbDropdown class="d-inline-block">
                <a href="javascript:void(0);" role="button" ngbDropdownToggle>
                  <i class="fa fa-plus"></i> Add Filter
                </a>
                <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>

                </div>
            </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <ngb-tabset class="myhc-tab">
            <ngb-tab>
              <ng-template ngbTabTitle>All</ng-template>
              <ng-template ngbTabContent>
                <table class="table table-striped">
                  <tbody>
                    <tr>
                      <td width="80%">You have 1 upcoming</td>
                      <td width="20%">1d ago</td>
                    </tr>
                    <tr>
                      <td width="80%">Admin has upload a file</td>
                      <td width="20%">5d ago</td>
                    </tr>
                  </tbody>
                </table>
              </ng-template>
            </ngb-tab>
            <ngb-tab>
              <ng-template ngbTabTitle>Archived</ng-template>
              <ng-template ngbTabContent>
                <table class="table table-striped">
                  <tbody>
                    <tr>
                      <td width="80%">You have 1 upcoming</td>
                      <td width="20%">1d ago</td>
                    </tr>
                    <tr>
                      <td width="80%">Admin has upload a file</td>
                      <td width="20%">5d ago</td>
                    </tr>
                  </tbody>
                </table>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
        
      </div>
    </div>
  </div>
</div>
