<div class="row">
    <div class="col-sm-12">
      <h1 class="font-weight-bold ">
        <span class="text-green">{{ 'member-mgmt.add.title_member' | translate | uppercase }}</span>
      </h1>
    </div>
  </div>
  
  <div class="card">
    <div class="card-body">
      <div class="row mb-4">
        <div class="col-sm-12">
          <div class="rcorner-green">
            <div class="lefticon">
              <i class="fa fa-th-large text-blue"></i>
            </div>
            {{ 'member-mgmt.dashboard.title_welcome_start' | translate }} <b><span class="text-blue">{{ 'member-mgmt.breadcrumb.blue_title' | translate }}</span>&nbsp;<span class="text-green">{{ 'member-mgmt.breadcrumb.green_title' | translate }}</span></b> {{ 'member-mgmt.dashboard.title_welcome_end' | translate }}.
            <br />
            {{ 'member-mgmt.dashboard.title_welcomeDesc' | translate }}.
          </div>
        </div>
      </div>
     
      
        

      <div class="pt-3"></div>


      <div class="card">
        <div class="card-body">
          <div class="col-md-12">
            <div class="row">
              <h1>
                <span class="text-blue"><b>{{ 'member-mgmt.add.title_add' | translate }}</b></span>&nbsp;<span class="text-green">{{ 'member-mgmt.add.title_new' | translate }}&nbsp;{{ 'member-mgmt.add.title_member' | translate }}</span>
              </h1>
              
            </div>
            <div class="row">
              <div class="col-md-6">
                  <div class="lefticon mt-2">
                    <i class="fa fa-th-large text-blue"></i>
                  </div>
                  <b><span class="text-blue ml-4">{{ 'member-mgmt.add.title_member' | translate }}</span>&nbsp;<span class="text-green">{{ 'member-mgmt.add.title_detail' | translate }}</span></b>
              </div>
            </div>
            <div class="row ml-4">
              {{ 'member-mgmt.add.title_addMemberDesc' | translate }}.
            </div>
          </div>

          <div class="pt-3"></div>

          <div class="col-md-3">
            <div class="form-group">
              <label for="usr">{{ 'member-mgmt.textfield.title_name' | translate }}:</label>
              <input type="text" class="form-control" formControlName="name" maxlength="100">
              <div *ngIf="isSubmitted && formDetails.get('name').invalid" class="field-validation-error small">
                <div class="text-danger">{{ 'member-mgmt.textfield.title_name' | translate }} {{ 'member-mgmt.textfield.title_required' | translate }}</div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label for="usr">{{ 'member-mgmt.textfield.title_nric' | translate }}:</label>
              <input type="text" class="form-control" formControlName="nric" maxlength="100">
              <div *ngIf="isSubmitted && formDetails.get('nric').invalid" class="field-validation-error small">
                <div class="text-danger">{{ 'member-mgmt.textfield.title_nric' | translate }} {{ 'member-mgmt.textfield.title_required' | translate }}</div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="usr">{{ 'member-mgmt.textfield.title_dob' | translate }}:</label><br />
              <p-calendar formControlName="dob" dateFormat="yy-mm-dd"></p-calendar>
              <div *ngIf="isSubmitted && formDetails.get('dob').invalid"
                class="field-validation-error small">
                <div class="text-danger">{{ 'member-mgmt.textfield.title_dob' | translate }} {{ 'member-mgmt.textfield.title_required' | translate }}</div>
              </div>
            </div>
          </div>
          

          <div class="col-md-3">
            <div class="form-group">
              <label for="usr">{{ 'member-mgmt.textfield.title_age' | translate }}:</label>
              <input type="text" class="form-control" formControlName="age" maxlength="100">
              <div *ngIf="isSubmitted && formDetails.get('age').invalid" class="field-validation-error small">
                <div class="text-danger">{{ 'member-mgmt.textfield.title_age' | translate }} {{ 'member-mgmt.textfield.title_required' | translate }}</div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label for="usr">{{ 'member-mgmt.textfield.title_gender' | translate }}:</label>
              <select class="form-control" formControlName="gender">
                  <option *ngFor="let gender of genderList" [value]="gender.value">{{gender.name}}</option>
                </select>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label for="usr">{{ 'member-mgmt.textfield.title_address' | translate }}:</label>
              <textarea class="form-control" formControlName="address" maxlength="100"></textarea>
              <div *ngIf="isSubmitted && formDetails.get('address').invalid" class="field-validation-error small">
                <div class="text-danger">{{ 'member-mgmt.textfield.title_address' | translate }} {{ 'member-mgmt.textfield.title_required' | translate }}</div>
              </div>
            </div>
          </div>

          <div class="pt-3"></div>

          <div class="col-md-6">
            <div class="row">
              <div class="col-md-6">
                <b>{{ 'member-mgmt.add.title_confirmation' | translate }}</b>
              </div>
              <div class="col-md-6 pull-right">
                <button class="btn btn-sm btn-primary btn-round pull-right" (click)="addNewMember()"><i class="fa fa-plus"></i> {{ 'member-mgmt.add.title_submit' | translate }}</button>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                {{ 'member-mgmt.add.title_confirmationDesc' | translate }}.
              </div>
            </div>
          </div>
          
        </div>
        
      </div>
      

  </div>

