.normal {
    height: 15px;
    width: 15px;
    background-color: #93d050;
    border-radius: 50%;
    display: inline-block;
}

.borderline {
    height: 15px;
    width: 15px;
    background-color: #ff8900;
    border-radius: 50%;
    display: inline-block;
}

.high {
    height: 15px;
    width: 15px;
    background-color: #ff0000;
    border-radius: 50%;
    display: inline-block;
}

.na { 
    color: #227ab6;
}