<div class="row">
    <div class="col-sm-12">
      <h1 class="font-weight-bold pull-right">
        <span class="text-blue">{{ 'member-mgmt.breadcrumb.blue_title' | translate | uppercase }}</span>&nbsp;<span class="text-green">{{ 'member-mgmt.breadcrumb.green_title' | translate | uppercase }}</span>
      </h1>
    </div>
  </div>
  
  <div class="card">
    <div class="card-body">
      <div class="row mb-4">
        <div class="col-sm-12">
          <div class="rcorner-green">
            <div class="lefticon">
              <i class="fa fa-th-large text-blue"></i>
            </div>
            {{ 'member-mgmt.dashboard.title_welcome_start' | translate }} <b><span class="text-blue">{{ 'member-mgmt.breadcrumb.blue_title' | translate }}</span>&nbsp;<span class="text-green">{{ 'member-mgmt.breadcrumb.green_title' | translate }}</span></b> {{ 'member-mgmt.dashboard.title_welcome_end' | translate }}.
            <br />
            {{ 'member-mgmt.dashboard.title_welcomeDesc' | translate }}.
          </div>
        </div>
      </div>
     
      
        

      <div class="pt-3"></div>


      <div class="card">
        <div class="card-body">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                
                  <div class="lefticon mt-2">
                    <i class="fa fa-th-large text-blue"></i>
                  </div>
                  <b><span class="text-blue ml-4">{{ 'member-mgmt.dashboard.title_registered' | translate | uppercase }}</span>&nbsp;<span class="text-green">{{ 'member-mgmt.dashboard.title_member' | translate | uppercase }}</span></b> {{ 'member-mgmt.dashboard.title_subtitleDesc' | translate }}.
          
              </div>
              <div class="col-md-6">
                <button class="btn btn-sm btn-round btn-primary pull-right" [routerLink]="['add']">
                  <i class="fa fa-plus"></i>{{ 'member-mgmt.dashboard.title_addNewMember' | translate }}
                </button>
              </div>
            </div>
            
          </div>

          <div class="pt-3"></div>
          
          <div *ngIf="loading">
            <i class="spinner-border spinner-border-sm text-primary"></i> Loading data...
            <div class="pt-3"></div>
          </div>

          <p-table #dt [value]="dataMember" [responsive]="true" [paginator]="true" [rows]="10"
            [globalFilterFields]="[]" *ngIf="!loading">
            <ng-template pTemplate="caption">
              <div style="text-align: right">
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                <input type="text" pInputText size="50" placeholder="Global Filter"
                  (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                <br>
                <span class="small">* Search keywords by Transaction No or date (yyyy-mm-dd)</span>
              </div>

            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th colspan="5" width="35%"></th>
                <th width="65%" class="text-center"><span class="text-green">{{ 'member-mgmt.dashboard.title_table_healthRisk' | translate }}</span></th>
              </tr>
              <tr>
                <th width="5%">No.</th>
                <th width="10%">Name</th>
                <th width="10%">NRIC</th>
                <th width="5%">AGE</th>
                <th width="5%">GENDER</th>
                <th width="65%"></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-member let-rowIndex="rowIndex">
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </ng-template>
            <ng-template pTemplate="summary">
              {{dataMember?.length}} total records
            </ng-template>
          </p-table>
        </div>
      </div>
      <div class="row">
          <span class="normal ml-3">&nbsp;</span>&nbsp;&nbsp;{{ 'member-mgmt.dashboard.title_normal' | translate }}
          <span class="borderline ml-3">&nbsp;</span>&nbsp;&nbsp;{{ 'member-mgmt.dashboard.title_borderline' | translate }}
          <span class="high ml-3">&nbsp;</span>&nbsp;&nbsp;{{ 'member-mgmt.dashboard.title_high' | translate }}
          <span class="na ml-3">N/A</span>&nbsp;&nbsp;{{ 'member-mgmt.dashboard.title_na' | translate }}
      </div>
    </div>
  </div>

