<div class="row">
    <div class="col-sm-12">
        <h1 class="font-weight-bold pull-right">
            <span class="text-blue">  {{ 'purchase.purchase' | translate }}    </span>&nbsp;<span class="text-green">{{ 'purchase.add-on' | translate }} </span>
        </h1>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-sm-4" *ngFor="let item of planTestItems">
            <div class="card" style="background-color: #0D47A1; color:white">
                <div class="card-body">
                    {{item.test_group_code}}
                    <h3 class="font-weight-bold">{{item.test_group.group_name}}</h3>

                </div>
                <div class="card-footer">
                    <h3 class="badge badge-warning">RM{{item.test_group.price}}</h3>
                    <button class="btn btn-sm text-primary btn-round pull-right" style="font-size: 16px;"
                        (click)="buyTestItem(tmpBuyNow,item,'TEST')"
                        [tooltip]="'Buy Test Item ' + item.test_group_code"><i class="fa fa-shopping-cart"
                            aria-hidden="true"></i>Buy now</button>
                </div>
            </div>
        </div>

        <div class="col-sm-4" *ngFor="let item of planServices">
            <div class="card" style="background-color: #0D47A1; color:white">
                <div class="card-body">
                    {{item.add_on.add_on_code}}
                    <h3 class="font-weight-bold">{{item.add_on.name}}</h3>

                </div>
                <div class="card-footer">
                    <h3 class="badge badge-warning">RM{{item.add_on.price}}</h3>
                    <button class="btn btn-sm text-primary btn-round pull-right" style="font-size: 16px;"
                        (click)="buyTestItem(tmpBuyNow,item,'SERVICE')"
                        [tooltip]="'Buy Test Item ' + item.test_group_code"><i class="fa fa-shopping-cart"
                            aria-hidden="true"></i>Buy now</button>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- <div class="col-sm-12">
        <p-carousel [value]="dataAddOnPurchase" [numVisible]="2" [numScroll]="1"
            [responsiveOptions]="responsiveOptions">
            <ng-template let-test pTemplate="item">
                <div class="card" style="padding-right: 10px;padding-left: 10px;">
                    <div class="card-header bg-success">
                        <h2>{{test.group_name}}</h2>
                    </div>
                    <div class="card-footer bg-light">
                        <span class=" font-weight-bold " style="font-size: 18px;">RM{{test.price}}</span>
                        <div class="pull-right">
                            <button class="btn btn-sm btn-primary btn-round" (click)="buyTestItem(tmpBuyNow,test)"
                                [tooltip]="'Buy Test Item ' + test.test_group_code"><i class="fa fa-shopping-cart"
                                    aria-hidden="true"></i>Buy now</button>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-carousel>
    </div> -->


<!-- <div class="col-sm-12">
        <h4 class="font-weight-bold">PURCHASE HISTORY</h4>
        <table class="table" *ngIf="dataPurchase?.length>0">
            <thead>
                <th>Name</th>
                <th>Test</th>
                <th>Price (RM)</th>
                <th>Date purchased</th>
            </thead>
            <tbody>
                <tr *ngFor="let detail of dataPurchase">
                    <td>{{detail.patient_name}}</td>
                    <td>{{detail.test.name}}</td>
                    <td>{{detail.test.price}}</td>
                    <td>{{detail.purchase_date}}</td>
                </tr>
            </tbody>
        </table>
        <span *ngIf="dataPurchase?.length==0"><i>No data available</i></span>
    </div>
</div> -->

<ng-template #tmpBuyNow let-modal>
    <div class="modal-content">
        <div class="modal-header bg-primary">
            {{mode}} ADD-ON PLAN
            <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">X</span>
            </button>
        </div>
        <div class="modal-body">
            <div *ngIf="selectedAddOn">
                <div class="row">
                    <div class="col-sm-6">
                        <!-- <div class="card"> -->
                        <!-- <div class="card-body"> -->
                        <h4> {{selectedAddOn.code}} </h4>
                        <h2>{{selectedAddOn.name}}</h2>
                        <h3 class="badge badge-warning">RM{{selectedAddOn.price}}</h3>
                        <!-- </div> -->
                        <!-- </div> -->
                    </div>
                    <div class="col-sm-6">
                        <div class="card" *ngIf="selectedAddOn.remark&&selectedAddOn.remark.length>5">
                            <div class="card-body">
                                {{selectedAddOn.remark}}
                            </div>
                        </div>
                        <!-- <div class="card" *ngIf="selectedAddOn.test_included">
                            <div class="card-body">
                                Test Included<br>
                                <table class="table table-sm table-bordered">
                                    <tr *ngFor="let listInclude of selectedPlan.test_panels; let i=index;">
                                        <td  >{{i+1}}. {{listInclude.name}}
                                            ({{listInclude.test_panel_code}})</td>
                                    </tr>
                                </table>
                            </div>
                        </div> -->
                    </div>
                </div>
                <hr>
                <div class="body-footer">
                    <div class="pull-right">
                        <button type="button" class="btn btn-sm btn-round btn-primary"
                            (click)="confirmPurchaseTestItem()">
                            Proceed with Payment</button>
                        <button type="button" class="btn btn-sm btn-round btn-secondary" (click)="modalRef.hide()">
                            Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>