<div class="row">
  <div class="col-sm-12">
    <h1 class="font-weight-bold pull-right">
      <span class="text-blue">INPUT</span>&nbsp;<span class="text-green">TEST RESULT</span>
    </h1>
  </div>

  <div class="pt-3"></div>

  <div class="col-sm-12">
    <div class="card">
      <div class="card-body bg-light-gray">
        <h3>
          Filter by {{optFilter}}
          <button class="btn btn-sm btn-primary btn-round pull-right" (click)="newTestResult(tmpTestInput)">New
            Test Result</button>
        </h3>
        <div class="form-check-inline" style="padding-right: 20px;">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="optFilter" [(ngModel)]="optFilter" value="test date" >Test
            Date
          </label><br>
          <p-calendar [(ngModel)]="filter_test_date" dateFormat="yy-mm-dd" (onFocus)="onSearchPatient('test date')"></p-calendar>
          <br><span class="small">Date format: YYYY-MM-DD</span>
        </div>
        <div class="form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="optFilter" [(ngModel)]="optFilter" value="IC No">Ic No
            <!-- <input type="text" [(ngModel)]="filter_ic_no"> -->

            <p-autoComplete [(ngModel)]="filter_patient" [suggestions]="filteredSingle" field="ic_no"
              (completeMethod)="filterSingle($event)" [size]="30" placeholder="Enter patient's IC No or name" [minLength]="1"
              [dropdown]="true" (onSelect)="selectPatient($event)" (onFocus)="onSearchPatient('IC No')">
              <ng-template let-patient pTemplate="item">
                {{patient.name}} ({{patient.ic_no}})
              </ng-template>
            </p-autoComplete>

          </label>
        </div>

        <button class="btn btn-round btn-sm btn-primary" (click)="filter()">Get records</button>

      </div>
    </div>
  </div>

  <div class="col-sm-12 bg-white">
    <h3 *ngIf="noteFilter">
      {{noteFilter}}
    </h3>
    <div *ngIf="loading" class="pull-right">
      <i class="spinner-border spinner-border-sm text-primary"></i> Filtering data...
    </div>
    <table class="table" *ngIf="dataAllResult">
      <thead>
        <th>#</th>
        <th>Patient</th>
        <th>Test Date / Result</th>
      </thead>
      <tbody>
        <tr *ngFor="let person of dataAllResult  | keyvalue; let i = index">
          <td width="5%">{{i+1}}</td>
          <td width="20%">
            <b>{{person.value.name}}</b><br>
            {{person.value.ic_no}}
          </td>
          <td>
            <div *ngFor="let date of person.value | keyvalue; let last = last">
              <div *ngIf="date.key.indexOf('test_date#')!=-1">

                <div class="row">
                  <div class="col-sm-2">
                    <b>{{date.value.test_date}}</b> <br>
                    {{date.value.source}}
                  </div>
                  <div class="col-sm-10">
                    <div *ngFor="let testPanel of date.value | keyvalue">
                      <!-- <div>{{testPanel.value |json}}</div> -->
                      <div *ngIf="testPanel.key.indexOf('test_panel')!=-1">
                        <ul class="list-group">
                          <li class="list-group-item">
                            <span class="font-weight-bold">{{testPanel.value.test_panel_name}}</span>
                            <button class="btn btn-sm btn-round btn-danger pull-right"
                              (click)="deleteResult(testPanel)">Delete result</button>
                            <button class="btn btn-sm btn-round btn-primary pull-right"
                              (click)="updateTestResult(tmpTestInput,testPanel.value)" style="margin-right: 5px;">Update
                              result</button>
                          </li>
                          <li class="list-group-item">
                            <div>
                              <!-- <div>{{testMarker.value |json}}</div> -->
                              <div class="row">
                                <div class="column">
                                  <div class="d-inline-flex p-1 bg-white text-white"
                                    *ngFor="let testMarker of testPanel.value.test_markers | keyvalue">
                                    <div class="p-1 bg-secondary">{{testMarker.value.test_marker_name}}</div>
                                    <div class="p-1 bg-warning text-dark font-weight-bold">
                                      {{testMarker.value.test_value}}</div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </li>
                        </ul>
                        <br>
                      </div>
                    </div>
                  </div>
                </div>

                <hr *ngIf="!last">
              </div>
            </div>
          </td>

        </tr>
      </tbody>
    </table>
    <div *ngIf="!dataAllResult">
      <i>No data to display</i>
    </div>
    <div *ngIf="dataAllResult && dataAllResult.length==0">
      <i>No data to display</i>
    </div>
  </div>
</div>

<ng-template #tmpTestInput let-modal>
  <div class="modal-content">
    <div class="modal-header bg-primary">
      {{mode}} INPUT TEST RESULT
      <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">X</span>
      </button>
    </div>
    <div class="modal-body">

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group" *ngIf="dataAllPatients">
            <label>Choose patient:</label>
            <!-- <select class="form-control" [(ngModel)]="ic_no" (change)="setPatient($event.target.value)"
              [disabled]="mode=='EDIT'">
              <option [value]="patient.ic_no" *ngFor="let patient of dataAllPatients">
                {{patient.ic_no}} - {{patient.person.name}}
              </option>
            </select> -->
            <br>
            <p-autoComplete [(ngModel)]="patient" [suggestions]="filteredSingle" field="patient" field = "name"
              (completeMethod)="filterSingle($event)" [size]="50" placeholder="Enter patient's name" [minLength]="1"
              [dropdown]="true" (onSelect)="selectPatient($event)">
              <ng-template let-patient pTemplate="item">
                {{patient.name}} ({{patient.ic_no}})
              </ng-template>
            </p-autoComplete><br>
            <!-- <span>Patient: {{patient ? patient.name||patient : 'none'}}</span> -->
          </div>

          <div class="form-group" *ngIf="dataAllTestPanel">
            <label>Choose test panel:</label>
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let panel of dataAllTestPanel">
                <span class="badge badge-warning">{{panel.test_panel_code}}</span> - {{panel.name}}
                <button class="btn btn-sm btn-primary btn-round pull-right" (click)="selectTestMarker(panel)"
                  [disabled]="!selectedPatient || mode=='EDIT'">select test</button>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6" style="border-left: solid 1px lightgray;">
          <h3 class="font-weight-bold text-blue">INPUT RESULT</h3>
          <div *ngIf="selectedPatient">
            Patient: <b>{{selectedPatient.name}}</b> ({{selectedPatient.ic_no}})
          </div>
          <div *ngIf="!selectedPatient">
            <i>Please choose Patient</i>
          </div>
          <div class="pt-3"></div>
          <div *ngIf="!selectedTestMarker && selectedPatient"><i>Please select test</i></div>
          <div *ngIf="selectedTestMarker">
            <h3 class="font-weight-bold text-blue">{{selectedTestMarker.name}}</h3>
            <div [formGroup]="dataFormMarker" *ngIf="dataFormMarker">
              <div class="form-group">
                <label>Test Date:&nbsp;</label>
                <p-calendar formControlName="test_date" dateFormat="yy-mm-dd" *ngIf="mode=='NEW'"></p-calendar>
                <span *ngIf="mode=='EDIT'" class="font-weight-bold">{{dataFormMarker.get('test_date').value}}</span>
              </div>
              <div formArrayName="results">
                <table class="table table-sm">
                  <tr *ngFor="let marker of dataFormMarker.get('results').controls; let p=index; let l=last"
                    [formGroupName]="p">
                    <td>
                      <div class="small">
                        <span>{{marker.controls.test_marker_name.value}}</span>
                       </div>
                      <span class="text-secondary small">{{marker.controls.test_marker_code.value}} </span>
                      <span class="text-secondary small" *ngIf="marker.controls.test_marker_unit.value">
                        ({{marker.controls.test_marker_unit.value}})</span>
                    </td>
                    <td>
                        <input formControlName="test_value" class="form-control" size="6" /> 
                        <span class="small text-secondary pull-right">Format: {{marker.controls.test_marker_format.value==0?'No':marker.controls.test_marker_format.value}} decimal point</span>
                        <div *ngIf="isSubmitted && !isValidDecimalPlaces(marker.get('test_value').value,marker.get('test_marker_format').value)" class="field-validation-error small">
                          <div class="text-danger">Invalid format</div>
                        </div>
                      </td>
                  </tr>
                </table>
              </div>
            </div>
            <button type="button" class="btn btn-sm btn-round btn-primary pull-right" (click)="saveInput()">
              Save result</button>
          </div>
        </div>
      </div>

    </div>
    <div class="card-footer ">
      <button type="button" class="btn btn-sm btn-round btn-secondary pull-right" (click)="modalRef.hide()">
        Close</button>
    </div>
  </div>
</ng-template>