 
 
.centericon{
    font-size:18px;
    position:absolute;
    top:-8px;
    left:20px;
    transform:translate(-40%,0);
    z-index:99;
    background:white;
  }


  ::ng-deep .mat-horizontal-stepper-header{
    pointer-events: none !important;
  }


  .center {
    margin: auto;
    width: 50%;
    padding: 10px;
  }

  .text-red{
    color:red;
  }

  .hide-product-info{
    display:none;
  }

   
  
  
 