<div class="row">
  <div class="col-md-12">
    <h1 class="font-weight-bold">
      ACCOUNT
    </h1>
    This is your main account dashboard for you to manage the community account.
    </div>
</div>

<div class="pt-3"></div>

<div class="row">
    <div class="welcome-label">Hello <b>{{user.person.name.toUpperCase()}}</b></div>
</div>

<div class="pt-3"></div>

<h2>REGISTERED MEMBER</h2>

<div class="row" style="width: 70%;">
  <div class="col-md-6">
    <div class="myhc-card text-center"> 
      <h2>MAIN ACCOUNT USER</h2>

      <img class="slick-slider-img" src="https://via.placeholder.com/80x90" alt="">

      <div class="pt-3"></div>

      <table class="table table-borderless">
        <tbody>
          <tr>
            <td style="text-align: left;">NRIC</td>
            <td style="text-align: left;">: {{selectedPatientData.ic_no}}</td>
          </tr>
          <tr>
            <td style="text-align: left;">MyHC ID</td>
            <td style="text-align: left;">: {{selectedPatientData.reg_no}}</td>
          </tr>
          <tr>
            <td style="text-align: left;">Account Type</td>
            <td style="text-align: left;">: {{selectedPatientData.user_account.acc_type_code}}</td>
          </tr>
          <tr>
            <td style="text-align: left;">Date of Birth</td>
            <td style="text-align: left;">: </td>
          </tr>
          <tr>
            <td style="text-align: left;">Date of Registration</td>
            <td style="text-align: left;">: {{selectedPatientData.user_account.date_created}}</td>
          </tr>
          <tr>
            <td style="text-align: left;">Mobile No.</td>
            <td style="text-align: left;">: {{selectedPatientData.person.mobile_no}}</td>
          </tr>
          <tr>
            <td style="text-align: left;">Email</td>
            <td style="text-align: left;">:   {{selectedPatientData.person.email}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-md-6">

    <ngb-accordion [closeOthers]="true" activeIds="static-1">
      <ngb-panel id="static-2" title="Simple">
        <ng-template ngbPanelHeader let-opened="opened">
          <div [class.collapsed]="!opened">
            <button ngbPanelToggle class="accordion-button" *ngIf="opened"><span class="accrodion-panel-title">MANAGE COMMUNITY NOTIFICATIONS</span></button>
            <button ngbPanelToggle class="accordion-button" *ngIf="!opened"><span class="accrodion-panel-title">MANAGE COMMUNITY NOTIFICATIONS</span></button>
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
          To send a message to the group community as a notification, type your message below. The message will be sent to the dashboard of all your community members.
          
          <div class="pt-3"></div>
 
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <textarea type="text" class="form-control"></textarea>
                <span class="legend">Maximum: 50 words</span>
              </div>
            </div>
          </div>

          <div class="card-footer">
            <button type="button" class="btn myhc-btn-fill pull-right" (click)="changePassword()">CONFIRM</button>
          </div>
  
          <div class="pt-3"></div>
        </ng-template>
      </ngb-panel>

      <ngb-panel id="static-3" title="Simple">
        <ng-template ngbPanelHeader let-opened="opened">
          <div [class.collapsed]="!opened">
            <button ngbPanelToggle class="accordion-button" *ngIf="opened"><span class="accrodion-panel-title">SETUP AN ADMIN USER</span></button>
            <button ngbPanelToggle class="accordion-button" *ngIf="!opened"><span class="accrodion-panel-title">SETUP AN ADMIN USER</span></button>
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
          You can setup an account access to another user within the members of your community. He or she will have the same access rights as a main user
          account. Choose from the list  of registered members. You can change the admin access at any time to any user.

          <div class="card-footer">
            <button type="button" class="btn myhc-btn-fill pull-right" (click)="changeAdminUser()">CONFIRM</button>
          </div>
  
          <div class="pt-3"></div>
        </ng-template>
      </ngb-panel>

      <ngb-panel id="static-4" title="Simple">
        <ng-template ngbPanelHeader let-opened="opened">
          <div [class.collapsed]="!opened">
            <button ngbPanelToggle class="accordion-button" *ngIf="opened"><span class="accrodion-panel-title">CHANGE PASSWORD</span></button>
            <button ngbPanelToggle class="accordion-button" *ngIf="!opened"><span class="accrodion-panel-title">CHANGE PASSWORD</span></button>
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
          To change your password as the main account user, please type in and retype for confirmation your new password. You will then need to log out to effect the new password.
          <div class="pt-3"></div>
 
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>NEW PASSWORD</label>
                <input type="password" class="form-control" [(ngModel)]="npass" >
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>RETYPE NEW PASSWORD</label>
                <input type="password" class="form-control" [(ngModel)]="rpass">
              </div>
            </div>              
          </div>

          <div class="card-footer">
            <button type="button" class="btn myhc-btn-fill pull-right" (click)="changePassword()">CONFIRM</button>
          </div>
  
          <div class="pt-3"></div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
    
  </div>
</div>
