<div class="row">
  <div class="col-sm-12">
    <h1 class="font-weight-bold pull-right">
      <span class="text-blue">TRANSACTION</span>&nbsp;<span class="text-green">MANAGEMENT</span>
    </h1>
  </div>
</div>

<div class="pt-3"></div>


<div class="card">
  <div class="card-body">
    <h2 class="font-weight-bold card-title">
      <i class="fa fa-th-large text-blue" style="font-size:18px"></i>&nbsp;
      <span class="text-blue">SEARCH</span>&nbsp;<span class="text-green">TRANSACTIONS</span>
    </h2>
    
    <div *ngIf="loading">
      <i class="spinner-border spinner-border-sm text-primary"></i> Loading data...
      <div class="pt-3"></div>
    </div>

    <p-table #dt [value]="dataTransaction" [responsive]="true" [paginator]="true" [rows]="10"
      [globalFilterFields]="['trans_no','ref_no','booking_no','payment_date','amount','status','remark']" *ngIf="!loading">
      <ng-template pTemplate="caption">
        <div style="text-align: right">
          <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
          <input type="text" pInputText size="50" placeholder="Global Filter"
            (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
          <br>
          <span class="small">* Search keywords by Transaction No or date (yyyy-mm-dd)</span>
        </div>

      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th width="6%">No.</th>
          <th>Transaction No.</th>
          <th width="18%">Ref. No.</th>
          <th width="18%">Booking No.</th>
          <th>Payment Date</th>
          <th>Amount</th>
          <th>Status</th>
          <th width="16%">Remakrs</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-transaction let-rowIndex="rowIndex">
        <tr>
          <td width="5%" style="vertical-align:top">
            <div class="ui-column-title text-green">#</div>
            <div>{{rowIndex+1}}</div>
          </td>
          <td style="vertical-align:top">
            {{ transaction.trans_no }}
          </td>
          <td style="vertical-align:top">
            {{ transaction.ref_no }}
          </td>
          <td style="vertical-align:top">
            {{ transaction.booking_no }}
          </td>
          <td style="vertical-align:top">
            {{ transaction.payment_date }}
          </td>
          <td style="vertical-align:top">
            {{ transaction.amount }}
          </td>
          <td style="vertical-align:top">
            {{ transaction.status }}
          </td>
          <td width="10%" style="vertical-align:top">
            <div class="text-center">
              {{ transaction.remark }}
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        {{dataTransaction?.length}} total records
      </ng-template>
    </p-table>

    

    <div *ngIf="isSearching">
      <i class="spinner-border spinner-border-sm text-primary"></i> Searching data...
    </div>

    <div *ngIf="!isSearching&&dataSearchTransaction?.length==0">No result found</div>

  </div>
</div>
