<div class="row">
  <div class="col-sm-12">
    <h1 class="font-weight-bold pull-right">
      <span class="text-blue">ADMIN</span>&nbsp;<span class="text-green">DASHBOARD</span>
    </h1>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div class="row mb-4">
      <div class="col-sm-12">
        <div class="rcorner-green">
          <div class="lefticon">
            <i class="fa fa-th-large text-blue"></i>
          </div>
          {{ 'dashboard.title_welcome' | translate }} <b><span class="text-blue">{{ 'main-title-1' | translate }}</span><span class="text-green">{{ 'main-title-2' | translate }}</span>&nbsp; <span class="text-blue">{{ 'project' | translate }}</span></b>.
          <br />
          {{ 'dashboard.title_welcomeDesc' | translate }}.
        </div>
      </div>
    </div>
   
    <div class="row mb-4">
      <div class="col-md-4">
        <div class="rcorner-green">
          <div class="lefticon" style="left: 100px !important;">
            <b><i class="fa fa-th-large text-blue"></i> &nbsp;<span class="text-blue">{{ 'dashboard.title_booking-1' | translate | uppercase }} </span>&nbsp;<span class="text-green">{{ 'dashboard.title_booking-2' | translate | uppercase }} </span></b>
          </div>
          <div class="row" style="padding: 5px 5px;">
            <div class="col-sm-12">
              {{ 'dashboard.title_bookingDesc' | translate }}
            </div>
            <div class="col-sm-12">
              <div class="pt-2"></div>
              <b class="text-blue">{{ 'dashboard.title_booking-1' | translate }} {{ 'dashboard.title_booking-2' | translate }}</b>
              
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="rcorner-green">
          <div class="lefticon" style="left: 100px !important;">
            <b><i class="fa fa-th-large text-blue"></i> &nbsp;<span class="text-blue">{{ 'dashboard.title_myhealthcard' | translate }}</span>&nbsp;<span class="text-green">{{ 'dashboard.title_account' | translate }}</span></b>
          </div>
          <div class="row" style="padding: 5px 5px;">
            <div class="col-sm-12">
              <b><span class="text-blue">{{ 'dashboard.title_main' | translate }}</span>&nbsp;<span class="text-green">{{ 'dashboard.title_accountUser' | translate }}</span></b>
            </div>
            
              <div class="col-md-12">
                <div class="pt-2"></div>
                <div class="row">
                  <div class="col-md-2">
                    <img src="./assets/images/avatar-1.jpg" width="100px">
                  </div>
                  <div class="col-md-10">
                    <table style="width:100%">
                      <tr>
                        <td style="width:20%">{{ 'dashboard.title_name' | translate }}:</td>
                        <td>ABC</td>
                      </tr>
                      <tr>
                        <td style="width:20%">{{ 'dashboard.title_register' | translate }}:</td>
                        <td>13-06-2022</td>
                      </tr>
                      <tr>
                        <td style="width:20%">{{ 'dashboard.title_nric' | translate }}:</td>
                        <td>888888-99-8888</td>
                      </tr>
                      <tr>
                        <td style="width:20%">{{ 'dashboard.title_myhcID' | translate }}:</td>
                        <td>P100000</td>
                      </tr>
                      <tr>
                        <td style="width:20%">{{ 'dashboard.title_dob' | translate }}:</td>
                        <td>13-06-2022</td>
                      </tr>
                      <tr>
                        <td style="width:20%">{{ 'dashboard.title_lastLogin' | translate }}:</td>
                        <td>13-06-2022 16:30:12 PM</td>
                      </tr>
                    </table>
                  </div>
                </div>
                
              </div>
            
            
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-5">
      <div class="col-md-12">
        <div class="rcorner-green">
          <div class="lefticon" style="left: 160px !important;">
            <b><i class="fa fa-th-large text-blue"></i>&nbsp;<span class="text-blue">{{ 'main-title-1' | translate | uppercase }} {{ 'main-title-2' | translate | uppercase }}</span>&nbsp;<span class="text-green">{{ 'dashboard.title_screening' | translate | uppercase }}</span></b> 
          </div>
    
          <div class="row" style="padding: 15px 15px;">
              <div class="col-md-5">
                  <div class="row" style="padding: 5px 5px;">
                      <b>
                      <span class="text-blue">{{ 'dashboard.title_population' | translate }}</span>&nbsp;    
                      <span class="text-green">{{ 'dashboard.title_byGender' | translate }}</span>
                      </b>
                      <ngx-charts-pie-chart
                      [view]="view"
                      [scheme]="colorScheme"
                      [results]="singleGender"
                      [gradient]="gradient"
                      [legend]="showLegend"
                      [legendPosition]="legendPosition"
                      [labels]="showLabels"
                      [doughnut]="isDoughnut"
                      >
                    </ngx-charts-pie-chart>        
                    
                  </div>
                  <div class="row" style="padding: 5px 5px;">
                    <b>
                    <span class="text-blue">{{ 'dashboard.title_population' | translate }}</span>&nbsp;    
                    <span class="text-green">{{ 'dashboard.title_byAge' | translate }}</span>
                    </b>
                    <ngx-charts-pie-chart
                    [view]="view"
                    [scheme]="colorScheme"
                    [results]="singleAge"
                    [gradient]="gradient"
                    [legend]="showLegend"
                    [legendPosition]="legendPosition"
                    [labels]="showLabels"
                    [doughnut]="isDoughnut"
                    >
                  </ngx-charts-pie-chart>        
                  
                </div>
              </div>
              <div class="col-md-7">
                <div class="row" style="padding: 5px 5px; margin-left: 30px;  ">
                  <b>
                  <span class="text-blue">{{ 'dashboard.title_ncd' | translate }}</span>&nbsp;    
                  <span class="text-green">{{ 'dashboard.title_byTestMarker' | translate }}</span>
                  </b>
                  <div style="margin-left: auto; margin-right: auto;">
                    <ngx-charts-bar-vertical
                    [view]="viewbar"
                    [scheme]="colorScheme"
                    [results]="singleMarker"
                    [gradient]="gradient"
                    [xAxis]="showXAxis"
                    [yAxis]="showYAxis"
                    [legend]="showLegend"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxisLabel]="xAxisLabel"
                    [yAxisLabel]="yAxisLabel">
                    </ngx-charts-bar-vertical>
                  </div>
                </div>
                <button class="btn btn-sm btn-round btn-primary pull-right" (click)="expandSummary(tmpNCDSummary, 1)">
                  <i class="fa fa-plus"></i>{{ 'dashboard.title_expandSummary' | translate }}
                </button>

                <div class="row mt-5" style="padding: 5px 5px; margin-left: 30px;">
                  <mat-tab-group (selectedTabChange)="tabClick($event)" style="width: 100% !important;">
                    <mat-tab *ngFor="let marker of singleMarker">
                      <ng-template mat-tab-label>
                        <span (click)="viewSummary(tmpSpecificNCDSummary, marker.name)">{{marker.name}}</span>
                      </ng-template>
                    </mat-tab>
                  </mat-tab-group>
                
                </div>

              </div>
            </div>
          </div>
        </div>
    </div>
 
  </div>
</div>

<ng-template #tmpNCDSummary let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <b><span class="text-blue">
        {{ 'dashboard.title_ncd' | translate }}</span>&nbsp;<span class="text-green">{{ 'dashboard.title_byTestMarker' | translate }}</span><br />
        {{ 'dashboard.ncd-popup.title' | translate }}.
      </b>
      
      <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">X</span>
      </button>
    </div>
    <div class="modal-body">
     
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4">
            <span class="text-green">{{ 'dashboard.ncd-popup.title_clickMarker' | translate }}</span>
            <br />
            <span *ngFor="let marker of singleMarker" (click)="showMarker(marker.name)">
              {{ marker.name }}<br />
            </span>
          </div>
          <div class="col-md-8">
            
            <div class="rcorner-green">
              <div class="row" style="padding: 5px 5px;">
                <div class="col-sm-12">
                  <b><i class="fa fa-th-large text-blue"></i> &nbsp;<span class="text-blue">{{ 'dashboard.ncd-popup.title_aboutMarker' | translate | uppercase }}: </span>&nbsp;<span class="text-green">{{ markerName }}</span></b>
                </div>
                <div class="col-sm-12">
                  <div class="pt-2"></div>
                  sdfsfsf
                  
                </div>
              </div>
            </div>
        
          </div>
        </div>

        <div class="row">
          <div style="margin-left: auto; margin-right: auto;">
            <ngx-charts-bar-vertical
            [view]="NCDModalView"
            [scheme]="colorScheme"
            [results]="singleMarker"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel">
            </ngx-charts-bar-vertical>
          </div>
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <button class="btn btn-sm btn-secondary btn-round pull-right" (click)="modalRef.hide()">Close</button>
    </div>
  </div>
</ng-template>

<ng-template #tmpSpecificNCDSummary let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <b><span class="text-blue">
        {{ 'dashboard.title_ncd' | translate }}</span>&nbsp;<span class="text-green">{{ 'dashboard.title_byTestMarker' | translate }}</span><br />
      </b>
      
      <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">X</span>
      </button>
    </div>
    <div class="modal-body">
     
      <div class="col-md-12">
        <div class="row">
          <div class="rcorner-green">
            <div class="lefticon" style="left: 160px !important;">
              <b><i class="fa fa-th-large text-blue"></i> &nbsp;<span class="text-blue">{{ 'dashboard.ncd-popup.title_aboutMarker' | translate | uppercase }}: </span>&nbsp;<span class="text-green">{{ summaryDetail }}</span></b>
            </div>
            <div class="row" style="padding: 5px 5px;">
              <div class="col-md-12">
                Descriiption
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div style="margin-left: auto; margin-right: auto;">
            <ngx-charts-line-chart
            [view]="view"
            [scheme]="colorScheme"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [timeline]="timeline"
            [showRefLines]="showRefLines"
            [referenceLines]="referenceLines"
            [results]="multi">
            </ngx-charts-line-chart>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-sm btn-secondary btn-round pull-right" (click)="modalRef.hide()">Close</button>
    </div>
  </div>
</ng-template>