<!-- <section class="  text-center common-img-bg"> -->
<!-- starts -->
<div class="container-fluid">
  <div class="row">
    <!-- <div class="col-sm-1"></div> -->
    <div class="col-sm-12">
      <!-- Authentication card start -->
      <div class="card-body">
        <!-- <form class="md-float-material"> -->

        <div class="card">
          <div class="card-body">
            <div class="text-center">
              <img src="assets/images/logo-myhc.png" alt="MyHC" width="193"><br>
              <span class="text-green" style="font-size: 36px; font-weight: bolder;">REGISTRATION</span>
            </div>

            <div class="row">

              <div class="col-sm-12 ">

                <!-- <mat-vertical-stepper [linear]="false" #stepper (selectionChange)="selectionChange($event)" > -->
                <mat-horizontal-stepper [linear]="true" #stepper labelPosition="bottom">

                  <!-- STEP 1: CHOOSE TYPE OF ACCOUNT   editable="false" [completed]="false" [optional]="false"-->
                  <mat-step>
                    <h3 class="font-weight-bold text-blue">STEP 1: CHOOSE TYPE OF ACCOUNT</h3>

                    <div class="pt-2"></div>
                    <!-- <div class="row" *ngIf="packageCategories">
                      <div class="col-sm-6" *ngFor="let pCategory of packageCategories">
                        <div class="card" >
                          <div class="card-body">
                            <div class="form-check">
                              <label class="form-check-label">
                                <input type="radio" class="form-check-input" required name="optPackageCategory"
                                  [(ngModel)]="selectedPackageCategory"
                                  (change)="onPackageCategoryOptChange(pCategory.category_code)"
                                  [value]="pCategory.category_code"> <span class="text-green font-weight-bold">{{pCategory.category_code}}</span> 
                              </label>
                            </div>
                          </div>
                          <div class="card-footer text-dark" [innerHTML]="pCategory.description">
                          </div>
                        </div>
                      </div>
                    </div> -->
                    <div class="row" *ngIf="groupPlanPackages">
                      <div class="col-sm-4" *ngFor="let package of groupPlanPackages | keyvalue">

                        <div class="card" *ngFor="let plan of package.value">
                          <div class="card-body">
                            <div class="form-check">
                              <label class="form-check-label">
                                <input type="radio" class="form-check-input" required [(ngModel)]="selectedPlan"
                                  [value]="plan.package_code"> <span
                                  class="text-green font-weight-bold">{{plan.single_package}}</span>
                              </label>
                            </div>
                          </div>
                          <div class="card-footer text-blue" [innerHTML]="plan.description">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div style="margin-top: 30px;" class="text-right">
                      <button class="btn btn-primary btn-round " mat-button
                        (click)="verifyTypeRegistration()">NEXT</button>
                    </div>
                  </mat-step>

                  <!-- STEP 2 : ENTER THE MAIN ACCOUNT HOLDER DETAILS -->
                  <!-- <mat-step  errorMessage="Your details is required." editable="false"
                    [optional]="false" [completed]="false"> -->
                  <mat-step>
                    <h3 class="font-weight-bold text-blue">STEP 2 : ENTER THE MAIN ACCOUNT HOLDER DETAILS</h3>
                    <span class="text-primary" *ngIf="!formDetails.invalid"><br> Done</span>
                    <div class="pt-2"></div>

                    <!-- <div class="row" *ngIf="selectedPackageCategory =='DEPENDENT' && !isVerifiedDependent">
                      <div class="col-sm-12 text-center">
                        You have chose Dependent Package Plan. Please enter IC No of your dependent for
                        verification.<br>
                        <input type="text" placeholder="Enter IC No without dash '-'" maxlength="12"
                          [(ngModel)]="dependentIcNo">&nbsp;
                        <button type="button" class="btn btn-sm btn-round btn-primary"
                          (click)="verifyDependentIcNo()">Verify IC No</button>
                      </div>
                      <div class="col-sm-12 text-center">
                        <div class="pt-3"></div>
                        <span class="font-weight-bold text-danger" *ngIf="errorDependent">
                          The dependent's IC No has already registered. Please contact our <a
                            href="https://myhealthcard.com.my/contact-us/" target="_blank">helpdesk</a>.
                        </span>
                      </div>
                    </div> -->

                    <form [formGroup]="formDetails" class="text-left">
                      <!-- <div class="row">
                        <div class="col-sm-12" *ngIf="selectedPackageCategory =='DEPENDENT'">
                          Dependent IC No: <b>{{dependentIcNo}}</b><br><span class="text-success font-weight-bold"><i
                              class="fa fa-check-circle"></i> Successfully verified</span>
                        </div>
                      </div> -->

                      <div class="row">
                        <div class="col-sm-12">
                          <div class="pt-3"></div>
                          <span>Please enter your details:</span>
                          <!-- <span
                            *ngIf="!(selectedPackageCategory =='DEPENDENT' || selectedPackageCategory =='CORPORATE')">Please
                            enter your details:</span>
                          <span
                            *ngIf="selectedPackageCategory =='DEPENDENT' || selectedPackageCategory =='CORPORATE'">Please
                            enter the details of the MAIN ACCOUNT HOLDER:</span> -->
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="flex-container">
                            <mat-form-field>
                              <input matInput placeholder="Full name as per National Registration IC (MYKAD)"
                                formControlName="name" required maxlength="100">
                            </mat-form-field>
                            <mat-form-field>
                              <input matInput placeholder="IC Card (MYKAD) Number without dash '-'"
                                formControlName="ic_no" required maxlength="12">
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="flex-container">
                            <mat-form-field>
                              <input matInput placeholder="Email address" formControlName="email" required>
                            </mat-form-field>
                            <mat-form-field>
                              <input matInput placeholder="Mobile number" formControlName="mobile_no" required>
                              <span matPrefix>+60&nbsp;</span>
                            </mat-form-field>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-sm-6">
                          <div class="flex-container">
                            <mat-form-field appearance="fill">
                              <mat-label>Date Of Birth</mat-label>
                              <input matInput [matDatepicker]="picker" formControlName="date_of_birth">
                              <mat-hint>MM/DD/YYYY</mat-hint>
                              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                              <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="flex-container">
                            <mat-form-field appearance="fill">
                            <mat-label>Screening Centre</mat-label>
                            <mat-select formControlName="screening_location">
                              <!-- <mat-option>Cancel</mat-option> -->
                              <mat-option *ngFor="let location of dataScreening" [value]="location.sc_id">{{ location.sc_name }} - {{ location.sc_address }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                          </div>
                        </div>
                      </div>

                      <!-- <div>
                        <div class="pt-5"></div>
                        <input type="checkbox" formControlName="chk_tnc" value="Yes"> Check here to confirm that you
                        agree to our
                        <a href="https://myhealthcard.com.my/terms-conditions" target="_blank">TERMS & CONDITIONS</a>
                        and <a href="https://myhealthcard.com.my/privacy-policy" target="_blank">PRIVACY POLICY</a>.
                      </div> -->
                    </form>

                    <div style="margin-top: 30px;" class="text-right">
                      <button class="btn btn-primary btn-round mr-1 " mat-button (click)="startOver()">START
                        OVER</button>
                      <button class="btn btn-primary btn-round mr-1" mat-button (click)="previous()">BACK</button>
                      <button class="btn btn-primary btn-round mr-1" mat-button (click)="verifyDetails()">NEXT</button>
                    </div>
                  </mat-step>

                  <!-- Step 3: NON-COMMUNICABLE DISEASE (NCD)  -->
                  <!-- [stepControl]="formNCD" [completed]="false" [optional]="false"-->
                  <mat-step>
                    <h3 class="font-weight-bold text-blue">Step 3: NON-COMMUNICABLE DISEASE (NCD) RISK PROFILE
                      QUESTIONAIRE</h3>
                    <h4 class="text-blue">As part of registering for the account, all MAUs are required to fill up a
                      Non-Communicable Disease (NCD)
                      questionnaire with has been designed to follow the World Health Organization (WHO) STEPwise
                      Approach to NCD Risk Factor Surveillance (STEPS).
                      Please fill this preliminary questionnaire before proceeding to complete the account registration.
                      You can complete the full questionnaire at the main dashboard of the app once you have registered.
                    </h4>
                    <!--<span class="text-primary" *ngIf="!formNCD.invalid"><br> Done</span>-->

                    <form [formGroup]="formNCD" *ngIf="formNCD">
                      <div class="row">
                        <div class="col-sm-4">
                          <div class="card">
                            <div class="card-body">
                              <h5 class="card-title"><span class="text-green">TOBACCO USE</span></h5>
                              <div class="row">
                                <p class="card-text" style="width: 15rem; margin-top: 20px; margin-left: 15px;">
                                  Do you currently smoke any tobacco products,
                                  such as cigarettes, cigars or pipes
                                </p>
                                <div class="form-check" style="margin-left: 5px; margin-top: 20px;">
                                  <input id="tabaccoYes" type="radio" value="YES" name="tabacco_use"
                                    formControlName="tabacco_use">
                                  <label style="margin-left: 5px;" for="tabaccoYes">YES</label>
                                  <br>
                                  <input id="tabaccoNo" type="radio" value="NO" name="tabacco_use"
                                    formControlName="tabacco_use">
                                  <label style="margin-left: 5px;" for="tabaccoNo">NO</label>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="card">
                            <div class="card-body">
                              <h5 class="card-title"><span class="text-green">ALCOHOL CONSUMPTION</span></h5>
                              <div class="row">
                                <p class="card-text" style="width: 15rem; margin-top: 20px; margin-left: 15px;">
                                  Have you ever consumed an alcoholic drink such as beer, wine,
                                  spirits, or fermented cider or any local alcohol beverage.
                                </p>
                                <div class="form-check" style="margin-left: 5px; margin-top: 20px;">
                                  <input id="alcoholYes" type="radio" value="YES" name="alcohol_consumption"
                                    formControlName="alcohol_consumption">
                                  <label style="margin-left: 5px;" for="alcoholYes">YES</label>
                                  <br>
                                  <input id="alcoholNo" type="radio" value="NO" name="alcohol_consumption"
                                    formControlName="alcohol_consumption">
                                  <label style="margin-left: 5px;" for="alcoholNo">NO</label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="col-sm-4">
                          <div class="card">
                            <div class="card-body">
                              <h5 class="card-title"><span class="text-green">DIET</span></h5>
                              <div class="row">
                                <div class="col-sm-6">
                                  <p class="card-text" style="width: 10rem; margin-top: 20px; margin-left: 15px;">
                                    In a typical week, on how many days do you eat fruits?
                                  </p>
                                </div>
                                <div class="col-sm-6">
                                  <mat-form-field appearance="fill"
                                    style="width:120px; margin-left: 5px; margin-top: 20px;">
                                    <mat-label>Choose</mat-label>
                                    <mat-select value="1" #chkFruitDisable formControlName="diet_eat_fruit">
                                      <!-- <mat-option>Cancel</mat-option> -->
                                      <mat-option *ngFor="let day of sevenDays" [value]="day.no">{{day.text}}
                                      </mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                </div>

                                <!-- [(ngModel)]="formNCD.get('diet_eat_fruit').value"  -->


                              </div>
                              <div class="row">
                                <div class="col-sm-6">
                                  <p class="card-text" style="width: 10rem; margin-top: 20px; margin-left: 15px;">
                                    In a typical week, on how many days do you eat vegetables?
                                  </p>
                                </div>
                                <div class="col-sm-6">
                                  <mat-form-field appearance="fill"
                                    style="width:120px; margin-left: 5px; margin-top: 20px;">
                                    <mat-label>Choose</mat-label>
                                    <mat-select value="1" #chkVegeDisable formControlName="diet_eat_vege">
                                      <!-- <mat-option>Cancel</mat-option> -->
                                      <mat-option *ngFor="let day of sevenDays" [value]="day.no">{{day.text}}
                                      </mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                </div>

                                <!-- [(ngModel)]="formNCD.get('diet_eat_vege').value"  -->


                              </div>
                            </div>
                          </div>
                          <div class="card">
                            <div class="card-body">
                              <h5 class="card-title"><span class="text-green">PHYSICAL ACTIVITY</span></h5>
                              <div class="row">
                                <p class="card-text" style="width: 15rem; margin-top: 20px; margin-left: 15px;">
                                  Do you do any sports, fitness or recreational (leisure) activities that cause
                                  large increases in breathing or heart rate like for at least 10 minutes continuously?
                                </p>
                                <div class="form-check" style="margin-left: 5px; margin-top: 20px;">
                                  <input id="physicalYes" type="radio" value="YES" name="physical_activities"
                                    formControlName="physical_activities">
                                  <label style="margin-left: 5px;" for="physicalYes">YES</label>
                                  <br>
                                  <input id="physicalNo" type="radio" value="NO" name="physical_activities"
                                    formControlName="physical_activities">
                                  <label style="margin-left: 5px;" for="physicalNo">NO</label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="col-sm-4">
                          <div class="card">
                            <div class="card-body">
                              <h5 class="card-title"><span class="text-green">HISTORY OF DIABETES AND RAISED BLOOD
                                  PRESSURE</span></h5>
                              <div class="row">
                                <div class="col-sm-12">
                                  <p class="card-text" style="margin-top: 20px; margin-left: 15px;">
                                    Have you ever been told by a doctor or other health worker that you have:
                                  </p>
                                </div>
                                <div class="col-sm-8">
                                  <p class="card-text" style=" margin-top: 20px; margin-left: 15px;">
                                    A raised blood sugar or diabetes
                                  </p>
                                </div>
                                <div class="col-sm-4 " style="margin-top: 20px;">
                                  <div class="form-check-inline">
                                    <label class="form-check-label">
                                      <input type="radio" class="form-check-input" value="YES"
                                        formControlName="history_hypertension"> YES
                                    </label>
                                  </div>
                                  <div class="form-check-inline">
                                    <label class="form-check-label">
                                      <input type="radio" class="form-check-input" value="NO"
                                        formControlName="history_hypertension"> NO
                                    </label>
                                  </div>

                                </div>
                                <div class="col-sm-8">
                                  <p class="card-text" style=" margin-top: 30px; margin-left: 15px;">
                                    A raised blood pressure or hypertension
                                  </p>
                                </div>
                                <div class="col-sm-4" style="margin-top: 30px;">
                                  <div class="form-check-inline">
                                    <label class="form-check-label">
                                      <input type="radio" class="form-check-input" value="YES"
                                        formControlName="history_diabetes"> YES
                                    </label>
                                  </div>
                                  <div class="form-check-inline">
                                    <label class="form-check-label">
                                      <input type="radio" class="form-check-input" value="NO"
                                        formControlName="history_diabetes"> NO
                                    </label>
                                  </div>

                                </div>

                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                    <div style="margin-top: 30px;" class="text-right">
                      <button class="btn btn-primary btn-round mr-1 " mat-button (click)="startOver()">START
                        OVER</button>
                      <button class="btn btn-primary btn-round mr-1" mat-button (click)="previous()">BACK</button>
                      <button class="btn btn-primary btn-round mr-1" mat-button (click)="verifyFormNCD()">NEXT</button>
                    </div>
                  </mat-step>

                   <!-- STEP 4: TERMS AND CONDITIONS  -->
                  <mat-step editable="false" [optional]="false" [completed]="false">
                    <h3 class="font-weight-bold text-blue">STEP 4: TERMS AND CONDITIONS</h3>
                    <!--<span class="text-primary" *ngIf="!formTermService.invalid"><br> Done</span>-->
                    <div class="pt-2"></div>
                    <input type="checkbox" value="Yes" [(ngModel)]="checkTermCondition">

                    Check here to confirm that you agree to our
                    <a [href]="localhost+'/terms-conditions'" target="_blank">TERMS & CONDITIONS</a>
                    and <a [href]="localhost+'/privacy-policy'" target="_blank">PRIVACY POLICY</a>.
                    <p style="margin-top: 10px;">After you have clicked on Next button, a notification SMS will be sent
                      to your mobile to verify your phone number.</p>

                      <div class="pt-3"></div>
                      <div class="text-right" *ngIf="isSendingSMS">
                        <i class="spinner-border spinner-border-sm text-primary"></i> Sending you an sms...
                      </div>

                    <div style="margin-top: 30px;" class="text-right">
                      <button class="btn btn-primary btn-round mr-1 " mat-button (click)="startOver()" [disabled]="isSendingSMS">START
                        OVER</button>
                      <button class="btn btn-primary btn-round mr-1" mat-button (click)="previous()" [disabled]="isSendingSMS">BACK</button>
                      <button class="btn btn-primary btn-round mr-1" mat-button
                        (click)="sentSmsSixDigitCode()" [disabled]="isSendingSMS">NEXT</button>
                    </div>
                  </mat-step>

                  <!-- STEP 5 : CONFIRMATION  -->
                  <mat-step [completed]="codeConfirmation" [completed]="false">
                    <h3 class="font-weight-bold text-blue">STEP 5 : CONFIRMATION</h3>
                    <span class="text-primary" *ngIf="codeConfirmation"><br> Done</span>
                    <div class="pt-2"></div>
                    Please enter the 6-digit code received from your registered mobile phone
                    (+60{{formDetails.get("mobile_no").value}}).
                    Click NEXT to proceed the registration.
                    <div class="pt-3"></div>
                    <div class="row">
                      <div class="col-sm-12" style="text-align:center">
                        <div style="width:120px;display: inline-block; ">
                          <input type="password" size="6" maxlength="15" placeholder="Enter 6-digit-code"
                            class="form-control form-control-lg" [(ngModel)]="sixDigitCode"
                            [ngModelOptions]="{standalone: true}">
                        </div>
                      </div>
                    </div>
                    <div class="pt-3"></div>
                    <div class="text-right" *ngIf="isRegistering">
                      <i class="spinner-border spinner-border-sm text-primary"></i> Registering your account...
                    </div>
                    <div class="text-right">
                      <div class="pt-2"></div>
                      <button class="btn btn-primary btn-round mr-1 " mat-button (click)="startOver()"
                        [disabled]="isRegistering" >START OVER</button>
                      <button class="btn btn-primary btn-round mr-1" mat-button (click)="previous()"
                        [disabled]="isRegistering">BACK</button>
                      <button class="btn btn-primary btn-round mr-1" mat-button (click)="verifyCode()"
                        [disabled]="isRegistering" [disabled]="!sixDigitCode">NEXT</button>
                      <!-- <button class="btn btn-round btn-sm btn-primary" mat-button (click)="verifyCode()"
                        [disabled]="!sixDigitCode">Confirm</button> -->
                    </div>
                  </mat-step>

                  <!-- <mat-step editable="false" [completed]="false" [optional]="false">
                    <h3 class="font-weight-bold text-blue">Step 5: Payment</h3>
                    <div class="pt-2"></div>
                    <div class="card" *ngIf="selectedPlan">
                      <div class="card-body">
                        <div class="card-header">
                          <h5>{{selectedPlan.single_package}}</h5>
                        </div>
                        <div class="card-body text-left">
                          <i class="fa fa-caret-right"></i>
                          Package covers :
 
                          <br>
                          <pre>{{selectedPlan.test_included}}</pre>
                          <h5>Price to be paid: <span class="badge badge-pill badge-warning"
                              style="font-size: 14px;">RM{{selectedPlan.price}}</span></h5>
                        </div>
                      </div>
                    </div>

                    <div class="text-right">
                      <button class="btn btn-round btn-primary" mat-button (click)="makePayment()">Make a
                        payment</button>
                    </div>
                  </mat-step> -->

                  <!-- STEP 6 : COMPLETION OF REGISTRATION  -->
                  <mat-step [completed]="false" editable="false">
                    <h3 class="font-weight-bold text-blue">STEP 6 : COMPLETION OF REGISTRATION</h3>
                    <div class="pt-2"></div>
                    Congratulations! You will receive an SMS and email with your username and temporary password for you
                    to now access your account.
                    <div class="pt-3"></div>
                    <a [routerLink]="['/login']" class="btn btn-primary btn-round pull-right m-b-20">HOME</a>
                  </mat-step>
                  <!-- </mat-vertical-stepper> -->
                </mat-horizontal-stepper>
              </div>
            </div>
            <!-- </div> -->

          </div>
          <div class="text-center text-green font-weight-bold">
            © <a [href]="localhost+'/'">MYHEALTHCARD™</a> by BMZ TECHNOLOGIES SDN BHD (1367481-W) 2021.<br>
            All rights reserved.
            <br>
          </div>

        </div>
        <!-- </form> -->
        <!-- end of form -->

      </div>

      <!-- Authentication card end -->
    </div>
    <!-- <div class="col-sm-1"></div> -->
    <!-- end of col-sm-12 -->
  </div>
  <!-- end of row -->
</div>
<!-- end of -->
<!-- </section> -->