<div class="row">
  <div class="col-sm-12">
    <h1 class="font-weight-bold pull-right">
      <span class="text-blue">NEW USER </span>&nbsp;<span class="text-green">REGISTRATION</span>
    </h1>
  </div>
</div>
<div class="pt-3"></div>

<div class="modal-header bg-primary">
  New Registration
</div>
<div class="modal-body" [formGroup]="formDetails">

  <div class="row" *ngIf="screeningPlans">
    <div class="col-sm-6">
      Legend: <span class="badge badge-success">COMMERCIAL</span><span class="badge badge-danger">NON-COMMERCIAL (customized)</span>
      <div class="pt-2"></div>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let item of screeningPlans ">
          <b>{{item.category}}</b>
          <div class="form-check" *ngFor="let plan of item.plans"
            [ngClass]="{'bg-primary':plan.package_code==formDetails.get('package_code').value}">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" [value]="plan.package_code" name="optPackageCode"
                (change)="optChange($event)">
              <span class="badge" [ngClass]="{'badge-success':plan.commercial=='YES', 'badge-danger':plan.commercial=='NO'}">{{plan.package_code}}</span>
              <span [ngClass]="{'font-weight-bold':plan.package_code==formDetails.get('package_code').value}">
                {{plan.single_package}} (MYR{{plan.price}})</span>
            </label>
          </div>
        </li>
      </ul>
      <div *ngIf="isSubmitted && formDetails.get('package_code').invalid" class="field-validation-error small">
        <div class="text-danger">Package plan is required</div>
      </div>
    </div>
    <div class="col-sm-6 " style="border-left: solid 1px lightgray;">
      <div class="row">
        <div class="col-sm-12">
          <b class="text-green">MAIN USER ACCOUNT DETAILS</b>
          <div class="pt-3"></div>
        </div>

        <div class="col-sm-12">
          <div class="form-group">
            <label for="usr">Full Name:</label>
            <input type="text" class="form-control" formControlName="name" maxlength="100">
            <div *ngIf="isSubmitted && formDetails.get('name').invalid" class="field-validation-error small">
              <div class="text-danger">Name is required</div>
            </div>
          </div>
        </div>

        <div class="col-sm-6 ">
          <div class="form-group">
            <label for="usr">IC Card (MYKAD) Number without dash:</label>
            <input type="text" class="form-control" formControlName="ic_no" maxlength="12">
            <div *ngIf="isSubmitted && formDetails.get('ic_no').invalid" class="field-validation-error small">
              <div class="text-danger">IC No is required</div>
            </div>
          </div>
        </div>

        <div class="col-sm-6 ">
          <div class="form-group">
            <label for="usr">Email:</label>
            <input type="text" class="form-control" formControlName="email">
            <div *ngIf="isSubmitted && formDetails.get('email').invalid" class="field-validation-error small">
              <div class="text-danger">Email is required</div>
            </div>
          </div>
        </div>

        <div class="col-sm-8 ">
          <div class="form-group">
            <label for="usr">Mobile no:</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend ">
                <span class="input-group-text bg-white text-dark">+60</span>
              </div>
              <input type="text" class="form-control" formControlName="mobile_no">
            </div>
            <div *ngIf="isSubmitted && formDetails.get('mobile_no').invalid" class="field-validation-error small">
              <div class="text-danger">Mobile No is required</div>
            </div>
          </div>
        </div>

        <div class="col-sm-12">
          <b class="text-green">PAYMENT DETAILS</b>
          <div class="pt-3"></div>
        </div>

        <div class="col-sm-4">
          <div class="form-group">
            <label for="usr">Total Payment(MYR):</label>
            <input type="number" class="form-control" formControlName="amount_paid">
            <div *ngIf="isSubmitted && formDetails.get('amount_paid').invalid" class="field-validation-error small">
              <div class="text-danger">Total payment is required</div>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="form-group">
            <label for="usr">Reference no:</label>
            <input type="text" class="form-control" formControlName="payment_no">
            <div *ngIf="isSubmitted && formDetails.get('payment_no').invalid" class="field-validation-error small">
              <div class="text-danger">Reference no is required</div>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="form-group">
            <label for="usr">Payment Method:</label>
            <!-- <input type="text" class="form-control" id="usr"> -->
            <select class="form-control" formControlName="payment_method">
              <option value="CASH" *ngFor="let pm of paymentMethods" [value]="pm.code">{{pm.code}}</option>
            </select>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="form-group">
            <label for="usr">Date of payment:</label>
            <!-- <input type="text" class="form-control" formControlName="payment_date"> -->
            <p-calendar formControlName="payment_date" dateFormat="yy-mm-dd"></p-calendar>
            <div *ngIf="isSubmitted && formDetails.get('payment_date').invalid"
              class="field-validation-error small">
              <div class="text-danger">Payment date is required</div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
<div class="modal-footer">
  <button class="btn btn-sm btn-primary btn-round pull-right" (click)="registerNewUser()">Register</button>
</div>


