<div class="row">
    <div class="col-sm-12">
        <h1 class="font-weight-bold pull-right">
            <span class="text-blue">MANAGE</span>&nbsp;<span class="text-green">ADD ON SERVICES</span>
        </h1>
    </div>

    <div class="col-sm-12 bg-white">
        <button class="btn btn-sm btn-round btn-primary pull-right" tooltip="Add new" (click)="newAddOn(tmpAddOn)"
            placement="bottom"><i class="fa fa-plus"></i> New Plan</button>
        <div class="table-responsive">
            <table class="table" *ngIf="dataAddOn">
                <thead>
                    <th>Name</th>
                    <th>Price (MYR)</th>
                    <th>Status</th>
                </thead>
                <tbody>
                    <tr *ngFor="let addOn of dataAddOn">
                        <td><span class="badge badge-warning">{{addOn.add_on_code}}</span>  {{addOn.name}} 
                            <button class="btn btn-sm text-danger pull-right" (click)="deleteRecordAddOn(addOn)"
                                [tooltip]="'Delete ' + addOn.add_on_code" placement="bottom"><i
                                    class="fa fa-trash"></i></button>
                            <button class="btn btn-sm text-primary pull-right" (click)="editAddOn(tmpAddOn,addOn)"
                                [tooltip]="'Edit ' + addOn.add_on_code" placement="bottom"><i
                                    class="fa fa-pencil"></i></button>
                        </td>
                        <td>{{addOn.price}}</td>
                        <td>{{addOn.status}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<ng-template #tmpAddOn let-modal>
    <div class="modal-content">
        <div class="modal-header bg-primary">
            {{mode}} PLAN SERVICE
            <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">X</span>
            </button>
        </div>
        <div class="modal-body">
            <div [formGroup]="dataFormAddOn" *ngIf="dataFormAddOn">
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-3" *ngIf="mode=='EDIT'">
                                Code<br>
                                <b *ngIf="mode=='EDIT'"><span
                                        class="badge badge-warning badge-md">{{dataFormAddOn.get('add_on_code').value}}</span></b>
                            </div>
                            <div class="col-9">
                                Name
                                <input type="text" class="form-control" placeholder="Enter Name" id="name"
                                    formControlName="name">
                                <div *ngIf="isSubmitted && dataFormAddOn.get('name').invalid"
                                    class="field-validation-error small">
                                    <div class="text-danger">Name is required</div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-4">
                                Price (MYR)
                                <input type="text" class="form-control mr-sm-2" placeholder="0.00" id="price"
                                    formControlName="price">
                                <div *ngIf="isSubmitted && dataFormAddOn.get('price').invalid"
                                    class="field-validation-error small">
                                    <div class="text-danger">Price is required</div>
                                </div>
                            </div>
                            <!-- <div class="col-4">
                                Unit
                                <input type="text" class="form-control mr-sm-2" placeholder="Enter unit" id="unit"
                                    formControlName="unit">
                                <div *ngIf="isSubmitted && dataFormAddOn.get('unit').invalid"
                                    class="field-validation-error small">
                                    <div class="text-danger">Unit is required</div>
                                </div>
                            </div> -->
                            <!-- <div class="col">
                                Decimal Unit
                                <input type="text" class="form-control mr-sm-2" placeholder="Enter Decimal Unit"
                                    id="unit_decimal" formControlName="unit_decimal">
                                <div *ngIf="isSubmitted && dataFormAddOn.get('unit_decimal').invalid"
                                    class="field-validation-error small">
                                    <div class="text-danger">Decimal Unit is required</div>
                                </div>
                            </div> -->
                        </div>
                        <br>
                        <div class="row">
                            <!-- <div class="col-4">
                                Number of patient
                                <input type="text" class="form-control mr-sm-2" placeholder="Enter number of patient"
                                    id="no_of_patient" formControlName="no_of_patient">
                                <div *ngIf="isSubmitted && dataFormAddOn.get('no_of_patient').invalid"
                                    class="field-validation-error small">
                                    <div class="text-danger">Number of patient is required</div>
                                </div>
                            </div> -->
                            <!-- <div class="col-4">
                                Type of patient
                                <select class="form-control" formControlName="patient_type_code">
                                    <option *ngFor="let lookupPT of patientTypes" [value]="lookupPT.patient_type_code">
                                        {{lookupPT.patient_type_code}}
                                    </option>
                                </select>
                                <div *ngIf="isSubmitted && dataFormAddOn.get('patient_type_code').invalid"
                                    class="field-validation-error small">
                                    <div class="text-danger">Code is required</div>
                                </div>
                            </div> -->
                            <div class="col-4">
                                Status
                                <select class="form-control" formControlName="status" id="status">
                                    <option [value]="null">Please choose</option>
                                    <option *ngFor="let lookupST of statusTypes" [value]="lookupST.status">
                                        {{lookupST.status}}
                                    </option>
                                </select>
                                <div *ngIf="isSubmitted && dataFormAddOn.get('status').invalid"
                                    class="field-validation-error small">
                                    <div class="text-danger">Status is required</div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col">
                                Remark
                                <textarea type="text" class="form-control" placeholder="Enter remark" rows="5"
                                    formControlName="remark"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-white">
                    <div class="pull-right">
                        <button type="button" class="btn btn-sm btn-round btn-primary" (click)="saveAddOn()">
                            Save</button>
                        <button type="button" class="btn btn-sm btn-round btn-secondary" (click)="modalRef.hide()">
                            Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>