<div class="row">
    <h1 class="font-weight-bold">
      ASSESSMENTS
    </h1>
</div>

<div class="pt-3"></div>

<div class="row">
  <div class="welcome-label">Hello <b>{{user.person.name.toUpperCase()}}</b></div>
</div>

<div class="pt-3"></div>

<span class="myhc-card-title"><b>MENTAL HEALTH</b></span>

<div class="pt-3"></div>

<div class="row" style="width: 50%; margin-left: auto; margin-right: auto;">
  <div class="col-md-4">
    <button class="myhc-curve-btn-primary">IDENTITY QR CODE</button>
  </div>
  <div class="col-md-4">
    <button class="myhc-curve-btn-info">IDENTITY QR CODE</button>
  </div>
  <div class="col-md-4">
    <button class="myhc-curve-btn-default">IDENTITY QR CODE</button>
  </div>
</div>

<div class="pt-3"></div>

<div class="row" style="width: 50%; margin-left: auto; margin-right: auto;">
  <div class="col-md-6">
    <button class="myhc-btn-outlines active">Sometimes</button>
  </div>
  <div class="col-md-6">
    <button class="myhc-btn-outlines">Never</button>
  </div>
</div>
